{
  "swagger": "2.0",
  "info" : {
    "description" : "<h1>phoenix-ocean<\/h1>",
    "version" : "1.0",
    "title" : "phoenix-ocean"
  },
  "host" : "shipco.phxcloud.io",
  "basePath" : "/phoenix/1.0",
  "schemes" : [],
  "tags" : [
    {
      "name" : "BasicSearchResource"
      ,
      "description" : "This class contains the web services content for the Basic Search Resource."
    }
    ,
    {
      "name" : "BusinessRuleResource"
    }
    ,
    {
      "name" : "CommonSendDocumentsResource"
    }
    ,
    {
      "name" : "DocumentSearchResource"
    }
    ,
    {
      "name" : "EDocSearchResource"
      ,
      "description" : "Resource class for extracting edocs history."
    }
    ,
    {
      "name" : "ExecuteReportWebResource"
      ,
      "description" : "Execute Report Web Resource."
    }
    ,
    {
      "name" : "FileNumberAutoGenerateResource"
    }
    ,
    {
      "name" : "LoginResource"
      ,
      "description" : "Added for PHX-20326 - Web service to get loginbean."
    }
    ,
    {
      "name" : "LoginResource"
    }
    ,
    {
      "name" : "LotResource"
      ,
      "description" : "Added for PHX-21526."
    }
    ,
    {
      "name" : "OfficeSettingResource"
      ,
      "description" : "Added by smahajan:PHX-19299\r\nAs Phoenix user, Third Party events must show correct time format as per office setting."
    }
    ,
    {
      "name" : "OrganizationSearchResource"
      ,
      "description" : "This class is web service implementation for organization search."
    }
    ,
    {
      "name" : "PerlResource"
      ,
      "description" : "Webservice resource class for legacy platfrom to be used as webservice Arch\r\ngroup suggest , we should create channel in Phoexnix-App."
    }
    ,
    {
      "name" : "SailConfirmShipmentReceivedResource"
      ,
      "description" : "Web service resource class to add shipment received task in task manager of\r\nTS port if file is sail confirmed and current date >= ETA_DATE-X days."
    }
    ,
    {
      "name" : "SaveMainBookingResource"
      ,
      "description" : "Resource class for saving external booking."
    }
    ,
    {
      "name" : "ShipmentTransferResource"
      ,
      "description" : "Webservice resource class for Shipment Transfer to be used as webservice."
    }
    ,
    {
      "name" : "ThirdPartyStatusUpdateExecutionResource"
    }
  ],
  "definitions" : {
    "json_BasicSearchRequestBean" : {
      "type" : "object",
      "title" : "BasicSearchRequestBean",
          "properties" : {
            "reference" : {
"description" : "",
"type" : "string"
            },
            "referenceType" : {
"description" : "",
"type" : "string"
            },
            "loginArgs" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "object"
}
}
            },
            "serialversionuid" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_BookingBean" : {
      "type" : "object",
      "title" : "BookingBean",
          "properties" : {
            "bookingNumber" : {
"description" : "",
"type" : "number"
            },
            "commonBean" : {
"description" : "",
"$ref" : "#/definitions/json_CommonBean"
            },
            "truckerName" : {
"description" : "",
"type" : "string"
            },
            "proNumber" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "Added for PHX-21526"
    }
    ,
    "json_BookingEquipmentBean" : {
      "type" : "object",
      "title" : "BookingEquipmentBean",
          "properties" : {
            "pickupContainerCode" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerName" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerDate" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerTime" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisCode" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisName" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisDate" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisTime" : {
"description" : "",
"type" : "string"
            },
            "returnChassisCode" : {
"description" : "",
"type" : "string"
            },
            "returnChassisName" : {
"description" : "",
"type" : "string"
            },
            "returnChassisDate" : {
"description" : "",
"type" : "string"
            },
            "returnChassisTime" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerAddress1" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerAddress2" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerAddress3" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerState" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerZipcode" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisAddress1" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisAddress2" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisAddress3" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisState" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisZipcode" : {
"description" : "",
"type" : "string"
            },
            "returnChassisAddress1" : {
"description" : "",
"type" : "string"
            },
            "returnChassisAddress2" : {
"description" : "",
"type" : "string"
            },
            "returnChassisAddress3" : {
"description" : "",
"type" : "string"
            },
            "returnChassisState" : {
"description" : "",
"type" : "string"
            },
            "returnChassisZipCode" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerPhone" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisPhone" : {
"description" : "",
"type" : "string"
            },
            "returnChassisPhone" : {
"description" : "",
"type" : "string"
            },
            "pickupContainerTimeTo" : {
"description" : "",
"type" : "string"
            },
            "pickupChassisTimeTo" : {
"description" : "",
"type" : "string"
            },
            "returnChassisTimeTo" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This is the bean class for FCL booking Equipment details"
    }
    ,
    "json_BookingQuoteBean" : {
      "type" : "object",
      "title" : "BookingQuoteBean",
          "properties" : {
            "referenceNumber" : {
"description" : "",
"type" : "number"
            },
            "bookQuoteDate" : {
"description" : "This is Booking/Quote Date",
"type" : "string"
            },
            "bookingQuoteType" : {
"description" : "",
"type" : "string"
            },
            "handlingOffice" : {
"description" : "",
"type" : "string"
            },
            "quoteNumber" : {
"description" : "",
"type" : "number"
            },
            "userReference" : {
"description" : "",
"type" : "string"
            },
            "takenBy" : {
"description" : "This is quoted By/taken by",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "transmitToLocation1" : {
"description" : "",
"type" : "string"
            },
            "transmitToLocation2" : {
"description" : "",
"type" : "string"
            },
            "transmitToLocation3" : {
"description" : "",
"type" : "string"
            },
            "terms" : {
"description" : "",
"type" : "string"
            },
            "trackingCustomer1" : {
"description" : "",
"type" : "string"
            },
            "trackingCustomer2" : {
"description" : "",
"type" : "string"
            },
            "pickupNeeded" : {
"description" : "",
"type" : "string"
            },
            "bookingPrefix" : {
"description" : "",
"type" : "string"
            },
            "lineBooking" : {
"description" : "",
"type" : "string"
            },
            "lineCode" : {
"description" : "",
"type" : "string"
            },
            "faxYn" : {
"description" : "",
"type" : "string"
            },
            "purchaseDate" : {
"description" : "",
"type" : "number"
            },
            "supplierCode" : {
"description" : "",
"type" : "string"
            },
            "supplierName" : {
"description" : "",
"type" : "string"
            },
            "supplierAddress1" : {
"description" : "",
"type" : "string"
            },
            "supplierAddress2" : {
"description" : "",
"type" : "string"
            },
            "supplierAddress3" : {
"description" : "",
"type" : "string"
            },
            "supplierContact" : {
"description" : "",
"type" : "string"
            },
            "supplierPhone" : {
"description" : "",
"type" : "string"
            },
            "forwarderYn" : {
"description" : "",
"type" : "string"
            },
            "numberOfPieces" : {
"description" : "",
"type" : "number"
            },
            "ratingType" : {
"description" : "",
"type" : "string"
            },
            "uom" : {
"description" : "",
"type" : "string"
            },
            "remarks1" : {
"description" : "",
"type" : "string"
            },
            "remarks2" : {
"description" : "",
"type" : "string"
            },
            "transmit" : {
"description" : "",
"type" : "string"
            },
            "forwarderFax" : {
"description" : "",
"type" : "string"
            },
            "service" : {
"description" : "",
"type" : "string"
            },
            "portInformation" : {
"description" : "",
"type" : "string"
            },
            "lotNumber" : {
"description" : "",
"type" : "string"
            },
            "blNumber" : {
"description" : "",
"type" : "string"
            },
            "proNumber" : {
"description" : "",
"type" : "string"
            },
            "customRegistrationNumber" : {
"description" : "",
"type" : "string"
            },
            "consumerYn" : {
"description" : "",
"type" : "string"
            },
            "warehouseZip" : {
"description" : "",
"type" : "string"
            },
            "pickAtZip" : {
"description" : "",
"type" : "string"
            },
            "nmfc" : {
"description" : "",
"type" : "string"
            },
            "discount" : {
"description" : "",
"type" : "number"
            },
            "inputDate" : {
"description" : "",
"type" : "number"
            },
            "payorCode" : {
"description" : "",
"type" : "string"
            },
            "prepaidCredit" : {
"description" : "",
"type" : "string"
            },
            "aesAmsFlag" : {
"description" : "",
"type" : "string"
            },
            "serviceContract" : {
"description" : "",
"type" : "string"
            },
            "shipperEmail" : {
"description" : "",
"type" : "string"
            },
            "pfm" : {
"description" : "",
"type" : "string"
            },
            "intertrackFlag" : {
"description" : "",
"type" : "string"
            },
            "amsScacCode" : {
"description" : "",
"type" : "string"
            },
            "amsReference" : {
"description" : "",
"type" : "string"
            },
            "amsReferenceQualifire" : {
"description" : "",
"type" : "string"
            },
            "agentCode" : {
"description" : "",
"type" : "string"
            },
            "receivedVia" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "customerEmail2" : {
"description" : "",
"type" : "string"
            },
            "transmissionType" : {
"description" : "",
"type" : "string"
            },
            "documentCutoffTime" : {
"description" : "",
"type" : "string"
            },
            "vesselVoyageID" : {
"description" : "",
"type" : "number"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "shipmendID" : {
"description" : "",
"type" : "number"
            },
            "truckerAddress" : {
"description" : "",
"type" : "string"
            },
            "truckerCity" : {
"description" : "",
"type" : "string"
            },
            "truckerZipCode" : {
"description" : "",
"type" : "string"
            },
            "carrierCode" : {
"description" : "This is carrier info",
"type" : "string"
            },
            "carrierName" : {
"description" : "This is carrier info",
"type" : "string"
            },
            "frequency" : {
"description" : "",
"type" : "string"
            },
            "transitTime" : {
"description" : "",
"type" : "string"
            },
            "quoteCustomerFax" : {
"description" : "",
"type" : "string"
            },
            "routing" : {
"description" : "",
"type" : "string"
            },
            "typeOfUnits" : {
"description" : "",
"type" : "string"
            },
            "hazardousClass" : {
"description" : "",
"type" : "string"
            },
            "hazardousName" : {
"description" : "",
"type" : "string"
            },
            "hazardousName1" : {
"description" : "",
"type" : "string"
            },
            "unNumber" : {
"description" : "",
"type" : "string"
            },
            "unPageNo" : {
"description" : "",
"type" : "string"
            },
            "flashPoint" : {
"description" : "",
"type" : "number"
            },
            "temperatureUnit" : {
"description" : "",
"type" : "string"
            },
            "notes" : {
"description" : "",
"type" : "string"
            },
            "notes2" : {
"description" : "",
"type" : "string"
            },
            "notes3" : {
"description" : "",
"type" : "string"
            },
            "notes4" : {
"description" : "",
"type" : "string"
            },
            "notes5" : {
"description" : "",
"type" : "string"
            },
            "costing1" : {
"description" : "",
"type" : "string"
            },
            "costing2" : {
"description" : "",
"type" : "string"
            },
            "costing3" : {
"description" : "",
"type" : "string"
            },
            "costing4" : {
"description" : "",
"type" : "string"
            },
            "costing5" : {
"description" : "",
"type" : "string"
            },
            "costing6" : {
"description" : "",
"type" : "string"
            },
            "costing7" : {
"description" : "",
"type" : "string"
            },
            "costing8" : {
"description" : "",
"type" : "string"
            },
            "costing9" : {
"description" : "",
"type" : "string"
            },
            "costing10" : {
"description" : "",
"type" : "string"
            },
            "costing11" : {
"description" : "",
"type" : "string"
            },
            "costing12" : {
"description" : "",
"type" : "string"
            },
            "costing13" : {
"description" : "",
"type" : "string"
            },
            "costing14" : {
"description" : "",
"type" : "string"
            },
            "costing15" : {
"description" : "",
"type" : "string"
            },
            "costing16" : {
"description" : "",
"type" : "string"
            },
            "costing17" : {
"description" : "",
"type" : "string"
            },
            "quoteCustomerEmail" : {
"description" : "",
"type" : "string"
            },
            "containerSize" : {
"description" : "",
"type" : "string"
            },
            "container1" : {
"description" : "",
"type" : "number"
            },
            "containerSize1" : {
"description" : "",
"type" : "string"
            },
            "containerType1" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "bookingQuoteCustomerBean" : {
"description" : "",
"$ref" : "#/definitions/json_BookingQuoteCustomerBean"
            },
            "bookingQuoteRoutingBean" : {
"description" : "",
"$ref" : "#/definitions/json_BookingQuoteRoutingBean"
            },
            "bookingQuoteCargoBean" : {
"description" : "",
"$ref" : "#/definitions/json_BookingQuoteCargoBean"
            },
            "rowId" : {
"description" : "",
"type" : "string"
            },
            "type" : {
"description" : "",
"type" : "string"
            },
            "controlFlag" : {
"description" : "",
"type" : "object"
            },
            "quoteType" : {
"description" : "",
"type" : "string"
            },
            "holdStatus" : {
"description" : "",
"type" : "string"
            },
            "posTimeFormat" : {
"description" : "",
"type" : "number"
            },
            "bookingEquipmentBean" : {
"description" : "",
"$ref" : "#/definitions/json_BookingEquipmentBean"
            },
            "termName" : {
"description" : "",
"type" : "string"
            },
            "shipmentStatusUpdateBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipmentStatusUpdateBean"
            },
            "preliminaryBooking" : {
"description" : "",
"type" : "boolean"
            },
            "preliminaryBookingStatus" : {
"description" : "",
"type" : "string"
            },
            "updatedBy" : {
"description" : "",
"type" : "string"
            },
            "updatedOn" : {
"description" : "",
"type" : "string"
            },
            "statusCanceled" : {
"description" : "Added For bug no 8641 By Amit Agrawal on 27-Aug-2012 To check the status\r\nof booking whether it is canceled or not",
"type" : "boolean"
            },
            "nomination" : {
"description" : "",
"type" : "string"
            },
            "effectiveDate" : {
"description" : "",
"type" : "string"
            },
            "expirationDate" : {
"description" : "",
"type" : "string"
            },
            "carriers" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_QuoteCarrierBean"
}
}
            },
            "aesItnHoldStatusId" : {
"description" : "",
"type" : "number"
            },
            "aesItnHoldStatus" : {
"description" : "",
"type" : "string"
            },
            "CTCChargeFromQuote" : {
"description" : "",
"type" : "boolean"
            },
            "clauses" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BookingQuoteClauseBean"
}
}
            },
            "commission" : {
"description" : "",
"type" : "string"
            },
            "bookingCustomerDeclaredCargoBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BookingQuoteCargoBean"
}
}
            },
            "roeType" : {
"description" : "",
"type" : "string"
            },
            "includePlcOnDocument" : {
"description" : "",
"type" : "boolean"
            },
            "transmissionService" : {
"description" : "",
"type" : "string"
            },
            "transmitToLocationName" : {
"description" : "",
"type" : "string"
            },
            "purchaseOrderReferenceNumber" : {
"description" : "",
"type" : "string"
            },
            "invoiceCurrency" : {
"description" : "",
"type" : "string"
            },
            "invoiceExchangeRate" : {
"description" : "",
"type" : "number"
            },
            "receivedFromName" : {
"description" : "",
"type" : "string"
            },
            "receivedFromCode" : {
"description" : "",
"type" : "string"
            },
            "tranShipmentFlag" : {
"description" : "",
"type" : "string"
            },
            "oldReferenceNumber" : {
"description" : "",
"type" : "number"
            },
            "modifyPLC" : {
"description" : "",
"type" : "boolean"
            },
            "oldStatus" : {
"description" : "",
"type" : "string"
            },
            "customerChange" : {
"description" : "",
"type" : "boolean"
            },
            "isUpdated" : {
"description" : "",
"type" : "boolean"
            },
            "oldEffectiveDate" : {
"description" : "",
"type" : "string"
            },
            "oldCustomerCode" : {
"description" : "",
"type" : "string"
            },
            "controlNumber" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This is BookingQuote bean, a combine bean for quote and booking details\r\n<b>CHANGE LOGS<\/b>\r\n<ul>\r\n<li>\r\nPHX-24691 : Property To store whether to modify PLC by Arup Chanda :\r\n20-06-2017\r\n\r\n<\/li>\r\n\r\n\r\n<\/ul>"
    }
    ,
    "json_BookingQuoteCargoBean" : {
      "type" : "object",
      "title" : "BookingQuoteCargoBean",
          "properties" : {
            "container1" : {
"description" : "",
"type" : "number"
            },
            "containerSize1" : {
"description" : "",
"type" : "string"
            },
            "containerType1" : {
"description" : "",
"type" : "string"
            },
            "container2" : {
"description" : "",
"type" : "number"
            },
            "containerSize2" : {
"description" : "",
"type" : "string"
            },
            "containerType2" : {
"description" : "",
"type" : "string"
            },
            "container3" : {
"description" : "",
"type" : "number"
            },
            "containerSize3" : {
"description" : "",
"type" : "string"
            },
            "containerType3" : {
"description" : "",
"type" : "string"
            },
            "commodity1" : {
"description" : "",
"type" : "string"
            },
            "commodity2" : {
"description" : "",
"type" : "string"
            },
            "commodity3" : {
"description" : "",
"type" : "string"
            },
            "commodity4" : {
"description" : "",
"type" : "string"
            },
            "commodity5" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "hazardousCode" : {
"description" : "",
"type" : "string"
            },
            "numberOfPieces" : {
"description" : "",
"type" : "number"
            },
            "uom" : {
"description" : "",
"type" : "string"
            },
            "actualPieces" : {
"description" : "",
"type" : "number"
            },
            "genAesFilingBean" : {
"description" : "",
"$ref" : "#/definitions/json_GenAesFilingBean"
            },
            "weightLbs" : {
"description" : "",
"type" : "number"
            },
            "cubeCbf" : {
"description" : "",
"type" : "number"
            },
            "marks" : {
"description" : "",
"type" : "string"
            },
            "packaging" : {
"description" : "",
"type" : "string"
            },
            "documentReferences" : {
"description" : "",
"type" : "string"
            },
            "bookingCustomerDeclaredHazardousBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BookingQuoteHazardousBean"
}
}
            },
            "recordSequence" : {
"description" : "",
"type" : "number"
            },
            "status" : {
"description" : "",
"type" : "number"
            },
            "bookingNumber" : {
"description" : "",
"type" : "string"
            },
            "commodity" : {
"description" : "",
"type" : "string"
            },
            "customerDeclaredId" : {
"description" : "",
"type" : "string"
            },
            "controlFlag" : {
"description" : "",
"type" : "object"
            },
            "cargoDimensionBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DimensionMain"
}
}
            },
            "overLength" : {
"description" : "",
"type" : "boolean"
            },
            "overWeight" : {
"description" : "",
"type" : "boolean"
            },
            "dimension" : {
"description" : "",
"type" : "boolean"
            },
            "lotComments" : {
"description" : "",
"type" : "string"
            },
            "lotCommentsDesc" : {
"description" : "",
"type" : "string"
            },
            "lotCommentsValue" : {
"description" : "",
"type" : "string"
            },
            "oldLotCommentDesc" : {
"description" : "",
"type" : "string"
            },
            "commodityDescription6" : {
"description" : "",
"type" : "string"
            },
            "commodityDescription7" : {
"description" : "",
"type" : "string"
            },
            "commodityDescription8" : {
"description" : "",
"type" : "string"
            },
            "commodityDescription9" : {
"description" : "",
"type" : "string"
            },
            "commodityDescription10" : {
"description" : "",
"type" : "string"
            },
            "commodityDescription11" : {
"description" : "",
"type" : "string"
            },
            "commodityDescription12" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This is bean class for cargo details"
    }
    ,
    "json_BookingQuoteChargeBean" : {
      "type" : "object",
      "title" : "BookingQuoteChargeBean",
          "properties" : {
            "oldCharge" : {
"description" : "",
"type" : "number"
            },
            "oldCurrency" : {
"description" : "",
"type" : "string"
            },
            "bookingQuoteNumber" : {
"description" : "",
"type" : "number"
            },
            "recordNumber" : {
"description" : "",
"type" : "number"
            },
            "chargeCode" : {
"description" : "",
"type" : "string"
            },
            "comp" : {
"description" : "",
"type" : "number"
            },
            "tariffNumber" : {
"description" : "",
"type" : "number"
            },
            "commodityNumber" : {
"description" : "",
"type" : "string"
            },
            "tariffSequence" : {
"description" : "",
"type" : "number"
            },
            "uom" : {
"description" : "",
"type" : "string"
            },
            "sellRate" : {
"description" : "",
"type" : "number"
            },
            "sellBasis" : {
"description" : "",
"type" : "string"
            },
            "sellAmount" : {
"description" : "",
"type" : "number"
            },
            "buyRate" : {
"description" : "",
"type" : "number"
            },
            "buyBasis" : {
"description" : "",
"type" : "string"
            },
            "buyAmount" : {
"description" : "",
"type" : "number"
            },
            "comments" : {
"description" : "",
"type" : "string"
            },
            "sellCurrency" : {
"description" : "",
"type" : "string"
            },
            "prepaidCreditFlag" : {
"description" : "",
"type" : "string"
            },
            "rateOfExchange" : {
"description" : "",
"type" : "number"
            },
            "localAmount" : {
"description" : "",
"type" : "number"
            },
            "relayFlag" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "dueAccount" : {
"description" : "",
"type" : "string"
            },
            "rateClass" : {
"description" : "",
"type" : "string"
            },
            "vendor" : {
"description" : "",
"type" : "string"
            },
            "originalAmount" : {
"description" : "",
"type" : "number"
            },
            "truckingChargeLinkId" : {
"description" : "",
"type" : "number"
            },
            "chargeDescription" : {
"description" : "",
"type" : "string"
            },
            "localeChargeDescription" : {
"description" : "",
"type" : "string"
            },
            "rowId" : {
"description" : "",
"type" : "string"
            },
            "controlFlag" : {
"description" : "",
"type" : "object"
            },
            "type" : {
"description" : "",
"type" : "string"
            },
            "bookingQuoteRateId" : {
"description" : "",
"type" : "number"
            },
            "equipmentDetail" : {
"description" : "",
"type" : "string"
            },
            "dirty" : {
"description" : "",
"type" : "boolean"
            },
            "expense" : {
"description" : "",
"type" : "string"
            },
            "applyVat" : {
"description" : "",
"type" : "string"
            },
            "code" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "oldInvoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "oldVendor" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "To get local currency.",
"type" : "string"
            },
            "currency" : {
"description" : "",
"type" : "string"
            },
            "originDestination" : {
"description" : "",
"type" : "string"
            },
            "payType" : {
"description" : "",
"type" : "string"
            },
            "exchangeRate" : {
"description" : "",
"type" : "string"
            },
            "bookingPrepaid" : {
"description" : "",
"type" : "number"
            },
            "bookingCollect" : {
"description" : "",
"type" : "number"
            },
            "rate" : {
"description" : "",
"type" : "string"
            },
            "invoiceDate" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "oldBasis" : {
"description" : "",
"type" : "string"
            },
            "chargeType" : {
"description" : "",
"type" : "string"
            },
            "linked" : {
"description" : "",
"type" : "boolean"
            },
            "checkAgainstBasis" : {
"description" : "",
"type" : "string"
            },
            "expenseCurrency" : {
"description" : "",
"type" : "string"
            },
            "expenseRateOfExchange" : {
"description" : "",
"type" : "number"
            },
            "expenseLocalAmount" : {
"description" : "",
"type" : "number"
            },
            "expenseVat" : {
"description" : "",
"type" : "number"
            },
            "expenseVendorReference" : {
"description" : "",
"type" : "string"
            },
            "expenseOldBasis" : {
"description" : "",
"type" : "string"
            },
            "printOndocument" : {
"description" : "",
"type" : "string"
            },
            "vatPercentage" : {
"description" : "This method sets the ApplayVat or not.",
"type" : "string"
            },
            "vatAmount" : {
"description" : "",
"type" : "number"
            },
            "chargeAspectOFR" : {
"description" : "",
"type" : "boolean"
            },
            "taxCode" : {
"description" : "",
"type" : "string"
            },
            "taxText" : {
"description" : "",
"type" : "string"
            },
            "applyFor" : {
"description" : "",
"type" : "string"
            },
            "glCode" : {
"description" : "",
"type" : "string"
            },
            "taxKey" : {
"description" : "",
"type" : "string"
            },
            "rateReset" : {
"description" : "",
"type" : "boolean"
            },
            "oldRate" : {
"description" : "",
"type" : "boolean"
            },
            "oldBookingQuoteChargeBean" : {
"description" : "",
"$ref" : "#/definitions/json_BookingQuoteChargeBean"
            },
            "taxPercent" : {
"description" : "",
"type" : "string"
            },
            "maximum" : {
"description" : "",
"type" : "number"
            },
            "expenseMaximum" : {
"description" : "",
"type" : "number"
            },
            "expenseMinimum" : {
"description" : "",
"type" : "number"
            },
            "minimum" : {
"description" : "",
"type" : "number"
            },
            "overridden" : {
"description" : "",
"type" : "boolean"
            },
            "invoiceCurrency" : {
"description" : "",
"type" : "string"
            },
            "invoiceExchangeRate" : {
"description" : "",
"type" : "number"
            },
            "invoiceSellRateOfExchange" : {
"description" : "",
"type" : "number"
            },
            "invoiceExpenseRateOfExchange" : {
"description" : "",
"type" : "number"
            },
            "invoiceSellAmount" : {
"description" : "",
"type" : "number"
            },
            "invoiceExpenseAmount" : {
"description" : "",
"type" : "number"
            },
            "userDefineChargeDescription" : {
"description" : "Get charge description given by user",
"type" : "string"
            },
            "spotRateDetailsId" : {
"description" : "",
"type" : "string"
            },
            "spotRateKey" : {
"description" : "",
"type" : "string"
            },
            "spotRateFlag" : {
"description" : "",
"type" : "number"
            },
            "accurateSpotRateKey" : {
"description" : "",
"type" : "string"
            },
            "chargeRest" : {
"description" : "",
"type" : "boolean"
            },
            "sprKey" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This class is combined bean for booking and quote charges"
    }
    ,
    "json_BookingQuoteClauseBean" : {
      "type" : "object",
      "title" : "BookingQuoteClauseBean",
          "properties" : {
            "clauseCode" : {
"description" : "",
"type" : "string"
            },
            "clauseName" : {
"description" : "",
"type" : "string"
            },
            "clauseNameLocale" : {
"description" : "",
"type" : "string"
            },
            "clause" : {
"description" : "",
"type" : "string"
            },
            "clauseLocale" : {
"description" : "",
"type" : "string"
            },
            "sequence" : {
"description" : "",
"type" : "number"
            },
            "clauseDesc" : {
"description" : "Added by Suwimon Kaewkhampa <ksuwimon@scan-it.com.sg> for PHX-19259 on 13-Jul-2016\r\n\r\nThis method gets Clause Description",
"type" : "string"
            },
            "clauseDescLocale" : {
"description" : "Added by Suwimon Kaewkhampa <ksuwimon@scan-it.com.sg> for PHX-19259 on 13-Jul-2016\r\n\r\nThis method gets Clause Description Locale",
"type" : "string"
            }
          },
      "description" : "This is the bean class for clause"
    }
    ,
    "json_BookingQuoteCustomerBean" : {
      "type" : "object",
      "title" : "BookingQuoteCustomerBean",
          "properties" : {
            "customerType" : {
"description" : "",
"type" : "string"
            },
            "salesRepresentative" : {
"description" : "",
"type" : "string"
            },
            "purchaseOrderNumber" : {
"description" : "",
"type" : "string"
            },
            "shipperBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipperBean"
            },
            "consigneeBean" : {
"description" : "",
"$ref" : "#/definitions/json_ConsigneeBean"
            },
            "forwarderBean" : {
"description" : "",
"$ref" : "#/definitions/json_ForwarderBean"
            },
            "rateProfile" : {
"description" : "",
"type" : "string"
            },
            "additinoalProfile" : {
"description" : "",
"type" : "string"
            },
            "customerEmail" : {
"description" : "",
"type" : "string"
            },
            "customerAlias" : {
"description" : "",
"type" : "string"
            },
            "trackingCustomer2" : {
"description" : "",
"type" : "string"
            },
            "trackingCustomer1" : {
"description" : "",
"type" : "string"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "actualforwarderBean" : {
"description" : "",
"$ref" : "#/definitions/json_ForwarderBean"
            },
            "wwaCustomer" : {
"description" : "",
"type" : "string"
            },
            "billingCompany" : {
"description" : "",
"type" : "string"
            },
            "accurateProfile" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This class is a bean for customer details for booking"
    }
    ,
    "json_BookingQuoteHazardousBean" : {
      "type" : "object",
      "title" : "BookingQuoteHazardousBean",
          "properties" : {
            "referenceNumber" : {
"description" : "",
"type" : "number"
            },
            "shipperName1" : {
"description" : "",
"type" : "string"
            },
            "shipperName2" : {
"description" : "",
"type" : "string"
            },
            "techName1" : {
"description" : "",
"type" : "string"
            },
            "techName2" : {
"description" : "",
"type" : "string"
            },
            "noOfpieces" : {
"description" : "",
"type" : "number"
            },
            "packaging" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "imcoClass" : {
"description" : "",
"type" : "string"
            },
            "unNumber" : {
"description" : "",
"type" : "string"
            },
            "imcoPage" : {
"description" : "",
"type" : "string"
            },
            "flashPointCelsius" : {
"description" : "",
"type" : "number"
            },
            "degrees" : {
"description" : "",
"type" : "string"
            },
            "packagingGroup" : {
"description" : "",
"type" : "string"
            },
            "plackard1" : {
"description" : "",
"type" : "string"
            },
            "plackard2" : {
"description" : "",
"type" : "string"
            },
            "emergencyPhone" : {
"description" : "",
"type" : "string"
            },
            "emergencyCotact" : {
"description" : "",
"type" : "string"
            },
            "hazardousCode" : {
"description" : "",
"type" : "string"
            },
            "hazarDousCount" : {
"description" : "",
"type" : "number"
            },
            "rowId" : {
"description" : "",
"type" : "string"
            },
            "controlFlag" : {
"description" : "",
"type" : "object"
            },
            "flashpointFahrenheit" : {
"description" : "",
"type" : "number"
            },
            "inputUpdateUser" : {
"description" : "",
"type" : "string"
            },
            "recordNumber" : {
"description" : "",
"type" : "number"
            },
            "quoteCargoHazardousId" : {
"description" : "",
"type" : "number"
            },
            "imoSubClass" : {
"description" : "",
"type" : "string"
            },
            "customerDeclaredCargoId" : {
"description" : "",
"type" : "string"
            },
            "bookingNumber" : {
"description" : "",
"type" : "string"
            },
            "customerDeclaredHazardouId" : {
"description" : "",
"type" : "string"
            },
            "customerDeclaredHazardousTransactionFlag" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : "This is the Bean class for booking_hazmat table fields."
    }
    ,
    "json_BookingQuoteRoutingBean" : {
      "type" : "object",
      "title" : "BookingQuoteRoutingBean",
          "properties" : {
            "vesselCode" : {
"description" : "",
"type" : "string"
            },
            "vessel" : {
"description" : "",
"type" : "string"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "warehouse" : {
"description" : "",
"type" : "string"
            },
            "deliveryDate" : {
"description" : "",
"type" : "string"
            },
            "deliveryTime" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "loadCode" : {
"description" : "",
"type" : "string"
            },
            "loadName" : {
"description" : "",
"type" : "string"
            },
            "dischargeCode" : {
"description" : "",
"type" : "string"
            },
            "dischargeName" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "documentCutoffDate" : {
"description" : "",
"type" : "string"
            },
            "warehouseName" : {
"description" : "",
"type" : "string"
            },
            "warehouseDeliveryRef" : {
"description" : "",
"type" : "string"
            },
            "documentDeliveryCode" : {
"description" : "",
"type" : "string"
            },
            "documentDeliveryName" : {
"description" : "",
"type" : "string"
            },
            "documentDeliveryAddress1" : {
"description" : "",
"type" : "string"
            },
            "documentDeliveryAddress2" : {
"description" : "",
"type" : "string"
            },
            "documentDeliveryAddress3" : {
"description" : "",
"type" : "string"
            },
            "documentDeliveryContact" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "etdOrigin" : {
"description" : "",
"type" : "string"
            },
            "fromRegionCode" : {
"description" : "",
"type" : "string"
            },
            "toRegionCode" : {
"description" : "",
"type" : "string"
            },
            "viaRegionCode" : {
"description" : "",
"type" : "string"
            },
            "originUncode" : {
"description" : "",
"type" : "string"
            },
            "loadUnCode" : {
"description" : "",
"type" : "string"
            },
            "dischargeUnCode" : {
"description" : "",
"type" : "string"
            },
            "destinationUnCode" : {
"description" : "",
"type" : "string"
            },
            "documentationCutOffTime" : {
"description" : "",
"type" : "string"
            },
            "originRegionCode" : {
"description" : "",
"type" : "string"
            },
            "loadRegionCode" : {
"description" : "",
"type" : "string"
            },
            "dischargeRegionCode" : {
"description" : "",
"type" : "string"
            },
            "destinationRegionCode" : {
"description" : "",
"type" : "string"
            },
            "deconsolidationRegionCode" : {
"description" : "",
"type" : "string"
            },
            "finalCFSRegionCode" : {
"description" : "",
"type" : "string"
            },
            "wwaScheudle" : {
"description" : "",
"type" : "boolean"
            },
            "etaDestination" : {
"description" : "",
"type" : "string"
            },
            "warehouseAddress1" : {
"description" : "",
"type" : "string"
            },
            "warehouseAddress2" : {
"description" : "",
"type" : "string"
            },
            "warehouseAddress3" : {
"description" : "",
"type" : "string"
            },
            "warehouseState" : {
"description" : "",
"type" : "string"
            },
            "warehouseZipcode" : {
"description" : "",
"type" : "string"
            },
            "warehousePhone" : {
"description" : "",
"type" : "string"
            },
            "warehouseContact" : {
"description" : "",
"type" : "string"
            },
            "locationInformation" : {
"description" : "",
"type" : "string"
            },
            "preCarriageType" : {
"description" : "",
"type" : "string"
            },
            "preCarriageBy" : {
"description" : "",
"type" : "string"
            },
            "deliveryTimeTo" : {
"description" : "",
"type" : "string"
            },
            "privateLocationInformation" : {
"description" : "",
"type" : "string"
            },
            "deConsolidationCode" : {
"description" : "",
"type" : "string"
            },
            "deConsolidationName" : {
"description" : "",
"type" : "string"
            },
            "deConsolidationDate" : {
"description" : "",
"type" : "string"
            },
            "finalCFSCode" : {
"description" : "",
"type" : "string"
            },
            "finalCFSName" : {
"description" : "",
"type" : "string"
            },
            "finalCFSDate" : {
"description" : "",
"type" : "string"
            },
            "oldOriginCode" : {
"description" : "",
"type" : "string"
            },
            "oldLoadName" : {
"description" : "",
"type" : "string"
            },
            "consolidationCFSCode" : {
"description" : "",
"type" : "string"
            },
            "consolidationCFSName" : {
"description" : "",
"type" : "string"
            },
            "consolidationCFSDate" : {
"description" : "",
"type" : "string"
            },
            "consolidationCFSRegionCode" : {
"description" : "",
"type" : "string"
            },
            "originalVesselCode" : {
"description" : "",
"type" : "string"
            },
            "originalVesselName" : {
"description" : "",
"type" : "string"
            },
            "originalVoyage" : {
"description" : "",
"type" : "string"
            },
            "originalEts" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This class is Bean for columns related to routing in booking table"
    }
    ,
    "json_BusinessRuleRequestBean" : {
      "type" : "object",
      "title" : "BusinessRuleRequestBean",
          "properties" : {
            "objectMap" : {
"description" : "",
"type" : "object"
            },
            "shipmentStatusUpdateBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipmentStatusUpdateBean"
            }
          },
      "description" : ""
    }
    ,
    "json_CargoDescription" : {
      "type" : "object",
      "title" : "CargoDescription",
          "properties" : {
            "level" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "string"
            },
            "packageType" : {
"description" : "",
"type" : "string"
            },
            "uom" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "string"
            },
            "volume" : {
"description" : "",
"type" : "string"
            },
            "commodity" : {
"description" : "",
"type" : "string"
            },
            "marks" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_CommentDetails" : {
      "type" : "object",
      "title" : "CommentDetails",
          "properties" : {
            "remarks" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_CommonBean" : {
      "type" : "object",
      "title" : "CommonBean",
          "properties" : {
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "userSchemaName" : {
"description" : "",
"type" : "string"
            },
            "userSchemaID" : {
"description" : "",
"type" : "number"
            },
            "locale" : {
"description" : "",
"type" : "string"
            },
            "userDefaultWarehouse" : {
"description" : "",
"type" : "string"
            },
            "userRoleID" : {
"description" : "",
"type" : "number"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "userCompany" : {
"description" : "",
"type" : "string"
            },
            "username" : {
"description" : "",
"type" : "string"
            },
            "updateDate" : {
"description" : "",
"type" : "string"
            },
            "debugModeFlag" : {
"description" : "",
"type" : "number"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "password" : {
"description" : "",
"type" : "string"
            },
            "userFullname" : {
"description" : "",
"type" : "string"
            },
            "inputLdapUser" : {
"description" : "",
"type" : "string"
            },
            "updateLdapUser" : {
"description" : "",
"type" : "string"
            },
            "userCompanyName" : {
"description" : "",
"type" : "string"
            },
            "ldapUsername" : {
"description" : "",
"type" : "string"
            },
            "updateUser" : {
"description" : "",
"type" : "string"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "userLoginId" : {
"description" : "",
"type" : "number"
            },
            "userOfficeID" : {
"description" : "",
"type" : "number"
            },
            "config" : {
"description" : "",
"type" : "string"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "officeTimezone" : {
"description" : "",
"type" : "string"
            },
            "userID" : {
"description" : "",
"type" : "number"
            },
            "inputUserFullname" : {
"description" : "",
"type" : "string"
            },
            "updateUserFullname" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ConsigneeBean" : {
      "type" : "object",
      "title" : "ConsigneeBean",
          "properties" : {
            "consigneeReference" : {
"description" : "getting Consignee reference",
"type" : "string"
            },
            "consigneeCode" : {
"description" : "getting ConsigneeCode",
"type" : "string"
            },
            "consigneeName" : {
"description" : "getting ConsigneeName",
"type" : "string"
            },
            "consigneeName1" : {
"description" : "getting ConsigneeName1",
"type" : "string"
            },
            "consigneeAddress1" : {
"description" : "getting ConsigneeAddress1",
"type" : "string"
            },
            "consigneeAddress2" : {
"description" : "getting ConsigneeAddress2",
"type" : "string"
            },
            "consigneeAddress3" : {
"description" : "getting ConsigneeAddress3",
"type" : "string"
            },
            "consigneePhone" : {
"description" : "getting ConsigneePhone",
"type" : "string"
            },
            "consigneeFax" : {
"description" : "getting ConsigneeFax",
"type" : "string"
            },
            "consigneeContact" : {
"description" : "",
"type" : "string"
            },
            "namedAccount" : {
"description" : "",
"type" : "string"
            },
            "namedAccountFullName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "<Description/Purpose of class here>"
    }
    ,
    "json_CurrentStatus" : {
      "type" : "object",
      "title" : "CurrentStatus",
          "properties" : {
            "statusCode" : {
"description" : "",
"type" : "string"
            },
            "statusName" : {
"description" : "",
"type" : "string"
            },
            "statusDate" : {
"description" : "",
"type" : "string"
            },
            "statusTime" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_Date" : {
      "type" : "object",
      "title" : "Date",
      "allOf" : [
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_DimensionMain" : {
      "type" : "object",
      "title" : "DimensionMain",
          "properties" : {
            "lbs" : {
"description" : "",
"type" : "number"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "cbf" : {
"description" : "",
"type" : "number"
            },
            "cbm" : {
"description" : "",
"type" : "number"
            },
            "unit" : {
"description" : "",
"type" : "string"
            },
            "width" : {
"description" : "",
"type" : "number"
            },
            "height" : {
"description" : "",
"type" : "number"
            },
            "kg" : {
"description" : "",
"type" : "number"
            },
            "length" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_DocumentSearchBean" : {
      "type" : "object",
      "title" : "DocumentSearchBean",
          "properties" : {
            "type" : {
"description" : "",
"type" : "string"
            },
            "ref" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "string"
            },
            "schema" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This is bean class for document search."
    }
    ,
    "json_EnquiryShipmentStatusReq" : {
      "type" : "object",
      "title" : "EnquiryShipmentStatusReq",
          "properties" : {
            "noteTypes" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "referenceNumberList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            }
          },
      "description" : "Common request for ShipmentStatus Information"
    }
    ,
    "json_EnquiryStatusReq" : {
      "type" : "object",
      "title" : "EnquiryStatusReq",
          "properties" : {
            "shipmentObjectId" : {
"description" : "",
"type" : "number"
            },
            "eventName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "PHX-11018 As a Phoenix user, I want Import Manifest documents to show\r\nTranshipment information EnquiryStatusReq Information Bean for status request"
    }
    ,
    "json_ExecuteReportRequestBean" : {
      "type" : "object",
      "title" : "ExecuteReportRequestBean",
          "properties" : {
            "userID" : {
"description" : "",
"type" : "number"
            },
            "perlReportBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PerlReportBean"
}
}
            },
            "userSchemaName" : {
"description" : "",
"type" : "string"
            },
            "userOfficeID" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ForwarderBean" : {
      "type" : "object",
      "title" : "ForwarderBean",
          "properties" : {
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "forwarderCode" : {
"description" : "",
"type" : "string"
            },
            "forwarderName" : {
"description" : "",
"type" : "string"
            },
            "forwarderAddress1" : {
"description" : "",
"type" : "string"
            },
            "forwarderAddress2" : {
"description" : "",
"type" : "string"
            },
            "forwarderAddress3" : {
"description" : "",
"type" : "string"
            },
            "forwarderPhone" : {
"description" : "",
"type" : "string"
            },
            "forwarderFax" : {
"description" : "",
"type" : "string"
            },
            "forwarderContact" : {
"description" : "",
"type" : "string"
            },
            "forwarderNameAccount" : {
"description" : "",
"type" : "string"
            },
            "forwarderNamedAccountFullName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "The Bill of Lading Forwarder Bean for Customer Bean"
    }
    ,
    "json_GenAesFilingBean" : {
      "type" : "object",
      "title" : "GenAesFilingBean",
          "properties" : {
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "scacCode" : {
"description" : "",
"type" : "string"
            },
            "itnNumber" : {
"description" : "",
"type" : "string"
            },
            "filingType" : {
"description" : "",
"type" : "string"
            },
            "type" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "updateUser" : {
"description" : "",
"type" : "string"
            },
            "controlFlag" : {
"description" : "",
"type" : "object"
            },
            "rowid" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This is the Bean class for gen_aesfiling table"
    }
    ,
    "json_GenDefinesBean" : {
      "type" : "object",
      "title" : "GenDefinesBean",
          "properties" : {
            "formBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "phpBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "formHome" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUrl" : {
"description" : "",
"type" : "string"
            },
            "phpShellPath" : {
"description" : "",
"type" : "string"
            },
            "dataSource" : {
"description" : "",
"type" : "string"
            },
            "oracleEnv" : {
"description" : "",
"type" : "string"
            },
            "jspBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "ecommercePassword" : {
"description" : "",
"type" : "string"
            },
            "definesID" : {
"description" : "",
"type" : "number"
            },
            "tempDirPath" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUserName" : {
"description" : "",
"type" : "string"
            },
            "urlPath" : {
"description" : "",
"type" : "string"
            },
            "configuration" : {
"description" : "",
"type" : "string"
            },
            "biBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "phpBaseurl" : {
"description" : "",
"type" : "string"
            },
            "perlHome" : {
"description" : "",
"type" : "string"
            },
            "jasperUrlPath" : {
"description" : "",
"type" : "string"
            },
            "globalUrl" : {
"description" : "",
"type" : "string"
            },
            "phpHome" : {
"description" : "",
"type" : "string"
            },
            "perlBaseUrl" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_GenFileBean" : {
      "type" : "object",
      "title" : "GenFileBean",
          "properties" : {
            "contentString" : {
"description" : "",
"type" : "string"
            },
            "fileName" : {
"description" : "",
"type" : "string"
            },
            "mimeType" : {
"description" : "",
"type" : "string"
            },
            "content" : {
"description" : "",
"type" : "array",
"items" : {
  "type" : "string"
}
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "refFile" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_MainBookingQuoteBean" : {
      "type" : "object",
      "title" : "MainBookingQuoteBean",
          "properties" : {
            "bookingCounterOn" : {
"description" : "",
"type" : "boolean"
            },
            "bookingQuoteBean" : {
"description" : "",
"$ref" : "#/definitions/json_BookingQuoteBean"
            },
            "bookingQuoteChargeBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BookingQuoteChargeBean"
}
}
            },
            "bookingHazardousBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BookingQuoteHazardousBean"
}
}
            },
            "pickupDetailBean" : {
"description" : "",
"$ref" : "#/definitions/json_PickupDetailBean"
            },
            "errorFlag" : {
"description" : "",
"type" : "boolean"
            },
            "uploadDocumentsBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_UploadDocumentsBean"
}
}
            },
            "transshipmentRoutingBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_TransshipmentRoutingBean"
}
}
            },
            "messageMap" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : "This is main booking/quote bean class"
    }
    ,
    "json_NextStatus" : {
      "type" : "object",
      "title" : "NextStatus",
          "properties" : {
            "statusCode" : {
"description" : "",
"type" : "string"
            },
            "statusName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PerlReportBean" : {
      "type" : "object",
      "title" : "PerlReportBean",
          "properties" : {
            "argumentMap" : {
"description" : "",
"type" : "object"
            },
            "passkey3" : {
"description" : "",
"type" : "string"
            },
            "passkey1" : {
"description" : "",
"type" : "string"
            },
            "phoenixSystemUserBean" : {
"description" : "",
"$ref" : "#/definitions/json_PhoenixSystemUserBean"
            },
            "passkey16" : {
"description" : "",
"type" : "string"
            },
            "passkey17" : {
"description" : "",
"type" : "string"
            },
            "passkey7" : {
"description" : "",
"type" : "string"
            },
            "passkey23" : {
"description" : "",
"type" : "string"
            },
            "passkey14" : {
"description" : "",
"type" : "string"
            },
            "argumentListMap" : {
"description" : "",
"type" : "object"
            },
            "passkey12" : {
"description" : "",
"type" : "string"
            },
            "passkey11" : {
"description" : "",
"type" : "string"
            },
            "passkey4" : {
"description" : "",
"type" : "string"
            },
            "passkey5" : {
"description" : "",
"type" : "string"
            },
            "passkey2" : {
"description" : "",
"type" : "string"
            },
            "printerName" : {
"description" : "",
"type" : "string"
            },
            "passkey13" : {
"description" : "",
"type" : "string"
            },
            "passkey22" : {
"description" : "",
"type" : "string"
            },
            "counter" : {
"description" : "",
"type" : "number"
            },
            "passkey21" : {
"description" : "",
"type" : "string"
            },
            "passkey6" : {
"description" : "",
"type" : "string"
            },
            "executeVia" : {
"description" : "",
"type" : "string"
            },
            "passkey19" : {
"description" : "",
"type" : "string"
            },
            "perlscriptName" : {
"description" : "",
"type" : "string"
            },
            "passkey9" : {
"description" : "",
"type" : "string"
            },
            "passkey15" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "key" : {
"description" : "",
"type" : "string"
            },
            "passkey" : {
"description" : "",
"type" : "string"
            },
            "passkey10" : {
"description" : "",
"type" : "string"
            },
            "passkey8" : {
"description" : "",
"type" : "string"
            },
            "passkey20" : {
"description" : "",
"type" : "string"
            },
            "tag" : {
"description" : "",
"type" : "string"
            },
            "passkey18" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PhoenixSystemUserBean" : {
      "type" : "object",
      "title" : "PhoenixSystemUserBean",
          "properties" : {
            "userName" : {
"description" : "",
"type" : "string"
            },
            "companyCode" : {
"description" : "",
"type" : "string"
            },
            "userPassword" : {
"description" : "",
"type" : "string"
            },
            "customer" : {
"description" : "",
"type" : "string"
            },
            "userEmail" : {
"description" : "",
"type" : "string"
            },
            "officeSettingMap" : {
"description" : "",
"type" : "object"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "ldapUserName" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "userId" : {
"description" : "",
"type" : "number"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "genDefinesBean" : {
"description" : "",
"$ref" : "#/definitions/json_GenDefinesBean"
            },
            "debugMode" : {
"description" : "",
"type" : "string"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "userFullName" : {
"description" : "",
"type" : "string"
            },
            "companyGroupName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PickupChargeBean" : {
      "type" : "object",
      "title" : "PickupChargeBean",
          "properties" : {
            "expensesId" : {
"description" : "",
"type" : "number"
            },
            "moduleId" : {
"description" : "",
"type" : "number"
            },
            "reference" : {
"description" : "",
"type" : "string"
            },
            "referenceExtension" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "vendor" : {
"description" : "",
"type" : "string"
            },
            "charge" : {
"description" : "",
"type" : "string"
            },
            "expense" : {
"description" : "",
"type" : "number"
            },
            "income" : {
"description" : "",
"type" : "number"
            },
            "currency" : {
"description" : "",
"type" : "string"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"$ref" : "#/definitions/json_Date"
            },
            "updateUser" : {
"description" : "",
"type" : "string"
            },
            "updateDate" : {
"description" : "",
"$ref" : "#/definitions/json_Date"
            },
            "controlFlag" : {
"description" : "",
"type" : "object"
            },
            "rowId" : {
"description" : "",
"type" : "string"
            },
            "rateOfExchange" : {
"description" : "",
"type" : "number"
            },
            "expenseIdPk" : {
"description" : "",
"type" : "number"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "localIncomeAmount" : {
"description" : "",
"type" : "number"
            },
            "localExpenseAmount" : {
"description" : "",
"type" : "number"
            },
            "chargeDescription" : {
"description" : "",
"type" : "string"
            },
            "quotePickupChargeId" : {
"description" : "",
"type" : "number"
            },
            "recordNumber" : {
"description" : "",
"type" : "number"
            },
            "applyVat" : {
"description" : "",
"type" : "string"
            },
            "payType" : {
"description" : "",
"type" : "string"
            },
            "invoiceDate" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "localeChargeDescription" : {
"description" : "",
"type" : "string"
            },
            "chargeType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This class is bean class for pickup charges"
    }
    ,
    "json_PickupDetailBean" : {
      "type" : "object",
      "title" : "PickupDetailBean",
          "properties" : {
            "pickupAtCargoCode" : {
"description" : "",
"type" : "string"
            },
            "pickupAtCargoName" : {
"description" : "",
"type" : "string"
            },
            "pickupAtCargoName1" : {
"description" : "",
"type" : "string"
            },
            "pickupAtCargoAddress1" : {
"description" : "",
"type" : "string"
            },
            "pickupAtCargoAddress2" : {
"description" : "",
"type" : "string"
            },
            "pickupAtCargoAddress3" : {
"description" : "",
"type" : "string"
            },
            "truckerCode" : {
"description" : "",
"type" : "string"
            },
            "truckerName" : {
"description" : "",
"type" : "string"
            },
            "truckerAddress1" : {
"description" : "",
"type" : "string"
            },
            "truckerAddress2" : {
"description" : "",
"type" : "string"
            },
            "truckerAddress3" : {
"description" : "",
"type" : "string"
            },
            "truckerContact" : {
"description" : "",
"type" : "string"
            },
            "truckerPhone" : {
"description" : "",
"type" : "string"
            },
            "truckerFax" : {
"description" : "",
"type" : "string"
            },
            "truckerEmail" : {
"description" : "",
"type" : "string"
            },
            "pickupDate" : {
"description" : "",
"type" : "string"
            },
            "pickupTime" : {
"description" : "",
"type" : "string"
            },
            "deliveryDate" : {
"description" : "",
"type" : "string"
            },
            "deliveryTime" : {
"description" : "",
"type" : "string"
            },
            "pickupInstruction1" : {
"description" : "",
"type" : "string"
            },
            "pickupInstruction2" : {
"description" : "",
"type" : "string"
            },
            "pickupInstruction3" : {
"description" : "",
"type" : "string"
            },
            "pickupInstruction4" : {
"description" : "",
"type" : "string"
            },
            "pickupInstruction5" : {
"description" : "",
"type" : "string"
            },
            "pickupInstruction6" : {
"description" : "",
"type" : "string"
            },
            "pickupType" : {
"description" : "",
"type" : "string"
            },
            "controlFlag" : {
"description" : "",
"type" : "object"
            },
            "rowId" : {
"description" : "",
"type" : "string"
            },
            "pickupChargeBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PickupChargeBean"
}
}
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "pickerContact" : {
"description" : "",
"type" : "string"
            },
            "inputUpdateUser" : {
"description" : "",
"type" : "string"
            },
            "inputUpdateDate" : {
"description" : "",
"type" : "number"
            },
            "quotePickupId" : {
"description" : "",
"type" : "number"
            },
            "returnChasisCode" : {
"description" : "",
"type" : "string"
            },
            "returnChasisDetail" : {
"description" : "",
"type" : "string"
            },
            "pickerPhone" : {
"description" : "",
"type" : "string"
            },
            "pickerFax" : {
"description" : "",
"type" : "string"
            },
            "pickupTimeTo" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This class is bean class for pickup details This will be a common bean for\r\nBooking pickup details and Arn pick up details"
    }
    ,
    "json_QuoteCarrierBean" : {
      "type" : "object",
      "title" : "QuoteCarrierBean",
          "properties" : {
            "quoteNum" : {
"description" : "",
"type" : "number"
            },
            "carrierCode" : {
"description" : "",
"type" : "string"
            },
            "carrierName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "This class is combined bean for quote_carriers"
    }
    ,
    "json_ResultJson_bean" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "errorCode" : {
"description" : "",
"type" : "string"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "result" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "result" : {
"description" : "",
"type" : "object"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "errorCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_SaveBookingRequestBean" : {
      "type" : "object",
      "title" : "SaveBookingRequestBean",
          "properties" : {
            "officeType" : {
"description" : "",
"type" : "string"
            },
            "applicationType" : {
"description" : "",
"type" : "string"
            },
            "submitterType" : {
"description" : "",
"type" : "string"
            },
            "initialAck" : {
"description" : "",
"type" : "boolean"
            },
            "mainBookingQuoteBean" : {
"description" : "",
"$ref" : "#/definitions/json_MainBookingQuoteBean"
            },
            "envelopId" : {
"description" : "",
"type" : "string"
            },
            "senderId" : {
"description" : "",
"type" : "string"
            },
            "receiverId" : {
"description" : "",
"type" : "string"
            },
            "password" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "string"
            },
            "currentSchema" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "string"
            },
            "errorMessage" : {
"description" : "",
"type" : "string"
            },
            "bookingUrl" : {
"description" : "",
"type" : "string"
            },
            "vesselVoyageId" : {
"description" : "",
"type" : "string"
            },
            "requestType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "Main Request bean class for saving external booking. PHX-22969"
    }
    ,
    "json_ShipmentBookingBean" : {
      "type" : "object",
      "title" : "ShipmentBookingBean",
          "properties" : {
            "bookingPrefix" : {
"description" : "",
"type" : "string"
            },
            "bookingNo" : {
"description" : "",
"type" : "number"
            },
            "bookingDate" : {
"description" : "",
"type" : "string"
            },
            "lineBooking" : {
"description" : "",
"type" : "string"
            },
            "lineCode" : {
"description" : "",
"type" : "string"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "takenBy" : {
"description" : "",
"type" : "string"
            },
            "quoteNo" : {
"description" : "",
"type" : "number"
            },
            "vesselNo" : {
"description" : "",
"type" : "string"
            },
            "vesselName" : {
"description" : "",
"type" : "string"
            },
            "voyageNo" : {
"description" : "",
"type" : "string"
            },
            "bookingStation" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "loadCode" : {
"description" : "",
"type" : "string"
            },
            "loadName" : {
"description" : "",
"type" : "string"
            },
            "dischargeCode" : {
"description" : "",
"type" : "string"
            },
            "dischargeName" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "shipperAddr" : {
"description" : "",
"type" : "string"
            },
            "shipperAddr2" : {
"description" : "",
"type" : "string"
            },
            "shipperAddr3" : {
"description" : "",
"type" : "string"
            },
            "shipperCont" : {
"description" : "",
"type" : "string"
            },
            "shipperPhone" : {
"description" : "",
"type" : "string"
            },
            "shipperFax" : {
"description" : "",
"type" : "string"
            },
            "shipperRef" : {
"description" : "",
"type" : "string"
            },
            "faxYn" : {
"description" : "",
"type" : "string"
            },
            "consName" : {
"description" : "",
"type" : "string"
            },
            "poNo" : {
"description" : "",
"type" : "string"
            },
            "puDate" : {
"description" : "",
"type" : "string"
            },
            "warehouseCode" : {
"description" : "",
"type" : "string"
            },
            "warehouseName" : {
"description" : "",
"type" : "string"
            },
            "warehouseAddr" : {
"description" : "",
"type" : "string"
            },
            "warehouseAddr2" : {
"description" : "",
"type" : "string"
            },
            "warehouseAddr3" : {
"description" : "",
"type" : "string"
            },
            "warehouseCont" : {
"description" : "",
"type" : "string"
            },
            "warehousePhone" : {
"description" : "",
"type" : "string"
            },
            "supplyCode" : {
"description" : "",
"type" : "string"
            },
            "supplyName" : {
"description" : "",
"type" : "string"
            },
            "supplyAddr" : {
"description" : "",
"type" : "string"
            },
            "supplyAddr2" : {
"description" : "",
"type" : "string"
            },
            "supplyAddr3" : {
"description" : "",
"type" : "string"
            },
            "supplyCont" : {
"description" : "",
"type" : "string"
            },
            "supplyPhone" : {
"description" : "",
"type" : "string"
            },
            "truckCode" : {
"description" : "",
"type" : "string"
            },
            "truckName" : {
"description" : "",
"type" : "string"
            },
            "truckCont" : {
"description" : "",
"type" : "string"
            },
            "truckFax" : {
"description" : "",
"type" : "string"
            },
            "instr1" : {
"description" : "",
"type" : "string"
            },
            "instr2" : {
"description" : "",
"type" : "string"
            },
            "instr3" : {
"description" : "",
"type" : "string"
            },
            "instr4" : {
"description" : "",
"type" : "string"
            },
            "pickYn" : {
"description" : "",
"type" : "string"
            },
            "pickDate" : {
"description" : "",
"type" : "string"
            },
            "pickAtCode" : {
"description" : "",
"type" : "string"
            },
            "pickAtName" : {
"description" : "",
"type" : "string"
            },
            "pickAtAddr" : {
"description" : "",
"type" : "string"
            },
            "pickAtAddr2" : {
"description" : "",
"type" : "string"
            },
            "pickAtAddr3" : {
"description" : "",
"type" : "string"
            },
            "forwarderYn" : {
"description" : "",
"type" : "string"
            },
            "forwarderName" : {
"description" : "",
"type" : "string"
            },
            "forwarderCont" : {
"description" : "",
"type" : "string"
            },
            "forwarderPhone" : {
"description" : "",
"type" : "string"
            },
            "noCont" : {
"description" : "",
"type" : "string"
            },
            "noPieces" : {
"description" : "",
"type" : "string"
            },
            "contSize" : {
"description" : "",
"type" : "string"
            },
            "contType" : {
"description" : "",
"type" : "string"
            },
            "c_t" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "hazard_code" : {
"description" : "",
"type" : "string"
            },
            "postDate" : {
"description" : "",
"type" : "string"
            },
            "postTime" : {
"description" : "",
"type" : "string"
            },
            "commodity1" : {
"description" : "",
"type" : "string"
            },
            "commodity2" : {
"description" : "",
"type" : "string"
            },
            "commodity3" : {
"description" : "",
"type" : "string"
            },
            "commodity4" : {
"description" : "",
"type" : "string"
            },
            "commodity5" : {
"description" : "",
"type" : "string"
            },
            "remark" : {
"description" : "",
"type" : "string"
            },
            "remark2" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "transmit" : {
"description" : "",
"type" : "string"
            },
            "transmitLoc1" : {
"description" : "",
"type" : "string"
            },
            "transmitLoc2" : {
"description" : "",
"type" : "string"
            },
            "transmitLoc3" : {
"description" : "",
"type" : "string"
            },
            "etdOrigin" : {
"description" : "",
"type" : "string"
            },
            "ud" : {
"description" : "",
"type" : "string"
            },
            "forwarderFax" : {
"description" : "",
"type" : "string"
            },
            "service" : {
"description" : "",
"type" : "string"
            },
            "portInfo" : {
"description" : "",
"type" : "string"
            },
            "lotNo" : {
"description" : "",
"type" : "number"
            },
            "blNo" : {
"description" : "",
"type" : "string"
            },
            "clause1" : {
"description" : "",
"type" : "string"
            },
            "clause2" : {
"description" : "",
"type" : "string"
            },
            "proNo" : {
"description" : "",
"type" : "string"
            },
            "crnNo" : {
"description" : "",
"type" : "string"
            },
            "consYn" : {
"description" : "",
"type" : "string"
            },
            "consCode" : {
"description" : "",
"type" : "string"
            },
            "consAddr1" : {
"description" : "",
"type" : "string"
            },
            "consAddr2" : {
"description" : "",
"type" : "string"
            },
            "consAddr3" : {
"description" : "",
"type" : "string"
            },
            "warehouseZip" : {
"description" : "",
"type" : "string"
            },
            "pickAtZip" : {
"description" : "",
"type" : "string"
            },
            "nmfc" : {
"description" : "",
"type" : "string"
            },
            "discount" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "cont1" : {
"description" : "",
"type" : "string"
            },
            "size1" : {
"description" : "",
"type" : "string"
            },
            "type1" : {
"description" : "",
"type" : "string"
            },
            "cont2" : {
"description" : "",
"type" : "string"
            },
            "size2" : {
"description" : "",
"type" : "string"
            },
            "type2" : {
"description" : "",
"type" : "string"
            },
            "payor_code" : {
"description" : "",
"type" : "string"
            },
            "pc" : {
"description" : "",
"type" : "string"
            },
            "sed" : {
"description" : "",
"type" : "string"
            },
            "serviceContract" : {
"description" : "",
"type" : "string"
            },
            "shipperEmail" : {
"description" : "",
"type" : "string"
            },
            "truckerEmail" : {
"description" : "",
"type" : "string"
            },
            "terms" : {
"description" : "",
"type" : "string"
            },
            "salesRep" : {
"description" : "",
"type" : "string"
            },
            "pfm" : {
"description" : "",
"type" : "string"
            },
            "shipperType" : {
"description" : "",
"type" : "string"
            },
            "inetUpd" : {
"description" : "",
"type" : "string"
            },
            "amsScac" : {
"description" : "",
"type" : "string"
            },
            "amsReference" : {
"description" : "",
"type" : "string"
            },
            "amsRefQuality" : {
"description" : "",
"type" : "string"
            },
            "agentCode" : {
"description" : "",
"type" : "string"
            },
            "receivedVia" : {
"description" : "",
"type" : "string"
            },
            "trackingCustomer1" : {
"description" : "",
"type" : "string"
            },
            "trackingCustomer2" : {
"description" : "",
"type" : "string"
            },
            "cForwarderReference" : {
"description" : "",
"type" : "string"
            },
            "cConsigneeReference" : {
"description" : "",
"type" : "string"
            },
            "cCustomerEmail" : {
"description" : "",
"type" : "string"
            },
            "cTransmissionType" : {
"description" : "",
"type" : "string"
            },
            "tDocumentCutoffDate" : {
"description" : "",
"type" : "string"
            },
            "cDocumentCutoffTime" : {
"description" : "",
"type" : "string"
            },
            "iVesselVoyageId" : {
"description" : "",
"type" : "number"
            },
            "cPickupTime" : {
"description" : "",
"type" : "string"
            },
            "cWwaReference" : {
"description" : "",
"type" : "string"
            },
            "iShipmentId" : {
"description" : "",
"type" : "string"
            },
            "cLoadUncode" : {
"description" : "",
"type" : "string"
            },
            "cOriginUncode" : {
"description" : "",
"type" : "string"
            },
            "cDischargeUncode" : {
"description" : "",
"type" : "string"
            },
            "cDestinationUncode" : {
"description" : "",
"type" : "string"
            },
            "cContainer1" : {
"description" : "",
"type" : "string"
            },
            "cReturnChasisCode" : {
"description" : "",
"type" : "string"
            },
            "tPickupDeliveryDate" : {
"description" : "",
"type" : "string"
            },
            "cPickupDeliveryTime" : {
"description" : "",
"type" : "string"
            },
            "cForwarderAddr1" : {
"description" : "",
"type" : "string"
            },
            "cForwarderAddr2" : {
"description" : "",
"type" : "string"
            },
            "cForwarderAddr3" : {
"description" : "",
"type" : "string"
            },
            "cPosTimeFormat" : {
"description" : "",
"type" : "string"
            },
            "cShipperZipcode" : {
"description" : "",
"type" : "string"
            },
            "cTruckerAddr" : {
"description" : "",
"type" : "string"
            },
            "cTruckerCity" : {
"description" : "",
"type" : "string"
            },
            "cTruckerZipcode" : {
"description" : "",
"type" : "string"
            },
            "cPickerContact" : {
"description" : "",
"type" : "string"
            },
            "tEtaDestination" : {
"description" : "",
"type" : "string"
            },
            "cConsigneeContact" : {
"description" : "",
"type" : "string"
            },
            "cConsigneePhone" : {
"description" : "",
"type" : "string"
            },
            "cConsigneeFax" : {
"description" : "",
"type" : "string"
            },
            "cPickupAtContact" : {
"description" : "",
"type" : "string"
            },
            "cPickupAtPhone" : {
"description" : "",
"type" : "string"
            },
            "cPickupAtFax" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerCode" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerName" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerDate" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerTime" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisCode" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisName" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisDate" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisTime" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisName" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisDate" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisTime" : {
"description" : "",
"type" : "string"
            },
            "cReturnContainerCode" : {
"description" : "",
"type" : "string"
            },
            "cReturnContainerName" : {
"description" : "",
"type" : "string"
            },
            "cReturnContainerDate" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerAddr1" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerAddr2" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerAddr3" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerState" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerZipcode" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerPhone" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisAddr1" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisAddr2" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisAddr3" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisState" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisPhone" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisAddr1" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisAddr2" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisAddr3" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisState" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisZipcode" : {
"description" : "",
"type" : "string"
            },
            "cWarehouseState" : {
"description" : "",
"type" : "string"
            },
            "cTermName" : {
"description" : "",
"type" : "string"
            },
            "cDestinationLocationInfo" : {
"description" : "",
"type" : "string"
            },
            "iWeightLbs" : {
"description" : "",
"type" : "string"
            },
            "cMarksNumbers" : {
"description" : "",
"type" : "string"
            },
            "cPickupTimeto" : {
"description" : "",
"type" : "string"
            },
            "cUPdateUser" : {
"description" : "",
"type" : "string"
            },
            "tUpdateDate" : {
"description" : "",
"type" : "string"
            },
            "cPickupContainerToTime" : {
"description" : "",
"type" : "string"
            },
            "cPickupChassisToTime" : {
"description" : "",
"type" : "string"
            },
            "cReturnContainerToTime" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisToTime" : {
"description" : "",
"type" : "string"
            },
            "cPrecarriage" : {
"description" : "",
"type" : "string"
            },
            "cPrecarriageType" : {
"description" : "",
"type" : "string"
            },
            "cNomination" : {
"description" : "",
"type" : "string"
            },
            "cInputUser" : {
"description" : "",
"type" : "string"
            },
            "tInputDate" : {
"description" : "",
"type" : "string"
            },
            "cPrivateLocationInfo" : {
"description" : "",
"type" : "string"
            },
            "deconsolidationCode" : {
"description" : "",
"type" : "string"
            },
            "deconsolidationName" : {
"description" : "",
"type" : "string"
            },
            "deconsolidationDate" : {
"description" : "",
"type" : "string"
            },
            "finalCfsCode" : {
"description" : "",
"type" : "string"
            },
            "finalCfsName" : {
"description" : "",
"type" : "string"
            },
            "finalCfsDate" : {
"description" : "",
"type" : "string"
            },
            "warehouseDeliveryReference" : {
"description" : "",
"type" : "string"
            },
            "cPackaging" : {
"description" : "",
"type" : "string"
            },
            "actualyPieces" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderCode" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderName" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderAddr1" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderAddr2" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderAddr3" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderPhone" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderContact" : {
"description" : "",
"type" : "string"
            },
            "cActualForwarderReference" : {
"description" : "",
"type" : "string"
            },
            "cDocumentDeliveryCode" : {
"description" : "",
"type" : "string"
            },
            "cDocumentDeliverName" : {
"description" : "",
"type" : "string"
            },
            "cDocumentDeliveryAddr1" : {
"description" : "",
"type" : "string"
            },
            "cDocumentDeliveryAddr2" : {
"description" : "",
"type" : "string"
            },
            "cDocumentDeliveryAddr3" : {
"description" : "",
"type" : "string"
            },
            "cDocumentDeliverContact" : {
"description" : "",
"type" : "string"
            },
            "cCommissionClass" : {
"description" : "",
"type" : "string"
            },
            "forwarderCode" : {
"description" : "",
"type" : "string"
            },
            "cCommunicationReference" : {
"description" : "",
"type" : "string"
            },
            "payorCode" : {
"description" : "",
"type" : "string"
            },
            "cReturnContainerTime" : {
"description" : "",
"type" : "string"
            },
            "cReturnChassisPhone" : {
"description" : "",
"type" : "string"
            },
            "iWeightCbf" : {
"description" : "",
"type" : "string"
            },
            "truckPhone" : {
"description" : "",
"type" : "string"
            },
            "c_transmit_location_name" : {
"description" : "",
"type" : "string"
            },
            "consolidationCode" : {
"description" : "",
"type" : "string"
            },
            "consolidationName" : {
"description" : "",
"type" : "string"
            },
            "consolidationDate" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentBookingClauseBean" : {
      "type" : "object",
      "title" : "ShipmentBookingClauseBean",
          "properties" : {
            "clauseCode" : {
"description" : "",
"type" : "string"
            },
            "clauseName" : {
"description" : "",
"type" : "string"
            },
            "clauseNameLocale" : {
"description" : "",
"type" : "string"
            },
            "clause" : {
"description" : "",
"type" : "string"
            },
            "clauseLocale" : {
"description" : "",
"type" : "string"
            },
            "bookingNumber" : {
"description" : "",
"type" : "string"
            },
            "recordSeq" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentBookingHazardBean" : {
      "type" : "object",
      "title" : "ShipmentBookingHazardBean",
          "properties" : {
            "bookingNo" : {
"description" : "",
"type" : "number"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "shipperName2" : {
"description" : "",
"type" : "string"
            },
            "techName1" : {
"description" : "",
"type" : "string"
            },
            "techName2" : {
"description" : "",
"type" : "string"
            },
            "noPcs" : {
"description" : "",
"type" : "string"
            },
            "packaging" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "imcoClass" : {
"description" : "",
"type" : "string"
            },
            "unNo" : {
"description" : "",
"type" : "number"
            },
            "imcoPage" : {
"description" : "",
"type" : "string"
            },
            "flashPoint" : {
"description" : "",
"type" : "number"
            },
            "fc" : {
"description" : "",
"type" : "string"
            },
            "packageGroup" : {
"description" : "",
"type" : "string"
            },
            "plackard1" : {
"description" : "",
"type" : "string"
            },
            "plackard2" : {
"description" : "",
"type" : "string"
            },
            "emergencyPhone" : {
"description" : "",
"type" : "string"
            },
            "emergencyCont" : {
"description" : "",
"type" : "string"
            },
[...]
