{
  "swagger": "2.0",
  "info" : {
    "description" : "<h1>phoenix-global Maven Webapp<\/h1>",
    "version" : "1.0",
    "title" : "phoenix-global Maven Webapp"
  },
  "host" : "scan-it.phxcloud.io",
  "basePath" : "/phoenix/globalPages/webservice",
  "schemes" : [],
  "tags" : [
    {
      "name" : "BillOfLadingDataWebService"
    }
    ,
    {
      "name" : "BookingInfoResource"
    }
    ,
    {
      "name" : "CustomerDataWebService"
    }
    ,
    {
      "name" : "CustomerSearchApiWebService"
    }
    ,
    {
      "name" : "CustomerSearchWebService"
    }
    ,
    {
      "name" : "GlobalLoginService"
    }
    ,
    {
      "name" : "ShipmentDetailsThirdPartyResource"
    }
    ,
    {
      "name" : "ShipmentObjectResource"
    }
    ,
    {
      "name" : "ShipmentSearchGlobalResource"
      ,
      "description" : "This is the web service resource for fetching shipment details based on\r\nreference type provided."
    }
    ,
    {
      "name" : "WarehouseManifestGlobalWebService"
    }
  ],
  "definitions" : {
    "json_AgingMainBean" : {
      "type" : "object",
      "title" : "AgingMainBean",
          "properties" : {
            "totalAmount" : {
"description" : "",
"type" : "number"
            },
            "agingWidgetBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_AgingWidgetBean"
}
}
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "agingType" : {
"description" : "",
"type" : "string"
            },
            "unappliedAmount" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_AgingWidgetBean" : {
      "type" : "object",
      "title" : "AgingWidgetBean",
          "properties" : {
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "targetType" : {
"description" : "",
"type" : "string"
            },
            "intervalCount" : {
"description" : "",
"type" : "string"
            },
            "unPaidamount" : {
"description" : "",
"type" : "number"
            },
            "intervalRange" : {
"description" : "",
"type" : "string"
            },
            "target" : {
"description" : "",
"type" : "number"
            },
            "statusPercent" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ApplyToHistoryBean" : {
      "type" : "object",
      "title" : "ApplyToHistoryBean",
          "properties" : {
            "arSource" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "invoiceDate" : {
"description" : "",
"type" : "number"
            },
            "arType" : {
"description" : "",
"type" : "string"
            },
            "arBatch" : {
"description" : "",
"type" : "string"
            },
            "invoiceLocalAmount" : {
"description" : "",
"type" : "number"
            },
            "invoiceDateDisplay" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ArrivalNoticeBean" : {
      "type" : "object",
      "title" : "ArrivalNoticeBean",
          "properties" : {
            "iStatus" : {
"description" : "",
"type" : "string"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "vatInvoice" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "houseITNumber" : {
"description" : "",
"type" : "string"
            },
            "createdDate" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "truckerCode" : {
"description" : "",
"type" : "string"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "originalReq" : {
"description" : "",
"type" : "string"
            },
            "activityDate" : {
"description" : "",
"type" : "string"
            },
            "blDischargeName" : {
"description" : "",
"type" : "string"
            },
            "blDischargeCode" : {
"description" : "",
"type" : "string"
            },
            "availDate" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "hblNo" : {
"description" : "",
"type" : "string"
            },
            "invoiceNo" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "etaDestination" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "charges" : {
"description" : "",
"type" : "number"
            },
            "mblNumber" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "arnNo" : {
"description" : "",
"type" : "string"
            },
            "vatCreditNumber" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "etdOrigin" : {
"description" : "",
"type" : "string"
            },
            "container" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "blLoadName" : {
"description" : "",
"type" : "string"
            },
            "creditNumber" : {
"description" : "",
"type" : "string"
            },
            "fileNo" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "createdBy" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "vessel" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "blLoadCode" : {
"description" : "",
"type" : "string"
            },
            "paymentStatus" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "hblNumber" : {
"description" : "",
"type" : "string"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "originalRec" : {
"description" : "",
"type" : "string"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_BolBean" : {
      "type" : "object",
      "title" : "BolBean",
          "properties" : {
            "blTopLot9" : {
"description" : "",
"type" : "string"
            },
            "blTopLot6" : {
"description" : "",
"type" : "string"
            },
            "blTopLot8" : {
"description" : "",
"type" : "string"
            },
            "noOfOriginals" : {
"description" : "",
"type" : "number"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "vatInvoiceNo" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "blType" : {
"description" : "",
"type" : "string"
            },
            "blStatus" : {
"description" : "",
"type" : "string"
            },
            "creditNumber" : {
"description" : "",
"type" : "string"
            },
            "blTopLot14" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "blTopBkgNo" : {
"description" : "",
"type" : "number"
            },
            "blTopLot13" : {
"description" : "",
"type" : "string"
            },
            "blTopLot12" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "blTopLot1" : {
"description" : "",
"type" : "string"
            },
            "availableLots" : {
"description" : "",
"type" : "string"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "fileNo" : {
"description" : "",
"type" : "string"
            },
            "blTopLot5" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "blTopLot7" : {
"description" : "",
"type" : "string"
            },
            "charges" : {
"description" : "",
"type" : "number"
            },
            "bookingNumber" : {
"description" : "",
"type" : "number"
            },
            "blTopLot4" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "vesselName" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "deliveryPartyDetails" : {
"description" : "",
"type" : "string"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "shipperDetails" : {
"description" : "",
"type" : "string"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "consigneeDetails" : {
"description" : "",
"type" : "string"
            },
            "createdBy" : {
"description" : "",
"type" : "string"
            },
            "blTopLot11" : {
"description" : "",
"type" : "string"
            },
            "blTopLot10" : {
"description" : "",
"type" : "string"
            },
            "notifyPartyDetails" : {
"description" : "",
"type" : "string"
            },
            "blTopLot2" : {
"description" : "",
"type" : "string"
            },
            "iStatus" : {
"description" : "",
"type" : "string"
            },
            "clauses" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "blTopLot3" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "bolNo" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "blTopLot15" : {
"description" : "",
"type" : "string"
            },
            "container" : {
"description" : "",
"type" : "string"
            },
            "createdDate" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "vatCreditNo" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "vesselCode" : {
"description" : "",
"type" : "string"
            },
            "forwarderDetails" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "lineHouse" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_BookingBean" : {
      "type" : "object",
      "title" : "BookingBean",
          "properties" : {
            "containerType2" : {
"description" : "",
"type" : "string"
            },
            "containerName2" : {
"description" : "",
"type" : "string"
            },
            "pickup" : {
"description" : "",
"type" : "string"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "inetUPD" : {
"description" : "",
"type" : "string"
            },
            "vesselName" : {
"description" : "",
"type" : "string"
            },
            "lotNumber" : {
"description" : "",
"type" : "string"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "containerDetails2" : {
"description" : "",
"type" : "string"
            },
            "containerName1" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "container1" : {
"description" : "",
"type" : "string"
            },
            "container" : {
"description" : "",
"type" : "string"
            },
            "etaDestination" : {
"description" : "",
"type" : "string"
            },
            "containerSize2" : {
"description" : "",
"type" : "string"
            },
            "containerDetails" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "vesselCode" : {
"description" : "",
"type" : "string"
            },
            "containerName" : {
"description" : "",
"type" : "string"
            },
            "containerSize1" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "billOfLadingNumber" : {
"description" : "",
"type" : "string"
            },
            "containerType1" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "containerDetails1" : {
"description" : "",
"type" : "string"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "receivedVia" : {
"description" : "",
"type" : "string"
            },
            "etdOrigin" : {
"description" : "",
"type" : "string"
            },
            "bookingNo" : {
"description" : "",
"type" : "number"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "containerSize" : {
"description" : "",
"type" : "string"
            },
            "bookingDate" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            },
            "latestDeliveryDate" : {
"description" : "",
"type" : "string"
            },
            "containerType" : {
"description" : "",
"type" : "string"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "container2" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "bookingSqlDate" : {
"description" : "",
"$ref" : "#/definitions/json_Date"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "quoteNo" : {
"description" : "",
"type" : "number"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_CommonBean" : {
      "type" : "object",
      "title" : "CommonBean",
          "properties" : {
            "inputUserFullname" : {
"description" : "",
"type" : "string"
            },
            "userSchemaID" : {
"description" : "",
"type" : "number"
            },
            "inputLdapUser" : {
"description" : "",
"type" : "string"
            },
            "updateUser" : {
"description" : "",
"type" : "string"
            },
            "userSchemaName" : {
"description" : "",
"type" : "string"
            },
            "userLoginId" : {
"description" : "",
"type" : "number"
            },
            "config" : {
"description" : "",
"type" : "string"
            },
            "userCompany" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "password" : {
"description" : "",
"type" : "string"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "userID" : {
"description" : "",
"type" : "number"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "updateUserFullname" : {
"description" : "",
"type" : "string"
            },
            "officeTimezone" : {
"description" : "",
"type" : "string"
            },
            "userRoleID" : {
"description" : "",
"type" : "number"
            },
            "userCompanyName" : {
"description" : "",
"type" : "string"
            },
            "username" : {
"description" : "",
"type" : "string"
            },
            "ldapUsername" : {
"description" : "",
"type" : "string"
            },
            "userFullname" : {
"description" : "",
"type" : "string"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "debugModeFlag" : {
"description" : "",
"type" : "number"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "updateDate" : {
"description" : "",
"type" : "string"
            },
            "userOfficeID" : {
"description" : "",
"type" : "number"
            },
            "updateLdapUser" : {
"description" : "",
"type" : "string"
            },
            "locale" : {
"description" : "",
"type" : "string"
            },
            "userDefaultWarehouse" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ContactDetailBean" : {
      "type" : "object",
      "title" : "ContactDetailBean",
          "properties" : {
            "telephone" : {
"description" : "",
"type" : "string"
            },
            "email" : {
"description" : "",
"type" : "string"
            },
            "contactName" : {
"description" : "",
"type" : "string"
            },
            "typeContact" : {
"description" : "",
"type" : "string"
            },
            "designation" : {
"description" : "",
"type" : "string"
            },
            "mobile" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_CustomerBean" : {
      "type" : "object",
      "title" : "CustomerBean",
          "properties" : {
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "customerName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_CustomerInformationBean" : {
      "type" : "object",
      "title" : "CustomerInformationBean",
          "properties" : {
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "customerName" : {
"description" : "",
"type" : "string"
            },
            "customerAddress1" : {
"description" : "",
"type" : "string"
            },
            "customerAddress2" : {
"description" : "",
"type" : "string"
            },
            "customerAddress3" : {
"description" : "",
"type" : "string"
            },
            "telephone" : {
"description" : "",
"type" : "string"
            },
            "customerContactName" : {
"description" : "",
"type" : "string"
            },
            "officeCollect" : {
"description" : "",
"type" : "string"
            },
            "type" : {
"description" : "",
"type" : "string"
            },
            "state" : {
"description" : "",
"type" : "string"
            },
            "zipCountry" : {
"description" : "",
"type" : "string"
            },
            "faxNumber" : {
"description" : "",
"type" : "string"
            },
            "email" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_Date" : {
      "type" : "object",
      "title" : "Date",
      "allOf" : [
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_DocumentAttachedBean" : {
      "type" : "object",
      "title" : "DocumentAttachedBean",
          "properties" : {
            "blMode" : {
"description" : "",
"type" : "string"
            },
            "status_name" : {
"description" : "",
"type" : "string"
            },
            "transmitEnable" : {
"description" : "",
"type" : "boolean"
            },
            "documentProgramCode" : {
"description" : "",
"type" : "string"
            },
            "payorCode" : {
"description" : "",
"type" : "string"
            },
            "documentAttached" : {
"description" : "",
"type" : "boolean"
            },
            "document_ref" : {
"description" : "",
"type" : "string"
            },
            "documentSettingBean" : {
"description" : "",
"$ref" : "#/definitions/json_DocumentSettingBean"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "localDate" : {
"description" : "",
"type" : "string"
            },
            "emailCheckBoxRequire" : {
"description" : "",
"type" : "boolean"
            },
            "localeId" : {
"description" : "",
"type" : "string"
            },
            "fitToPage" : {
"description" : "",
"type" : "string"
            },
            "transactionalType" : {
"description" : "",
"type" : "string"
            },
            "docSelected" : {
"description" : "",
"type" : "number"
            },
            "pendingApproval" : {
"description" : "",
"type" : "boolean"
            },
            "officeTimezone" : {
"description" : "",
"type" : "string"
            },
            "documenthistoryid" : {
"description" : "",
"type" : "string"
            },
            "showPDFWithWatermark" : {
"description" : "",
"type" : "boolean"
            },
            "transmit" : {
"description" : "",
"type" : "boolean"
            },
            "default" : {
"description" : "",
"type" : "boolean"
            },
            "transmitCoutShowZero" : {
"description" : "",
"type" : "boolean"
            },
            "forcedPrint" : {
"description" : "",
"type" : "boolean"
            },
            "previewUrl" : {
"description" : "",
"type" : "string"
            },
            "generate" : {
"description" : "",
"type" : "boolean"
            },
            "recCode" : {
"description" : "",
"type" : "string"
            },
            "reference" : {
"description" : "",
"type" : "string"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "userTimezone" : {
"description" : "",
"type" : "string"
            },
            "doCustomerValidation" : {
"description" : "",
"type" : "boolean"
            },
            "defaultSelected" : {
"description" : "",
"type" : "string"
            },
            "ediCMMI30Count" : {
"description" : "",
"type" : "number"
            },
            "generateInvoiceBean" : {
"description" : "",
"$ref" : "#/definitions/json_GenerateInvoiceBean"
            },
            "printWithoutLogo" : {
"description" : "",
"type" : "boolean"
            },
            "printCheckBoxRequire" : {
"description" : "",
"type" : "boolean"
            },
            "printEnabled" : {
"description" : "",
"type" : "boolean"
            },
            "shipmentDirection" : {
"description" : "",
"type" : "string"
            },
            "documentCode" : {
"description" : "",
"type" : "string"
            },
            "manifestCount" : {
"description" : "",
"type" : "number"
            },
            "documentSubject" : {
"description" : "",
"type" : "string"
            },
            "transmitToList" : {
"description" : "",
"type" : "boolean"
            },
            "docVersion" : {
"description" : "",
"type" : "string"
            },
            "fileId" : {
"description" : "",
"type" : "number"
            },
            "executeVia" : {
"description" : "",
"type" : "string"
            },
            "voided" : {
"description" : "",
"type" : "boolean"
            },
            "objectType" : {
"description" : "",
"type" : "string"
            },
            "ediInvoiceStatus" : {
"description" : "",
"type" : "string"
            },
            "validationMessage" : {
"description" : "",
"type" : "string"
            },
            "staticArguments" : {
"description" : "",
"type" : "object"
            },
            "docCode" : {
"description" : "",
"type" : "string"
            },
            "blTransmissionCount" : {
"description" : "",
"type" : "number"
            },
            "schemaid" : {
"description" : "",
"type" : "number"
            },
            "faxNumber" : {
"description" : "",
"type" : "string"
            },
            "emailWithoutLogo" : {
"description" : "",
"type" : "boolean"
            },
            "reportContentName" : {
"description" : "",
"type" : "string"
            },
            "dynamicArguments" : {
"description" : "",
"type" : "object"
            },
            "onHold" : {
"description" : "",
"type" : "boolean"
            },
            "index" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "sailConfirmed" : {
"description" : "",
"type" : "string"
            },
            "previewPopupHeader" : {
"description" : "",
"type" : "string"
            },
            "comments" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "cfsflag" : {
"description" : "",
"type" : "boolean"
            },
            "documentExecutionType" : {
"description" : "",
"type" : "string"
            },
            "isCancel" : {
"description" : "",
"type" : "boolean"
            },
            "courierCheckBoxRequire" : {
"description" : "",
"type" : "boolean"
            },
            "parentReference" : {
"description" : "",
"type" : "string"
            },
            "emailEnabled" : {
"description" : "",
"type" : "boolean"
            },
            "staticArgs" : {
"description" : "",
"type" : "string"
            },
            "faxCheckboxRequire" : {
"description" : "",
"type" : "boolean"
            },
            "governmentReferenceNumber" : {
"description" : "",
"type" : "string"
            },
            "stopCode" : {
"description" : "",
"type" : "string"
            },
            "transmitSelect" : {
"description" : "",
"type" : "boolean"
            },
            "jasperServiceName" : {
"description" : "",
"type" : "string"
            },
            "transmitTo" : {
"description" : "",
"type" : "string"
            },
            "upload" : {
"description" : "",
"type" : "boolean"
            },
            "tsscomment" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "transmissionCheckBoxRequire" : {
"description" : "",
"type" : "boolean"
            },
            "contentType" : {
"description" : "",
"type" : "string"
            },
            "serviceName" : {
"description" : "",
"type" : "string"
            },
            "documentName" : {
"description" : "",
"type" : "string"
            },
            "userFullName" : {
"description" : "",
"type" : "string"
            },
            "procCode" : {
"description" : "",
"type" : "string"
            },
            "noTransmit" : {
"description" : "",
"type" : "boolean"
            },
            "version" : {
"description" : "",
"type" : "string"
            },
            "holdType" : {
"description" : "",
"type" : "string"
            },
            "vendorList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "localeName" : {
"description" : "",
"type" : "string"
            },
            "previewable" : {
"description" : "",
"type" : "boolean"
            },
            "invoicePostingDate" : {
"description" : "",
"type" : "number"
            },
            "xlsType" : {
"description" : "",
"type" : "boolean"
            },
            "localeCode" : {
"description" : "",
"type" : "string"
            },
            "docFlag" : {
"description" : "",
"type" : "string"
            },
            "wareHouse" : {
"description" : "",
"type" : "string"
            },
            "transmitToSuggestion" : {
"description" : "",
"type" : "boolean"
            },
            "stopName" : {
"description" : "",
"type" : "string"
            },
            "isRequestIncomplete" : {
"description" : "",
"type" : "boolean"
            },
            "holdDocFlag" : {
"description" : "",
"type" : "number"
            },
            "transmissionDirection" : {
"description" : "",
"type" : "string"
            },
            "documentSequence" : {
"description" : "",
"type" : "number"
            },
            "transmitType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_DocumentSettingBean" : {
      "type" : "object",
      "title" : "DocumentSettingBean",
          "properties" : {
            "shipmentObjectCode" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "string"
            },
            "documentCode" : {
"description" : "",
"type" : "string"
            },
            "documentSettingMap" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_FileSearchBean" : {
      "type" : "object",
      "title" : "FileSearchBean",
          "properties" : {
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "stopOff" : {
"description" : "",
"type" : "boolean"
            },
            "fileNumber" : {
"description" : "",
"type" : "string"
            },
            "loadCode" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "carrierBooking" : {
"description" : "",
"type" : "string"
            },
            "typeOfMove" : {
"description" : "",
"type" : "string"
            },
            "arrivalDate" : {
"description" : "",
"type" : "string"
            },
            "vesselName" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "mblNumber" : {
"description" : "",
"type" : "string"
            },
            "carrier" : {
"description" : "",
"type" : "string"
            },
            "departureDate" : {
"description" : "",
"type" : "string"
            },
            "loadplans" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "vesselCode" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "container" : {
"description" : "",
"type" : "string"
            },
            "direction" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_GenerateInvoiceBean" : {
      "type" : "object",
      "title" : "GenerateInvoiceBean",
          "properties" : {
            "invoiceAmount" : {
"description" : "",
"type" : "number"
            },
            "openAR" : {
"description" : "",
"type" : "number"
            },
            "creditUsed" : {
"description" : "",
"type" : "number"
            },
            "creditLimit" : {
"description" : "",
"type" : "string"
            },
            "errorMessage" : {
"description" : "",
"type" : "string"
            },
            "unpostedInvAmount" : {
"description" : "",
"type" : "number"
            },
            "customerCdoe" : {
"description" : "",
"type" : "string"
            },
            "unpostedWorkAmount" : {
"description" : "",
"type" : "number"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "creditHold" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_HoldBean" : {
      "type" : "object",
      "title" : "HoldBean",
          "properties" : {
            "code" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_InvoiceBean" : {
      "type" : "object",
      "title" : "InvoiceBean",
          "properties" : {
            "payerName" : {
"description" : "",
"type" : "string"
            },
            "localAmt" : {
"description" : "",
"type" : "number"
            },
            "paid" : {
"description" : "",
"type" : "string"
            },
            "localCurr" : {
"description" : "",
"type" : "string"
            },
            "paymentType" : {
"description" : "",
"type" : "string"
            },
            "dualInvoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "closeDate" : {
"description" : "",
"type" : "number"
            },
            "blNo" : {
"description" : "",
"type" : "string"
            },
            "arBatch" : {
"description" : "",
"type" : "number"
            },
            "sale" : {
"description" : "",
"type" : "string"
            },
            "additionalType" : {
"description" : "",
"type" : "string"
            },
            "glNumber" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "siiNumber" : {
"description" : "",
"type" : "string"
            },
            "invoiceForeignAmount" : {
"description" : "",
"type" : "number"
            },
            "direction" : {
"description" : "",
"type" : "string"
            },
            "batchNumber" : {
"description" : "",
"type" : "string"
            },
            "invoicestatus" : {
"description" : "",
"type" : "string"
            },
            "arPostingDate" : {
"description" : "",
"type" : "string"
            },
            "balanceAmount" : {
"description" : "",
"type" : "number"
            },
            "fileNo" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "name" : {
"description" : "",
"type" : "string"
            },
            "groupInvoiceFlag" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "invoiceDate" : {
"description" : "",
"type" : "string"
            },
            "paymentDate" : {
"description" : "",
"type" : "string"
            },
            "office" : {
"description" : "",
"type" : "string"
            },
            "referenceType" : {
"description" : "",
"type" : "string"
            },
            "airInvoiceType" : {
"description" : "",
"type" : "string"
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "disputedValue" : {
"description" : "",
"type" : "string"
            },
            "invoiceNo" : {
"description" : "",
"type" : "string"
            },
            "countAirDocument" : {
"description" : "",
"type" : "number"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "amountPaid" : {
"description" : "",
"type" : "string"
            },
            "paymentAmount" : {
"description" : "",
"type" : "number"
            },
            "recstatcode" : {
"description" : "",
"type" : "string"
            },
            "glDate" : {
"description" : "",
"type" : "number"
            },
            "invoiceDescription" : {
"description" : "",
"type" : "string"
            },
            "issuedByUser" : {
"description" : "",
"type" : "string"
            },
            "payerCode" : {
"description" : "",
"type" : "string"
            },
            "arType" : {
"description" : "",
"type" : "string"
            },
            "reference" : {
"description" : "",
"type" : "string"
            },
            "arSubType" : {
"description" : "",
"type" : "string"
            },
            "applyVat" : {
"description" : "",
"type" : "string"
            },
            "totalRecord" : {
"description" : "",
"type" : "number"
            },
            "issuedByAt" : {
"description" : "",
"type" : "string"
            },
            "arSource" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "SQLTypeName" : {
"description" : "",
"type" : "string"
            },
            "houseReferNo" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_InvoiceDetailBean" : {
      "type" : "object",
      "title" : "InvoiceDetailBean",
          "properties" : {
            "paymentDetailBean" : {
"description" : "",
"$ref" : "#/definitions/json_PaymentDetailBean"
            },
            "cancelAdditionalInvoice" : {
"description" : "",
"type" : "string"
            },
            "batchNumber" : {
"description" : "",
"type" : "string"
            },
            "glNumber" : {
"description" : "",
"type" : "string"
            },
            "ediInvoiceStatusDisplay" : {
"description" : "",
"type" : "string"
            },
            "arSource" : {
"description" : "",
"type" : "string"
            },
            "vatFlag" : {
"description" : "",
"type" : "string"
            },
            "invoiceDescription" : {
"description" : "",
"type" : "string"
            },
            "invoiceUserSchema" : {
"description" : "",
"type" : "string"
            },
            "totalCount" : {
"description" : "",
"type" : "number"
            },
            "applyToHistoryDetailList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ApplyToHistoryBean"
}
}
            },
            "reference" : {
"description" : "",
"type" : "string"
            },
            "disputed" : {
"description" : "",
"type" : "boolean"
            },
            "recstatcode" : {
"description" : "",
"type" : "string"
            },
            "chargeCurrency" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "arBatch" : {
"description" : "",
"type" : "string"
            },
            "postingDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "invoiceIssuedBy" : {
"description" : "",
"type" : "string"
            },
            "organizationResultDetailBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_OrganizationResultDetailBean"
}
}
            },
            "postingDate" : {
"description" : "",
"type" : "number"
            },
            "inputDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "direction" : {
"description" : "",
"type" : "string"
            },
            "customerName" : {
"description" : "",
"type" : "string"
            },
            "paymentType" : {
"description" : "",
"type" : "string"
            },
            "airInvoiceType" : {
"description" : "",
"type" : "string"
            },
            "intercoExpFile" : {
"description" : "",
"type" : "string"
            },
            "invoiceForeignAmount" : {
"description" : "",
"type" : "number"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "closeDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "locationName" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "number"
            },
            "applyTo" : {
"description" : "",
"type" : "string"
            },
            "transmissionDocType" : {
"description" : "",
"type" : "string"
            },
            "documentAttachedBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_DocumentAttachedBean"
}
}
            },
            "glDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "invoiceLocalAmount" : {
"description" : "",
"type" : "number"
            },
            "arSubType" : {
"description" : "",
"type" : "string"
            },
            "routingDetailBean" : {
"description" : "",
"$ref" : "#/definitions/json_RoutingDetailBean"
            },
            "referenceType" : {
"description" : "",
"type" : "string"
            },
            "houseReferNo" : {
"description" : "",
"type" : "string"
            },
            "countAirDocument" : {
"description" : "",
"type" : "number"
            },
            "invoiceDueDate" : {
"description" : "",
"type" : "number"
            },
            "note2" : {
"description" : "",
"type" : "string"
            },
            "office" : {
"description" : "",
"type" : "string"
            },
            "govRefNumber" : {
"description" : "",
"type" : "string"
            },
            "glDate" : {
"description" : "",
"type" : "number"
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "paymentDate" : {
"description" : "",
"type" : "string"
            },
            "shipmentDetailBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipmentDetailBean"
            },
            "paidAmount" : {
"description" : "",
"type" : "number"
            },
            "issuedByAt" : {
"description" : "",
"type" : "string"
            },
            "custRef" : {
"description" : "",
"type" : "string"
            },
            "arType" : {
"description" : "",
"type" : "string"
            },
            "ratingDetailBeansList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_RatingDetailBean"
}
}
            },
            "localCustomer" : {
"description" : "",
"type" : "string"
            },
            "invoiceDueDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "applyVat" : {
"description" : "",
"type" : "string"
            },
            "docType" : {
"description" : "",
"type" : "string"
            },
            "balanceAmount" : {
"description" : "",
"type" : "number"
            },
            "disputedValue" : {
"description" : "",
"type" : "string"
            },
            "documentName" : {
"description" : "",
"type" : "string"
            },
            "truckBookingType" : {
"description" : "",
"type" : "string"
            },
            "invoiceDate" : {
"description" : "",
"type" : "number"
            },
            "paymentDetailList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PaymentDetailBean"
}
}
            },
            "ediInvoiceStatus" : {
"description" : "",
"type" : "string"
            },
            "timeStampBean" : {
"description" : "",
"$ref" : "#/definitions/json_TimeStampBean"
            },
            "invoiceType" : {
"description" : "",
"type" : "string"
            },
            "closeDate" : {
"description" : "",
"type" : "number"
            },
            "issuedByCode" : {
"description" : "",
"type" : "string"
            },
            "invoiceDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "sale" : {
"description" : "",
"type" : "string"
            },
            "invoicestatus" : {
"description" : "",
"type" : "string"
            },
            "dualInvoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "issuedByUser" : {
"description" : "",
"type" : "string"
            },
            "note1" : {
"description" : "",
"type" : "string"
            },
            "foreignCurrency" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_LoadPlanQuickSearchBean" : {
      "type" : "object",
      "title" : "LoadPlanQuickSearchBean",
          "properties" : {
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "destination" : {
"description" : "",
"type" : "string"
            },
            "loadPlanReference" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "vessel" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "schemaId" : {
"description" : "",
"type" : "number"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "fileNumber" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_LotBean" : {
      "type" : "object",
      "title" : "LotBean",
          "properties" : {
            "trucker" : {
"description" : "",
"type" : "string"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "hold" : {
"description" : "",
"type" : "string"
            },
            "proNumber" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "inDate" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "shipperAdress1" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "vessel" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "arrNoticeNo" : {
"description" : "",
"type" : "string"
            },
            "holdDescription" : {
"description" : "",
"type" : "string"
            },
            "container" : {
"description" : "",
"type" : "string"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "inTime" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "exceptions" : {
"description" : "",
"type" : "string"
            },
            "warehouse" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            },
            "billOfLadingNumber" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "commonBean" : {
"description" : "",
"$ref" : "#/definitions/json_CommonBean"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "lotDate" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "sel" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "lotNo" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "bookingNo" : {
"description" : "",
"type" : "number"
            },
            "shipmentDirection" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "fileNumber" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "etdDate" : {
"description" : "",
"type" : "string"
            },
            "inSqlDate" : {
"description" : "",
"$ref" : "#/definitions/json_Date"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationResultDetailBean" : {
      "type" : "object",
      "title" : "OrganizationResultDetailBean",
          "properties" : {
            "creditTerm" : {
"description" : "",
"type" : "string"
            },
            "wwaCustomer" : {
"description" : "",
"type" : "string"
            },
            "organizationType" : {
"description" : "",
"type" : "string"
            },
            "uninvoicedShipment" : {
"description" : "",
"type" : "number"
            },
            "einType" : {
"description" : "",
"type" : "string"
            },
            "organizationName" : {
"description" : "",
"type" : "string"
            },
            "paymentIndicator" : {
"description" : "",
"type" : "number"
            },
            "creditOverAmount" : {
"description" : "",
"type" : "number"
            },
            "bookingCycle" : {
"description" : "",
"type" : "string"
            },
            "fax" : {
"description" : "",
"type" : "string"
            },
            "accountClass" : {
"description" : "",
"type" : "string"
            },
            "dateAssignedLabel" : {
"description" : "",
"type" : "string"
            },
            "contactPerson" : {
"description" : "",
"type" : "string"
            },
            "dateAssigned" : {
"description" : "",
"type" : "number"
            },
            "billToCode" : {
"description" : "",
"type" : "string"
            },
            "totalImportCredit" : {
"description" : "",
"type" : "string"
            },
            "custCode" : {
"description" : "",
"type" : "string"
            },
            "accuRateProfile" : {
"description" : "",
"type" : "string"
            },
            "agingMainBean" : {
"description" : "",
"$ref" : "#/definitions/json_AgingMainBean"
            },
            "cellPhone" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "number"
            },
            "vesselSchedule" : {
"description" : "",
"type" : "string"
            },
            "rateProfile" : {
"description" : "",
"type" : "string"
            },
            "name1" : {
"description" : "",
"type" : "string"
            },
            "postalCode" : {
"description" : "",
"type" : "string"
            },
            "contactDetailBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ContactDetailBean"
}
}
            },
            "email" : {
"description" : "",
"type" : "string"
            },
            "organizationAddress3" : {
"description" : "",
"type" : "string"
            },
            "inputBy" : {
"description" : "",
"type" : "string"
            },
            "organizationTypeCode" : {
"description" : "",
"type" : "string"
            },
            "inTransitShipment" : {
"description" : "",
"type" : "number"
            },
            "collectionOffice" : {
"description" : "",
"type" : "string"
            },
            "invoiceCurrency" : {
"description" : "",
"type" : "string"
            },
            "country" : {
"description" : "",
"type" : "string"
            },
            "phoneNumber" : {
"description" : "",
"type" : "string"
            },
            "city" : {
"description" : "",
"type" : "string"
            },
            "broker" : {
"description" : "",
"type" : "string"
            },
            "additionalProfile" : {
"description" : "",
"type" : "string"
            },
            "state" : {
"description" : "",
"type" : "string"
            },
            "salesRepresentative" : {
"description" : "",
"type" : "string"
            },
            "shipmentStatisticBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShipmentStatisticBean"
}
}
            },
            "einNumber" : {
"description" : "",
"type" : "string"
            },
            "saleRepresentativeType" : {
"description" : "",
"type" : "string"
            },
            "nvoccBond" : {
"description" : "",
"type" : "string"
            },
            "countryCode" : {
"description" : "",
"type" : "string"
            },
            "creditLimit" : {
"description" : "",
"type" : "number"
            },
            "organizationAddress" : {
"description" : "",
"type" : "string"
            },
            "arStatement" : {
"description" : "",
"type" : "string"
            },
            "fmcNumber" : {
"description" : "",
"type" : "string"
            },
            "organizationAddress2" : {
"description" : "",
"type" : "string"
            },
            "updateDate" : {
"description" : "",
"type" : "number"
            },
            "statementCycle" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasCode" : {
"description" : "",
"type" : "string"
            },
            "onHoldStatus" : {
"description" : "",
"type" : "string"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "callCycle" : {
"description" : "",
"type" : "string"
            },
            "region" : {
"description" : "",
"type" : "string"
            },
            "vendorCode" : {
"description" : "",
"type" : "string"
            },
            "updateBy" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "agent" : {
"description" : "",
"type" : "string"
            },
            "taxId" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PaymentDetailBean" : {
      "type" : "object",
      "title" : "PaymentDetailBean",
          "properties" : {
            "paymentDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "paymentDescription1" : {
"description" : "",
"type" : "string"
            },
            "paymentDescription2" : {
"description" : "",
"type" : "string"
            },
            "paymentCurrency" : {
"description" : "",
"type" : "string"
            },
            "paymentType" : {
"description" : "",
"type" : "string"
            },
            "paymentDate" : {
"description" : "",
"type" : "number"
            },
            "paymentStatus" : {
"description" : "",
"type" : "string"
            },
            "paymentAmount" : {
"description" : "",
"type" : "number"
            },
            "paymentReference" : {
"description" : "",
"type" : "string"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "paymentBatchNo" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "paymentNumber" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PurchaseOrderSearchResultBean" : {
      "type" : "object",
      "title" : "PurchaseOrderSearchResultBean",
          "properties" : {
            "shipEarliest" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "origin" : {
"description" : "",
"type" : "string"
            },
            "customerName" : {
"description" : "",
"type" : "string"
            },
            "weightKg" : {
"description" : "",
"type" : "string"
            },
            "voulmeCbm" : {
"description" : "",
"type" : "string"
            },
            "venderDetails" : {
"description" : "",
"type" : "string"
            },
            "volumeCbf" : {
"description" : "",
"type" : "string"
            },
            "purchaseOrderNumber" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "handlingOffice" : {
"description" : "",
"type" : "string"
            },
            "actualDelivery" : {
"description" : "",
"type" : "string"
            },
            "bookingNumber" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "destination" : {
"description" : "",
"type" : "string"
            },
            "transportMode" : {
"description" : "",
"type" : "string"
            },
            "reference" : {
"description" : "",
"type" : "string"
            },
            "localDelivery" : {
"description" : "",
"type" : "string"
            },
            "customerDetails" : {
"description" : "",
"type" : "string"
            },
            "outerPieces" : {
"description" : "",
"type" : "string"
            },
            "arriveEarliest" : {
"description" : "",
"type" : "string"
            },
            "direction" : {
"description" : "",
"type" : "string"
            },
            "venderName" : {
"description" : "",
"type" : "string"
            },
            "innerPieces" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_QuoteBean" : {
      "type" : "object",
      "title" : "QuoteBean",
          "properties" : {
            "vesselCode" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "etdOrigin" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "vesselName" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "quoteNo" : {
"description" : "",
"type" : "number"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "quoteDate" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_RatingDetailBean" : {
      "type" : "object",
      "title" : "RatingDetailBean",
          "properties" : {
            "foreignAmount" : {
"description" : "",
"type" : "number"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "foreignCurrency" : {
"description" : "",
"type" : "string"
            },
            "exchangeRate" : {
"description" : "",
"type" : "number"
            },
            "rate" : {
"description" : "",
"type" : "number"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "chargeCode" : {
"description" : "",
"type" : "string"
            },
            "localAmount" : {
"description" : "",
"type" : "number"
            },
            "basisDescription" : {
"description" : "",
"type" : "string"
            },
            "taxCode" : {
"description" : "",
"type" : "string"
            },
            "basis" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "chargeCurrency" : {
"description" : "",
"type" : "string"
            },
            "chargeDescription" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "message" : {
"description" : "",
"type" : "string"
            },
            "errorCode" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "result" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_RoutingDetailBean" : {
      "type" : "object",
      "title" : "RoutingDetailBean",
          "properties" : {
            "etsDate" : {
"description" : "",
"type" : "number"
            },
            "dischargePort" : {
"description" : "",
"type" : "string"
            },
            "etdDate" : {
"description" : "",
"type" : "number"
            },
            "etadDate" : {
"description" : "",
"type" : "number"
            },
            "etapDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "etapDate" : {
"description" : "",
"type" : "number"
            },
            "originLocationName" : {
"description" : "",
"type" : "string"
            },
            "placeOfReceipt" : {
"description" : "",
"type" : "string"
            },
            "airETA" : {
"description" : "",
"type" : "string"
            },
            "locationCode" : {
"description" : "",
"type" : "string"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "airETD" : {
"description" : "",
"type" : "string"
            },
            "loadPort" : {
"description" : "",
"type" : "string"
            },
            "destLocationName" : {
"description" : "",
"type" : "string"
            },
            "placeOfDelivery" : {
"description" : "",
"type" : "string"
            },
            "locationName" : {
"description" : "",
"type" : "string"
            },
            "etadDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "destAirportName" : {
"description" : "",
"type" : "string"
            },
            "etdDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "etsDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "typeOfMove" : {
"description" : "",
"type" : "string"
            },
            "originAirportName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipcoSearchHistInetBean" : {
      "type" : "object",
      "title" : "ShipcoSearchHistInetBean",
          "properties" : {
            "status" : {
"description" : "",
"type" : "string"
            },
            "transactionType" : {
"description" : "",
"type" : "string"
            },
            "recordType" : {
"description" : "",
"type" : "string"
            },
            "transactionTime" : {
"description" : "",
"type" : "string"
            },
            "subSystem" : {
"description" : "",
"type" : "string"
            },
            "containerNumber" : {
"description" : "",
"type" : "string"
            },
            "billOfLadingNumber" : {
"description" : "",
"type" : "string"
            },
            "arrivalNoticeNumber" : {
"description" : "",
"type" : "string"
            },
            "recSeq" : {
"description" : "",
"type" : "string"
            },
            "senderCode" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "serialversionuid" : {
"description" : "",
"type" : "number"
            },
            "lotNumber" : {
"description" : "",
"type" : "string"
            },
            "bookingNumber" : {
"description" : "",
"type" : "string"
            },
            "transactionDate" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipcoSearchIntertrackBean" : {
      "type" : "object",
      "title" : "ShipcoSearchIntertrackBean",
          "properties" : {
            "arrivalNoticeNumber" : {
"description" : "",
"type" : "string"
            },
            "recordType" : {
"description" : "",
"type" : "string"
            },
            "serialversionuid" : {
"description" : "",
"type" : "number"
            },
            "containerNumber" : {
"description" : "",
"type" : "string"
            },
            "lotNumber" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "billOfLadingNumber" : {
"description" : "",
"type" : "string"
            },
            "transactionType" : {
"description" : "",
"type" : "string"
            },
            "subSystem" : {
"description" : "",
"type" : "string"
            },
            "bookingNumber" : {
"description" : "",
"type" : "string"
            },
            "recSeq" : {
"description" : "",
"type" : "string"
            },
            "transactionTime" : {
"description" : "",
"type" : "string"
            },
            "transactionDate" : {
"description" : "",
"type" : "string"
            },
            "senderCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentDetailBean" : {
      "type" : "object",
      "title" : "ShipmentDetailBean",
          "properties" : {
            "arrivalNoticeNumber" : {
"description" : "",
"type" : "string"
            },
            "containerNumber" : {
"description" : "",
"type" : "string"
            },
            "bookingNumber" : {
"description" : "",
"type" : "string"
            },
            "containerTypeList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "containerSizeList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "arnSchemaName" : {
"description" : "",
"type" : "string"
            },
            "mawbNumber" : {
"description" : "",
"type" : "string"
            },
            "containerDesc" : {
"description" : "",
"type" : "string"
            },
            "consignee" : {
"description" : "",
"type" : "string"
            },
            "containerType" : {
"description" : "",
"type" : "string"
            },
            "shipper" : {
"description" : "",
"type" : "string"
            },
            "containerSize" : {
"description" : "",
"type" : "string"
            },
            "billOfLadingNumber" : {
"description" : "",
"type" : "string"
            },
            "containerNumberList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "bolSchemaName" : {
"description" : "",
"type" : "string"
            },
            "airBookingType" : {
"description" : "",
"type" : "string"
            },
            "airRefNumber" : {
"description" : "",
"type" : "string"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "fileNumber" : {
"description" : "",
"type" : "string"
            },
            "containerDescList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatisticBean" : {
      "type" : "object",
      "title" : "ShipmentStatisticBean",
          "properties" : {
            "pastCount" : {
"description" : "",
"type" : "number"
            },
            "countPercent" : {
"description" : "",
"type" : "number"
            },
            "pastVolume" : {
"description" : "",
"type" : "number"
            },
            "pastWeight" : {
"description" : "",
"type" : "number"
            },
            "currentVolume" : {
"description" : "",
"type" : "number"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "currentCount" : {
"description" : "",
"type" : "number"
            },
            "docType" : {
"description" : "",
"type" : "string"
            },
            "countIndicator" : {
"description" : "",
"type" : "boolean"
            },
            "weightPercent" : {
"description" : "",
"type" : "number"
            },
            "docCategory" : {
"description" : "",
"type" : "string"
            },
            "volumeIndicator" : {
"description" : "",
"type" : "boolean"
            },
            "volumePercent" : {
"description" : "",
"type" : "number"
            },
            "weightIndicator" : {
"description" : "",
"type" : "boolean"
            },
            "currentWeight" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_TimeStampBean" : {
      "type" : "object",
      "title" : "TimeStampBean",
          "properties" : {
            "timeCountService" : {
"description" : "",
"type" : "number"
            },
            "timeCountDao" : {
"description" : "",
"type" : "number"
            },
            "timeCountTranfer" : {
"description" : "",
"type" : "number"
            },
            "timeCountRender" : {
"description" : "",
"type" : "number"
            },
            "timeStart" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_TrackingResultBean" : {
      "type" : "object",
      "title" : "TrackingResultBean",
          "properties" : {
            "bookingBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BookingBean"
}
}
            },
            "totalPieces" : {
"description" : "",
"type" : "object"
            },
            "shipcoSearchIntertrackBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShipcoSearchIntertrackBean"
}
}
            },
            "fileSearchBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_FileSearchBean"
}
}
            },
            "invoiceBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_InvoiceBean"
}
}
            },
            "arnBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ArrivalNoticeBean"
}
}
            },
            "quoteBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_QuoteBean"
}
}
            },
            "shipcoSearchHistInetBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShipcoSearchHistInetBean"
}
}
            },
            "bolBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_BolBean"
}
}
            },
            "totalWeightKg" : {
"description" : "",
"type" : "object"
            },
            "type" : {
"description" : "",
"type" : "string"
            },
            "countItemForm" : {
"description" : "",
"type" : "object"
            },
            "totalCubeCbf" : {
"description" : "",
"type" : "object"
            },
            "loadPlanBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_LoadPlanQuickSearchBean"
}
}
            },
            "customerBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_CustomerBean"
}
}
            },
            "purchaseOrderSearchResultBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PurchaseOrderSearchResultBean"
}
}
            },
            "holdBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_HoldBean"
}
}
            },
            "totalCubeCbm" : {
"description" : "",
"type" : "object"
            },
            "totalWeightLbs" : {
"description" : "",
"type" : "object"
            },
            "invoiceDetailBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_InvoiceDetailBean"
}
}
            },
            "lotBeanArray" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_LotBean"
}
}
            }
          },
      "description" : ""
    }
    ,
    "json_WarehouseManifestBean" : {
      "type" : "object",
      "title" : "WarehouseManifestBean",
          "properties" : {
            "filename" : {
"description" : "",
"type" : "string"
            },
            "xml" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_WarehouseManifestResultBean" : {
      "type" : "object",
      "title" : "WarehouseManifestResultBean",
          "properties" : {
            "resultCode" : {
"description" : "",
"type" : "number"
            },
            "message" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_AgingMainBean" : {
      "type" : "object",
      "title" : "AgingMainBean",
          "properties" : {
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "agingWidgetBeanList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_AgingWidgetBean"
}
}
            },
            "agingType" : {
"description" : "",
"type" : "string"
            },
            "totalAmount" : {
"description" : "",
"type" : "number"
            },
            "unappliedAmount" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_AgingWidgetBean" : {
      "type" : "object",
      "title" : "AgingWidgetBean",
          "properties" : {
            "intervalRange" : {
"description" : "",
"type" : "string"
            },
            "unPaidamount" : {
"description" : "",
"type" : "number"
            },
            "statusPercent" : {
"description" : "",
"type" : "number"
            },
            "target" : {
"description" : "",
"type" : "number"
            },
            "targetType" : {
"description" : "",
"type" : "string"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "intervalCount" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ApplyToHistoryBean" : {
      "type" : "object",
      "title" : "ApplyToHistoryBean",
          "properties" : {
            "arSource" : {
"description" : "",
"type" : "string"
            },
            "invoiceLocalAmount" : {
"description" : "",
"type" : "number"
            },
            "invoiceDate" : {
"description" : "",
"type" : "number"
            },
            "arBatch" : {
"description" : "",
"type" : "string"
            },
            "invoiceDateDisplay" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "arType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ArrivalNoticeBean" : {
      "type" : "object",
      "title" : "ArrivalNoticeBean",
          "properties" : {
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "vatInvoice" : {
"description" : "",
"type" : "string"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "createdBy" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "vessel" : {
"description" : "",
"type" : "string"
            },
            "paymentStatus" : {
"description" : "",
"type" : "string"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "blLoadName" : {
"description" : "",
"type" : "string"
            },
            "vatCreditNumber" : {
"description" : "",
"type" : "string"
            },
            "etdOrigin" : {
"description" : "",
"type" : "string"
            },
            "hblNumber" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "originalReq" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "fileNo" : {
"description" : "",
"type" : "string"
            },
            "charges" : {
"description" : "",
"type" : "number"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "iStatus" : {
"description" : "",
"type" : "string"
            },
            "invoiceNo" : {
"description" : "",
"type" : "string"
            },
            "container" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "availDate" : {
"description" : "",
"type" : "string"
            },
            "houseITNumber" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "activityDate" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "blDischargeName" : {
"description" : "",
"type" : "string"
            },
            "blLoadCode" : {
"description" : "",
"type" : "string"
            },
            "blDischargeCode" : {
"description" : "",
"type" : "string"
            },
            "etaDestination" : {
"description" : "",
"type" : "string"
            },
            "hblNo" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "createdDate" : {
"description" : "",
"type" : "string"
            },
            "truckerCode" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "mblNumber" : {
"description" : "",
"type" : "string"
            },
            "creditNumber" : {
"description" : "",
"type" : "string"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            },
            "originalRec" : {
"description" : "",
"type" : "string"
            },
            "arnNo" : {
"description" : "",
"type" : "string"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_BolBean" : {
      "type" : "object",
      "title" : "BolBean",
          "properties" : {
            "blTopLot12" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "bookingNumber" : {
"description" : "",
"type" : "number"
            },
            "notifyPartyDetails" : {
"description" : "",
"type" : "string"
            },
            "blTopBkgNo" : {
"description" : "",
"type" : "number"
            },
            "forwarderDetails" : {
"description" : "",
"type" : "string"
            },
            "creditNumber" : {
"description" : "",
"type" : "string"
            },
            "blTopLot1" : {
"description" : "",
"type" : "string"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "sailDate" : {
"description" : "",
"type" : "string"
            },
            "blStatus" : {
"description" : "",
"type" : "string"
            },
            "noOfOriginals" : {
"description" : "",
"type" : "number"
            },
            "blTopLot3" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "consigneeDetails" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "blTopLot2" : {
"description" : "",
"type" : "string"
            },
            "charges" : {
"description" : "",
"type" : "number"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "blTopLot5" : {
"description" : "",
"type" : "string"
            },
            "vatCreditNo" : {
"description" : "",
"type" : "string"
            },
            "shipperDetails" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "voyage" : {
"description" : "",
"type" : "string"
            },
            "availableLots" : {
"description" : "",
"type" : "string"
            },
            "createdBy" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "fileNo" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "blTopLot9" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "vesselCode" : {
"description" : "",
"type" : "string"
            },
            "blTopLot10" : {
"description" : "",
"type" : "string"
            },
            "blTopLot7" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "vesselName" : {
"description" : "",
"type" : "string"
            },
            "blTopLot13" : {
"description" : "",
"type" : "string"
            },
            "shipperName" : {
"description" : "",
"type" : "string"
            },
            "blTopLot4" : {
"description" : "",
"type" : "string"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "wwaReference" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "bolNo" : {
"description" : "",
"type" : "string"
            },
            "blTopLot15" : {
"description" : "",
"type" : "string"
            },
            "lineHouse" : {
"description" : "",
"type" : "string"
            },
            "blTopLot14" : {
"description" : "",
"type" : "string"
            },
            "container" : {
"description" : "",
"type" : "string"
            },
            "blTopLot11" : {
"description" : "",
"type" : "string"
            },
            "cubeCbf" : {
"description" : "",
"type" : "string"
            },
            "vatInvoiceNo" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "iStatus" : {
"description" : "",
"type" : "string"
            },
            "blTopLot6" : {
"description" : "",
"type" : "string"
            },
            "deliveryPartyDetails" : {
"description" : "",
"type" : "string"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "blTopLot8" : {
"description" : "",
"type" : "string"
            },
            "clauses" : {
"description" : "",
"type" : "string"
            },
            "etaDate" : {
"description" : "",
"type" : "string"
            },
            "blType" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            },
            "createdDate" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_BookingBean" : {
      "type" : "object",
      "title" : "BookingBean",
          "properties" : {
            "lotNumber" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "number"
            },
            "weightLbs" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "containerType1" : {
"description" : "",
"type" : "string"
            },
            "originName" : {
"description" : "",
"type" : "string"
            },
            "forwarderReference" : {
"description" : "",
"type" : "string"
            },
            "containerName1" : {
"description" : "",
"type" : "string"
            },
            "cube" : {
"description" : "",
"type" : "number"
            },
            "originCode" : {
"description" : "",
"type" : "string"
            },
            "receivedVia" : {
"description" : "",
"type" : "string"
            },
            "destinationName" : {
"description" : "",
"type" : "string"
            },
            "bookingNo" : {
"description" : "",
"type" : "number"
            },
            "shipperReference" : {
"description" : "",
"type" : "string"
            },
            "pickup" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "containerName" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "etaDestination" : {
"description" : "",
"type" : "string"
            },
            "consigneeReference" : {
"description" : "",
"type" : "string"
            },
            "loadPortCode" : {
"description" : "",
"type" : "string"
            },
            "communicationReference" : {
"description" : "",
"type" : "string"
            },
            "vesselCode" : {
"description" : "",
"type" : "string"
            },
            "containerType2" : {
"description" : "",
"type" : "string"
            },
            "bookingSqlDate" : {
"description" : "",
"$ref" : "#/definitions/json_Date"
            },
            "quoteNo" : {
"description" : "",
"type" : "number"
            },
            "container2" : {
"description" : "",
"type" : "string"
            },
            "loadPortName" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "e_m" : {
"description" : "",
"type" : "string"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "pieces" : {
"description" : "",
"type" : "number"
            },
            "sqlUdt" : {
"description" : "",
"type" : "string"
            },
            "fclLcl" : {
"description" : "",
"type" : "string"
            },
            "etdOrigin" : {
"description" : "",
"type" : "string"
            },
            "sqltypeName" : {
"description" : "",
"type" : "string"
            },
            "containerSize" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "dischargePortName" : {
"description" : "",
"type" : "string"
            },
            "containerSize1" : {
"description" : "",
"type" : "string"
            },
            "inetUPD" : {
[...]
