{
  "swagger": "2.0",
  "info" : {
    "description" : "<h1>phoenix-reports Maven Webapp<\/h1>",
    "version" : "1.0",
    "title" : "phoenix-reports Maven Webapp"
  },
  "host" : "scan-it.phxcloud.io",
  "basePath" : "/phoenix/reports/1.0",
  "schemes" : [],
  "tags" : [
    {
      "name" : "ARInvoiceAagingResource"
      ,
      "description" : "Added for PHX-27276 java excel report."
    }
    ,
    {
      "name" : "ARNReportResource"
      ,
      "description" : "Added by dhpatil for PHX-28575."
    }
    ,
    {
      "name" : "AccountsPayableAgingResource"
      ,
      "description" : "."
    }
    ,
    {
      "name" : "AccountsReceivableTrialBalanceResource"
    }
    ,
    {
      "name" : "AirBookingStatisticsResource"
      ,
      "description" : "PHX-31234,Webservice Resource Class for Booking Statistics webservice."
    }
    ,
    {
      "name" : "AwbResource"
      ,
      "description" : "Web resource for eAWB."
    }
    ,
    {
      "name" : "CashReceiptJournalResource"
      ,
      "description" : "Accounts Receivable Payment Journal Resource."
    }
    ,
    {
      "name" : "CustomerTariffReportResource"
      ,
      "description" : "PHX-26036, Web service to fetch tariff email details and send email with\r\nattachment."
    }
    ,
    {
      "name" : "DailyRateExtractResource"
      ,
      "description" : "The Class DailyRateExtractResource is main class for web service call."
    }
    ,
    {
      "name" : "DownloadGrdbResource"
      ,
      "description" : "The Class DownloadGrdbResource is main GRDB web service call class."
    }
    ,
    {
      "name" : "DownloadRatesResource"
      ,
      "description" : "This web service will download invalid rates when user click\r\ndownload link in email."
    }
    ,
    {
      "name" : "DownloadSpreadsheetResource"
      ,
      "description" : "The Class SpreadsheetDownloadResource."
    }
    ,
    {
      "name" : "EmailNotificationResource"
      ,
      "description" : "PHX-17913 : Amornchai A."
    }
    ,
    {
      "name" : "ExcelResource"
    }
    ,
    {
      "name" : "ExpireRateResource"
    }
    ,
    {
      "name" : "GenerateSpreadSheetResource"
    }
    ,
    {
      "name" : "GlDetailResource"
      ,
      "description" : "GlDetailResource."
    }
    ,
    {
      "name" : "GlobalAgentBalancesResource"
    }
    ,
    {
      "name" : "InvoicePostingResource"
    }
    ,
    {
      "name" : "JournalEntryPostingResource"
      ,
      "description" : "Journal Entry Posting Resource."
    }
    ,
    {
      "name" : "PhoenixEmailService"
      ,
      "description" : "This class is web service end point for email which will be called by php and perl."
    }
    ,
    {
      "name" : "PhoenixReportBuilderResource"
      ,
      "description" : "."
    }
    ,
    {
      "name" : "ProfitAndLossFileResource"
      ,
      "description" : "PHX-25451 get PNL ProfitAndLossFileResource."
    }
    ,
    {
      "name" : "ProfitAndLossResource"
      ,
      "description" : "ProfitAndLossResource."
    }
    ,
    {
      "name" : "PurchaseByGLAccountResource"
      ,
      "description" : "Added for PHX-24060 java excel report."
    }
    ,
    {
      "name" : "PurchasesByMonthReportResource"
    }
    ,
    {
      "name" : "ReportBuilderResource"
    }
    ,
    {
      "name" : "RunningMarginalResource"
    }
    ,
    {
      "name" : "SalesTransactionJournalResource"
    }
    ,
    {
      "name" : "SummaryTrialBalanceResource"
      ,
      "description" : "Summary Trial Balance Resoruce."
    }
    ,
    {
      "name" : "TransmitGrdbResource"
      ,
      "description" : "The Class TransmitGrdbResource is main class for web service call."
    }
    ,
    {
      "name" : "TrialBalanceReportResource"
    }
    ,
    {
      "name" : "ValidateRateResource"
      ,
      "description" : "This web service will handled request to sned rate exception report\r\nby email."
    }
    ,
    {
      "name" : "VendorAnalysisResource"
      ,
      "description" : "VendorAnalysisResource."
    }
    ,
    {
      "name" : "VendorListingResource"
      ,
      "description" : "VendorListingResource."
    }
    ,
    {
      "name" : "VoucherPostingResource"
      ,
      "description" : "Service for get data from Table APDETAIL."
    }
  ],
  "definitions" : {
    "json_ARInvoiceAgingReportCriteriaBean" : {
      "type" : "object",
      "title" : "ARInvoiceAgingReportCriteriaBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "issuingOfficeFrom" : {
"description" : "",
"type" : "string"
            },
            "organizationNameFrom" : {
"description" : "",
"type" : "string"
            },
            "disputedInvoices" : {
"description" : "",
"type" : "string"
            },
            "statementCycleTo" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "schemaId" : {
"description" : "",
"type" : "string"
            },
            "sortBy" : {
"description" : "",
"type" : "string"
            },
            "creditHold" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "invoiceType" : {
"description" : "",
"type" : "string"
            },
            "invoiceTypeText" : {
"description" : "",
"type" : "string"
            },
            "disputedInvoicesText" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket2" : {
"description" : "",
"type" : "string"
            },
            "creditOnImport" : {
"description" : "",
"type" : "string"
            },
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "asOfDate" : {
"description" : "",
"type" : "string"
            },
            "ageByText" : {
"description" : "",
"type" : "string"
            },
            "ageBy" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket6" : {
"description" : "",
"type" : "string"
            },
            "overdueByDays" : {
"description" : "",
"type" : "string"
            },
            "amountRangeFrom" : {
"description" : "",
"type" : "string"
            },
            "organizationNameTo" : {
"description" : "",
"type" : "string"
            },
            "sortByText" : {
"description" : "",
"type" : "string"
            },
            "userCompany" : {
"description" : "",
"type" : "string"
            },
            "reportOnDateText" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "autoStatementEnabled" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket5" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeTo" : {
"description" : "",
"type" : "string"
            },
            "organizationTypeText" : {
"description" : "",
"type" : "string"
            },
            "typeReportDetails" : {
"description" : "",
"type" : "string"
            },
            "statementCycleFrom" : {
"description" : "",
"type" : "string"
            },
            "invoiceStatus" : {
"description" : "",
"type" : "string"
            },
            "includeNotes" : {
"description" : "",
"type" : "string"
            },
            "salesRepresentative" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasTo" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasFrom" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket1" : {
"description" : "",
"type" : "string"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "organizationType" : {
"description" : "",
"type" : "string"
            },
            "debugMode" : {
"description" : "",
"type" : "string"
            },
            "issuingOfficeTo" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket4" : {
"description" : "",
"type" : "string"
            },
            "amountRangeTo" : {
"description" : "",
"type" : "string"
            },
            "typeDownload" : {
"description" : "",
"type" : "string"
            },
            "reportOnDate" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket3" : {
"description" : "",
"type" : "string"
            },
            "invoiceStatusText" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ARInvoiceAgingReportMainBean" : {
      "type" : "object",
      "title" : "ARInvoiceAgingReportMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_AwbRequestBean" : {
      "type" : "object",
      "title" : "AwbRequestBean",
          "properties" : {
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "referenceNo" : {
"description" : "",
"type" : "string"
            },
            "locale" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "string"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "Request bean for incoming eAWB request"
    }
    ,
    "json_CashReceiptsJournalBean" : {
      "type" : "object",
      "title" : "CashReceiptsJournalBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "organizationCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "dateFrom" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "subLedger" : {
"description" : "",
"type" : "string"
            },
            "bankCode" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasFrom" : {
"description" : "",
"type" : "string"
            },
            "paymentRefTo" : {
"description" : "",
"type" : "string"
            },
            "statementCycleTo" : {
"description" : "",
"type" : "string"
            },
            "collectionOffice" : {
"description" : "",
"type" : "string"
            },
            "organizationNameTo" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "showCurrency" : {
"description" : "",
"type" : "string"
            },
            "dateTo" : {
"description" : "",
"type" : "string"
            },
            "paymentRefFrom" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "postedToAR" : {
"description" : "",
"type" : "string"
            },
            "accountReceivableBatchTo" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasTo" : {
"description" : "",
"type" : "string"
            },
            "organizationNameFrom" : {
"description" : "",
"type" : "string"
            },
            "accountReceivableBatchFrom" : {
"description" : "",
"type" : "string"
            },
            "paymentType" : {
"description" : "",
"type" : "string"
            },
            "statementCycleFrom" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeTo" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_CashReceiptsJournalMainBean" : {
      "type" : "object",
      "title" : "CashReceiptsJournalMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_CommonBean" : {
      "type" : "object",
      "title" : "CommonBean",
          "properties" : {
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "id" : {
"description" : "",
"type" : "number"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "userSchemaID" : {
"description" : "",
"type" : "number"
            },
            "updateUserOffice" : {
"description" : "",
"type" : "string"
            },
            "decimalAllowed" : {
"description" : "",
"type" : "boolean"
            },
            "updateUser" : {
"description" : "",
"type" : "string"
            },
            "officeTimezone" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "inputUserFullname" : {
"description" : "",
"type" : "string"
            },
            "inputUserOffice" : {
"description" : "",
"type" : "string"
            },
            "inputLdapUser" : {
"description" : "",
"type" : "string"
            },
            "companyId" : {
"description" : "",
"type" : "number"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "updateLdapUser" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "number"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "locale" : {
"description" : "",
"type" : "string"
            },
            "updateDate" : {
"description" : "",
"type" : "string"
            },
            "recordOverflow" : {
"description" : "",
"type" : "boolean"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "maxNumberOfRows" : {
"description" : "",
"type" : "number"
            },
            "updateUserFullname" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_CommonServiceParamBean" : {
      "type" : "object",
      "title" : "CommonServiceParamBean",
          "properties" : {
            "module" : {
"description" : "Jul 3, 2015",
"$ref" : "#/definitions/json_Module"
            },
            "serviceCode" : {
"description" : "Jul 3, 2015",
"type" : "string"
            },
            "officeId" : {
"description" : "Jul 3, 2015",
"type" : "number"
            }
          },
      "description" : "<p>\r\nParameters that required to call to call service layer dynamically.\r\n<\/p>"
    }
    ,
    "json_DownloadRateInputBean" : {
      "type" : "object",
      "title" : "DownloadRateInputBean",
          "properties" : {
            "customer" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "fileId" : {
"description" : "",
"type" : "string"
            },
            "downloadType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_FieldsBean" : {
      "type" : "object",
      "title" : "FieldsBean",
          "properties" : {
            "fieldAliasName" : {
"description" : "Gets the field alias name.",
"type" : "string"
            },
            "fieldId" : {
"description" : "Gets the field id.",
"type" : "number"
            },
            "sheetId" : {
"description" : "Gets the sheet id.",
"type" : "number"
            },
            "fieldName" : {
"description" : "Gets the field name.",
"type" : "string"
            },
            "fieldMappedCode" : {
"description" : "Gets the field mapped code.",
"type" : "string"
            }
          },
      "description" : "The Class FieldsBean."
    }
    ,
    "json_GenerateExcelInputBean" : {
      "type" : "object",
      "title" : "GenerateExcelInputBean",
          "properties" : {
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "fileName" : {
"description" : "",
"type" : "string"
            },
            "fileId" : {
"description" : "",
"type" : "number"
            },
            "standardRateExcluded" : {
"description" : "",
"type" : "boolean"
            },
            "tariffDownload" : {
"description" : "",
"type" : "boolean"
            },
            "ratingSearchMainBean" : {
"description" : "",
"$ref" : "#/definitions/json_RatingSearchMainBean"
            }
          },
      "description" : ""
    }
    ,
    "json_GenerateReportMainBean" : {
      "type" : "object",
      "title" : "GenerateReportMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "criteria" : {
"description" : "",
"$ref" : "#/definitions/json_CommonBean"
            },
            "reportJobQueue" : {
"description" : "",
"$ref" : "#/definitions/json_JobQueueBean"
            },
            "dataJobQueue" : {
"description" : "",
"$ref" : "#/definitions/json_JobQueueBean"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_GlChartBean" : {
      "type" : "object",
      "title" : "GlChartBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "compressCode" : {
"description" : "",
"type" : "string"
            },
            "distributionCode" : {
"description" : "",
"type" : "string"
            },
            "saf" : {
"description" : "",
"type" : "string"
            },
            "subAccountCode" : {
"description" : "",
"type" : "string"
            },
            "subledger" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "glAccountCode" : {
"description" : "",
"type" : "string"
            },
            "divisionCode" : {
"description" : "",
"type" : "string"
            },
            "departmentCode" : {
"description" : "",
"type" : "string"
            },
            "alcie" : {
"description" : "",
"type" : "string"
            },
            "callForMP" : {
"description" : "",
"type" : "boolean"
            },
            "totalLevel" : {
"description" : "",
"type" : "string"
            },
            "glChartType" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_GlDetailCriteriaBean" : {
      "type" : "object",
      "title" : "GlDetailCriteriaBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "depFrom" : {
"description" : "",
"type" : "string"
            },
            "includeBegEndBalance" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "divTo" : {
"description" : "",
"type" : "string"
            },
            "glTo" : {
"description" : "",
"type" : "string"
            },
            "showCurrency" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "glFrom" : {
"description" : "",
"type" : "string"
            },
            "runOption" : {
"description" : "",
"type" : "string"
            },
            "sourceTo" : {
"description" : "",
"type" : "string"
            },
            "userCode" : {
"description" : "",
"type" : "string"
            },
            "threadInvoiceChunkSize" : {
"description" : "",
"type" : "number"
            },
            "threadCustomerChunkSize" : {
"description" : "",
"type" : "number"
            },
            "glBatchFrom" : {
"description" : "",
"type" : "string"
            },
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "subFrom" : {
"description" : "",
"type" : "string"
            },
            "threadVoucherDetailChunkSize" : {
"description" : "",
"type" : "number"
            },
            "threadPoolSize" : {
"description" : "",
"type" : "number"
            },
            "depTo" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "dateTo" : {
"description" : "",
"type" : "string"
            },
            "glBatchTo" : {
"description" : "",
"type" : "string"
            },
            "subTo" : {
"description" : "",
"type" : "string"
            },
            "dateFrom" : {
"description" : "",
"type" : "string"
            },
            "divFrom" : {
"description" : "",
"type" : "string"
            },
            "showCreditDebit" : {
"description" : "",
"type" : "string"
            },
            "sourceFrom" : {
"description" : "",
"type" : "string"
            },
            "threadVoucherLineChunkSize" : {
"description" : "",
"type" : "number"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_GlDetailReportMainBean" : {
      "type" : "object",
      "title" : "GlDetailReportMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
          "properties" : {
            "reportResult" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_GlDetailReportResultBean"
}
}
            },
            "reportCriteria" : {
"description" : "",
"$ref" : "#/definitions/json_GlDetailCriteriaBean"
            },
            "glAccountResult" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_GlDetailReportResultBean"
}
}
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_GlDetailReportResultBean" : {
      "type" : "object",
      "title" : "GlDetailReportResultBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "transDate" : {
"description" : "",
"type" : "string"
            },
            "beginningBalanceMap" : {
"description" : "",
"type" : "object"
            },
            "checkDate" : {
"description" : "",
"type" : "string"
            },
            "taxCode" : {
"description" : "",
"type" : "string"
            },
            "description" : {
"description" : "",
"type" : "string"
            },
            "customerVendorType" : {
"description" : "",
"type" : "string"
            },
            "vendorInfo" : {
"description" : "",
"type" : "string"
            },
            "shipmentReferenceType" : {
"description" : "",
"type" : "string"
            },
            "invoiceDate" : {
"description" : "",
"type" : "string"
            },
            "batchNumber" : {
"description" : "",
"type" : "string"
            },
            "source" : {
"description" : "",
"type" : "string"
            },
            "customerVendorAlias" : {
"description" : "",
"type" : "string"
            },
            "gl" : {
"description" : "",
"type" : "string"
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "typeOfMove" : {
"description" : "",
"type" : "string"
            },
            "customerVendorCycle" : {
"description" : "",
"type" : "string"
            },
            "fileInfo" : {
"description" : "",
"type" : "string"
            },
            "fAmount" : {
"description" : "",
"type" : "number"
            },
            "amount" : {
"description" : "",
"type" : "number"
            },
            "currency" : {
"description" : "",
"type" : "string"
            },
            "sub" : {
"description" : "",
"type" : "string"
            },
            "endingBalance" : {
"description" : "",
"type" : "number"
            },
            "postedDate" : {
"description" : "",
"type" : "string"
            },
            "customerVendorCountry" : {
"description" : "",
"type" : "string"
            },
            "fileNumber" : {
"description" : "",
"type" : "string"
            },
            "originalShipmentRefType" : {
"description" : "",
"type" : "string"
            },
            "originalShipmentRefNumber" : {
"description" : "",
"type" : "string"
            },
            "division" : {
"description" : "",
"type" : "string"
            },
            "originalFileNumber" : {
"description" : "",
"type" : "string"
            },
            "shipmentReferenceNumber" : {
"description" : "",
"type" : "string"
            },
            "customerVendorCode" : {
"description" : "",
"type" : "string"
            },
            "einNumber" : {
"description" : "",
"type" : "string"
            },
            "chargeCategory" : {
"description" : "",
"type" : "string"
            },
            "department" : {
"description" : "",
"type" : "string"
            },
            "beginningBalance" : {
"description" : "",
"type" : "number"
            },
            "fileDirection" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "checkNumber" : {
"description" : "",
"type" : "string"
            },
            "expectedVendorCode" : {
"description" : "",
"type" : "string"
            },
            "glAccountDescription" : {
"description" : "",
"type" : "string"
            },
            "customerVendorName" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_GlobalAgentBalanceCritariaBean" : {
      "type" : "object",
      "title" : "GlobalAgentBalanceCritariaBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "organizationAlias" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "office" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "country" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_GlobalAgentBalancesMainBean" : {
      "type" : "object",
      "title" : "GlobalAgentBalancesMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_InvalidRatesWebServiceMainBean" : {
      "type" : "object",
      "title" : "InvalidRatesWebServiceMainBean",
          "properties" : {
            "validateRatesList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ValidateRateMainBean"
}
}
            },
            "validationType" : {
"description" : "",
"$ref" : "#/definitions/json_RateExceptionType"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_InvoicePostingBean" : {
      "type" : "object",
      "title" : "InvoicePostingBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "poolSize" : {
"description" : "",
"type" : "number"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "accountReceivablePostedDateFrom" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "runOption" : {
"description" : "",
"type" : "string"
            },
            "accountReceivableSource" : {
"description" : "",
"type" : "string"
            },
            "end" : {
"description" : "",
"type" : "number"
            },
            "accountReceivablePostedDateTo" : {
"description" : "",
"type" : "string"
            },
            "collectionOffice" : {
"description" : "",
"type" : "string"
            },
            "expireMinute" : {
"description" : "",
"type" : "number"
            },
            "accountReceivableBatch" : {
"description" : "",
"type" : "string"
            },
            "accountReceivableType" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "start" : {
"description" : "",
"type" : "number"
            },
            "userCode" : {
"description" : "",
"type" : "string"
            },
            "asOfInvoiceDate" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "generalLedgerBatch" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_InvoicePostingMainBean" : {
      "type" : "object",
      "title" : "InvoicePostingMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_JobQueueBean" : {
      "type" : "object",
      "title" : "JobQueueBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "jobQueueParameters" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_JobQueueParameterBean"
}
}
            },
            "name" : {
"description" : "",
"type" : "string"
            },
            "expireMinute" : {
"description" : "",
"type" : "number"
            },
            "jobStatus" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_JobQueueParameterBean" : {
      "type" : "object",
      "title" : "JobQueueParameterBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "value" : {
"description" : "",
"type" : "string"
            },
            "code" : {
"description" : "",
"type" : "string"
            },
            "jobQueueId" : {
"description" : "",
"type" : "number"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_JournalEntryPostingBean" : {
      "type" : "object",
      "title" : "JournalEntryPostingBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "asOfPeriodEnding" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "runOption" : {
"description" : "",
"type" : "string"
            },
            "glPostedDateTo" : {
"description" : "",
"type" : "string"
            },
            "userCode" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "jeBatchNumber" : {
"description" : "",
"type" : "string"
            },
            "glPostedDateFrom" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_JournalEntryPostingMainBean" : {
      "type" : "object",
      "title" : "JournalEntryPostingMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_Module" : {
      "type" : "string",
      "title" : "Module",
          "enum" : [
            "accurate",
            "AIR",
            "OCEAN",
            "TRUCK"
          ],
      "description" : ""
    }
    ,
    "json_PhoenixReportBuilderRequestBean" : {
      "type" : "object",
      "title" : "PhoenixReportBuilderRequestBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonServiceParamBean"
        },
        {
          "properties" : {
            "sheetsAndFields" : {
"description" : "Gets the sheets and fields.",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_SheetsBean"
}
}
            },
            "selectedSheets" : {
"description" : "Jul 6, 2015.",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "selectedColumns" : {
"description" : "Jul 6, 2015.",
"type" : "object"
            },
            "templateFilePath" : {
"description" : "",
"type" : "string"
            },
            "standardTemplate" : {
"description" : "",
"type" : "boolean"
            }
          }
        }
      ],
      "description" : "THis bean will contain all request parameters."
    }
    ,
    "json_ProfitAndLossReportBean" : {
      "type" : "object",
      "title" : "ProfitAndLossReportBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "truckingDirections" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "organizationAlias" : {
"description" : "",
"type" : "string"
            },
            "expireMinute" : {
"description" : "",
"type" : "number"
            },
            "deconsolidationPort" : {
"description" : "",
"type" : "string"
            },
            "poolSize" : {
"description" : "",
"type" : "number"
            },
            "dateFrom" : {
"description" : "",
"type" : "string"
            },
            "filePrefixFrom" : {
"description" : "",
"type" : "string"
            },
            "actOrEstimate" : {
"description" : "",
"type" : "string"
            },
            "includeTax" : {
"description" : "",
"type" : "string"
            },
            "airTypeOfMoves" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "salesRepresentative" : {
"description" : "",
"type" : "string"
            },
            "includeAdjustment" : {
"description" : "",
"type" : "string"
            },
            "deConsolidationPort" : {
"description" : "",
"type" : "string"
            },
            "sameKeywords" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "reportTypeName" : {
"description" : "",
"type" : "string"
            },
            "fileSuffixFrom" : {
"description" : "",
"type" : "string"
            },
            "handlingOffice" : {
"description" : "",
"type" : "string"
            },
            "miscellaneousDirections" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "airDirections" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "dischargePort" : {
"description" : "",
"type" : "string"
            },
            "dateTo" : {
"description" : "",
"type" : "string"
            },
            "fileAllocation" : {
"description" : "",
"type" : "string"
            },
            "threadCounter" : {
"description" : "",
"type" : "number"
            },
            "oceanTypeOfMoves" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "statementCycle" : {
"description" : "",
"type" : "string"
            },
            "placeOfDelivery" : {
"description" : "",
"type" : "string"
            },
            "airConsoleType" : {
"description" : "",
"type" : "string"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "placeOfReceipt" : {
"description" : "",
"type" : "string"
            },
            "fileNumberFrom" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "truckingTypeOfMoves" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "loadPort" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "fileStatus" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "oceanStopOffGateWays" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "dateType" : {
"description" : "",
"type" : "string"
            },
            "fileNumberTo" : {
"description" : "",
"type" : "string"
            },
            "filePrefixTo" : {
"description" : "",
"type" : "string"
            },
            "fileSuffixTo" : {
"description" : "",
"type" : "string"
            },
            "oceanDirections" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "readyToCloseOrMatching" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "responsiblePerson" : {
"description" : "",
"type" : "string"
            },
            "miscellaneousTypeOfMoves" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "fileDeatilsType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ProfitAndLossReportMainBean" : {
      "type" : "object",
      "title" : "ProfitAndLossReportMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_PurchaseGLAccountBean" : {
      "type" : "object",
      "title" : "PurchaseGLAccountBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "threadPoolSize" : {
"description" : "",
"type" : "number"
            },
            "glFrom" : {
"description" : "",
"type" : "string"
            },
            "divisionTo" : {
"description" : "",
"type" : "string"
            },
            "glInvoiceDateEnabledText" : {
"description" : "",
"type" : "string"
            },
            "glInvoiceDateEnabled" : {
"description" : "",
"type" : "string"
            },
            "departmentTo" : {
"description" : "",
"type" : "string"
            },
            "dateFrom" : {
"description" : "",
"type" : "string"
            },
            "vendorAliasTo" : {
"description" : "",
"type" : "string"
            },
            "dateTo" : {
"description" : "",
"type" : "string"
            },
            "vendorNameFrom" : {
"description" : "",
"type" : "string"
            },
            "vendorCodeTo" : {
"description" : "",
"type" : "string"
            },
            "showDebitCredit" : {
"description" : "",
"type" : "string"
            },
            "subLedger" : {
"description" : "",
"type" : "string"
            },
            "threadVendorChunkSize" : {
"description" : "",
"type" : "number"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "subAccTo" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "vendorType" : {
"description" : "",
"type" : "string"
            },
            "vendorCycleTo" : {
"description" : "",
"type" : "string"
            },
            "vendorNameTo" : {
"description" : "",
"type" : "string"
            },
            "subAccFrom" : {
"description" : "",
"type" : "string"
            },
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "vendorCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "divisionFrom" : {
"description" : "",
"type" : "string"
            },
            "vendorCycleFrom" : {
"description" : "",
"type" : "string"
            },
            "glTo" : {
"description" : "",
"type" : "string"
            },
            "vendorTypeName" : {
"description" : "",
"type" : "string"
            },
            "vendorAliasFrom" : {
"description" : "",
"type" : "string"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "threadLineChunkSize" : {
"description" : "",
"type" : "number"
            },
            "departmentFrom" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_PurchaseGLAccountMainBean" : {
      "type" : "object",
      "title" : "PurchaseGLAccountMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_RateExceptionType" : {
      "type" : "string",
      "title" : "RateExceptionType",
          "enum" : [
            "EXPIRED15DAYS",
            "EXPIRED30DAYS",
            "EXPIRING15DAYS",
            "EXPIRING30DAYS",
            "INVALID_CHARGE_CODE",
            "INVALID_PORT_PAIR",
            "DUPLICATE_RATE",
            "MANDATORY_CHARGE_CODE",
            "DELETE_INVALID_RATES",
            "EXPIRING1DAY",
            "EXPIRING",
            "EXPIRED",
            "TASKMANAGEREXPIRED",
            "TASKMANAGEREXPIRING"
          ],
      "description" : "PHX-22136"
    }
    ,
    "json_RateExtractionBean" : {
      "type" : "object",
      "title" : "RateExtractionBean",
          "properties" : {
            "query" : {
"description" : "",
"type" : "string"
            },
            "template" : {
"description" : "",
"type" : "string"
            },
            "toEmails" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "fromEmails" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            }
          },
      "description" : "PHX-22983\r\n\r\nBean class to store extracted data"
    }
    ,
    "json_RatingSearchBean" : {
      "type" : "object",
      "title" : "RatingSearchBean",
          "properties" : {
            "mapRateType" : {
"description" : "",
"type" : "object"
            },
            "mapMultiDestination" : {
"description" : "",
"type" : "object"
            },
            "multiAspect" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapOceanCustomerCode" : {
"description" : "",
"type" : "object"
            },
            "multiConsolidationCFS" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "multiTranshipment2" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "smartDestination" : {
"description" : "",
"type" : "boolean"
            },
            "sortOrderBy" : {
"description" : "",
"type" : "string"
            },
            "dashboardValidation" : {
"description" : "",
"type" : "boolean"
            },
            "multiRateType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapMultiPrepaidCollect" : {
"description" : "",
"type" : "object"
            },
            "mapNamedAccountWithCustomer" : {
"description" : "",
"type" : "object"
            },
            "multiRateBasis" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapNameAccount" : {
"description" : "",
"type" : "object"
            },
            "mapCompany" : {
"description" : "",
"type" : "object"
            },
            "originNearyByPorts" : {
"description" : "",
"type" : "string"
            },
            "controlingEntity" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "multiDestination" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "ratingMeasurementList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_RatingUnitMeasurementBean"
}
}
            },
            "effectiveDate" : {
"description" : "",
"type" : "string"
            },
            "multiTranshipment1" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "dashboardValidationType" : {
"description" : "",
"type" : "string"
            },
            "sortOrder" : {
"description" : "",
"type" : "string"
            },
            "multiportOfDisCharge" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "multiDeconsolidationCFS" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "max_expiration_date" : {
"description" : "",
"type" : "string"
            },
            "mapTranshipment2" : {
"description" : "",
"type" : "object"
            },
            "multiPrepaidCollect" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "multiPortOfLoading" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapRateBasis" : {
"description" : "",
"type" : "object"
            },
            "mapTranshipment1" : {
"description" : "",
"type" : "object"
            },
            "mapMultiOrigin" : {
"description" : "",
"type" : "object"
            },
            "expirationDate" : {
"description" : "",
"type" : "string"
            },
            "multiCharge" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapMultiControllingEntity" : {
"description" : "",
"type" : "object"
            },
            "multiTranshipment3" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapCharge" : {
"description" : "",
"type" : "object"
            },
            "rateType" : {
"description" : "",
"type" : "string"
            },
            "multiCompany" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "multiDestinationCFS" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "multiOceanCustomerCode" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapOriginInlandCFS" : {
"description" : "",
"type" : "object"
            },
            "searchType" : {
"description" : "",
"type" : "string"
            },
            "mapCustomer" : {
"description" : "",
"type" : "object"
            },
            "multiOrigin" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapTranshipment3" : {
"description" : "",
"type" : "object"
            },
            "destinationNearyByPorts" : {
"description" : "",
"type" : "string"
            },
            "mapAspect" : {
"description" : "",
"type" : "object"
            },
            "mapConsolidationCFS" : {
"description" : "",
"type" : "object"
            },
            "mapDeconsolidationCFS" : {
"description" : "",
"type" : "object"
            },
            "mapPortOfLoading" : {
"description" : "",
"type" : "object"
            },
            "smartOrigin" : {
"description" : "",
"type" : "boolean"
            },
            "multiOriginInlandCFS" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "mapDestinationCFS" : {
"description" : "",
"type" : "object"
            },
            "mapportOfDisCharge" : {
"description" : "",
"type" : "object"
            },
            "status" : {
"description" : "",
"type" : "string"
            },
            "multiCustomer" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "multiNameAccount" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "originOfRequest" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_RatingSearchMainBean" : {
      "type" : "object",
      "title" : "RatingSearchMainBean",
          "properties" : {
            "dataLimit" : {
"description" : "",
"type" : "number"
            },
            "filterSearchBean" : {
"description" : "",
"$ref" : "#/definitions/json_RatingSearchBean"
            },
            "aspectEnabled" : {
"description" : "",
"type" : "boolean"
            },
            "filterApplied" : {
"description" : "",
"type" : "boolean"
            },
            "tabId" : {
"description" : "",
"type" : "number"
            },
            "excludeSearchBean" : {
"description" : "",
"$ref" : "#/definitions/json_RatingSearchBean"
            },
            "fromModifySearch" : {
"description" : "",
"type" : "boolean"
            },
            "fromBasicSearch" : {
"description" : "",
"type" : "boolean"
            },
            "moreDetails" : {
"description" : "",
"type" : "boolean"
            },
            "requireFilterData" : {
"description" : "",
"type" : "boolean"
            },
            "fromSingleOrMultiple" : {
"description" : "",
"type" : "boolean"
            },
            "dataStartFrom" : {
"description" : "",
"type" : "number"
            },
            "includeSearchBean" : {
"description" : "",
"$ref" : "#/definitions/json_RatingSearchBean"
            }
          },
      "description" : ""
    }
    ,
    "json_RatingUnitMeasurementBean" : {
      "type" : "object",
      "title" : "RatingUnitMeasurementBean",
          "properties" : {
            "to" : {
"description" : "",
"type" : "string"
            },
            "from" : {
"description" : "",
"type" : "string"
            },
            "measurementType" : {
"description" : "",
"type" : "string"
            },
            "unitMeasurementbeanType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "result" : {
"description" : "",
"type" : "object"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "errorCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson_json" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "success" : {
"description" : "",
"type" : "number"
            },
            "result" : {
"description" : "",
"type" : "object"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "errorCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "class to send the result json"
    }
    ,
    "json_SheetsBean" : {
      "type" : "object",
      "title" : "SheetsBean",
          "properties" : {
            "sheetId" : {
"description" : "Gets the sheet id.",
"type" : "number"
            },
            "sheetName" : {
"description" : "Gets the sheet name.",
"type" : "string"
            },
            "fieldsList" : {
"description" : "Gets the fields list.",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_FieldsBean"
}
}
            }
          },
      "description" : "The Class SheetsBean."
    }
    ,
    "json_SpreadsheetRateBean" : {
      "type" : "object",
      "title" : "SpreadsheetRateBean",
          "properties" : {
            "company" : {
"description" : "Gets the company.",
"type" : "string"
            },
            "namedAccount" : {
"description" : "Gets the named account.",
"type" : "string"
            },
            "customerAccount" : {
"description" : "Gets the customer account.",
"type" : "string"
            },
            "numberOfRecords" : {
"description" : "Gets the number of records.",
"type" : "string"
            },
            "status" : {
"description" : "Gets the status.",
"type" : "string"
            },
            "userDetails" : {
"description" : "Gets the user details.",
"type" : "string"
            },
            "dateTime" : {
"description" : "Gets the date time.",
"type" : "string"
            },
            "fileId" : {
"description" : "Gets the file id.",
"type" : "string"
            },
            "spreadsheetStatus" : {
"description" : "Gets the spreadsheet status.",
"type" : "string"
            },
            "oldSpreadsheetStatus" : {
"description" : "Gets the old spreadsheet status.",
"type" : "string"
            },
            "updated" : {
"description" : "Checks if is updated.",
"type" : "boolean"
            },
            "version" : {
"description" : "Gets the version.",
"type" : "string"
            },
            "createLdapUser" : {
"description" : "Gets the creates the ldap user.",
"type" : "string"
            },
            "createOfficeId" : {
"description" : "Gets the creates the office id.",
"type" : "string"
            },
            "inputDate" : {
"description" : "Gets the input date.",
"type" : "string"
            },
            "updateLdapUser" : {
"description" : "Gets the update ldap user.",
"type" : "string"
            },
            "updateOfficeId" : {
"description" : "Gets the update office id.",
"type" : "string"
            },
            "updateDate" : {
"description" : "Gets the update date.",
"type" : "string"
            },
            "companyId" : {
"description" : "Gets the company id.",
"type" : "string"
            },
            "customerAccountId" : {
"description" : "Gets the customer account id.",
"type" : "string"
            },
            "namedAccountId" : {
"description" : "Gets the named account id.",
"type" : "string"
            },
            "companyCode" : {
"description" : "Gets the company code.",
"type" : "string"
            },
            "customerAccountCode" : {
"description" : "Gets the customer account code.",
"type" : "string"
            },
            "responsibleOfficeId" : {
"description" : "Gets the responsible office id.",
"type" : "string"
            },
            "regionName" : {
"description" : "Gets the region name.",
"type" : "string"
            },
            "responsibleUser" : {
"description" : "Gets the responsible user.",
"type" : "string"
            },
            "headerId" : {
"description" : "Gets the header id.",
"type" : "string"
            },
            "namedAccountDescription" : {
"description" : "Gets the named account description.",
"type" : "string"
            },
            "controlFlag" : {
"description" : "Gets the control flag.",
"type" : "object"
            },
            "grdb" : {
"description" : "Checks if is grdb.",
"type" : "boolean"
            },
            "fileTempUrl" : {
"description" : "Gets the file temp url.",
"type" : "string"
            },
            "trasmited" : {
"description" : "Checks if is trasmited.",
"type" : "boolean"
            },
            "downloadFromMailLink" : {
"description" : "Check if Download from mail\r\nreturn true if it is Download from mail",
"type" : "boolean"
            },
            "downloadType" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "jobQueueBean" : {
"description" : "",
"$ref" : "#/definitions/json_JobQueueBean"
            },
            "jobName" : {
"description" : "",
"type" : "string"
            },
            "inputLDAPuserName" : {
"description" : "",
"type" : "string"
            },
            "inputUserOfficeID" : {
"description" : "",
"type" : "number"
            },
            "inputUserFullName" : {
"description" : "",
"type" : "string"
            },
            "inputAlternateCityName" : {
"description" : "",
"type" : "string"
            },
            "inputTimeZone" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "The Class SpreadsheetRateBean is common Spreadsheet Rate bean Data."
    }
    ,
    "json_SummaryTrialBalanceBean" : {
      "type" : "object",
      "title" : "SummaryTrialBalanceBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "accountTo" : {
"description" : "",
"$ref" : "#/definitions/json_GlChartBean"
            },
            "poolSize" : {
"description" : "",
"type" : "number"
            },
            "expireMinute" : {
"description" : "",
"type" : "number"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "showDebitOrCredit" : {
"description" : "",
"type" : "string"
            },
            "includeZeroActivity" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "subTotalBy" : {
"description" : "",
"type" : "string"
            },
            "accountFrom" : {
"description" : "",
"$ref" : "#/definitions/json_GlChartBean"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "asOfDate" : {
"description" : "",
"type" : "string"
            },
            "isIncludeBeginingOrEndingBalance" : {
"description" : "",
"type" : "string"
            },
            "sortBy" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_SummaryTrialBalanceMainBean" : {
      "type" : "object",
      "title" : "SummaryTrialBalanceMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_TariffsBean" : {
      "type" : "object",
      "title" : "TariffsBean",
          "properties" : {
            "updateDate" : {
"description" : "",
"type" : "string"
            },
            "namedAccount" : {
"description" : "",
"type" : "string"
            },
            "regionName" : {
"description" : "",
"type" : "string"
            },
            "tariffID" : {
"description" : "",
"type" : "string"
            },
            "customerAccount" : {
"description" : "",
"type" : "string"
            },
            "companyId" : {
"description" : "",
"type" : "string"
            },
            "tariffFileID" : {
"description" : "",
"type" : "number"
            },
            "dateTime" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "templateName" : {
"description" : "",
"type" : "string"
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "namedAccountDescription" : {
"description" : "",
"type" : "string"
            },
            "userDetails" : {
"description" : "",
"type" : "string"
            },
            "customerAccountCode" : {
"description" : "",
"type" : "string"
            },
            "loginUser" : {
"description" : "",
"type" : "string"
            },
            "tariffName" : {
"description" : "",
"type" : "string"
            },
            "updateOfficeId" : {
"description" : "",
"type" : "string"
            },
            "userID" : {
"description" : "",
"type" : "string"
            },
            "namedaccountid" : {
"description" : "",
"type" : "string"
            },
            "companyCode" : {
"description" : "",
"type" : "string"
            },
            "createLdapUser" : {
"description" : "",
"type" : "string"
            },
            "updateLdapUser" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "standardRateExcluded" : {
"description" : "",
"type" : "string"
            },
            "customer" : {
"description" : "",
"type" : "string"
            },
            "createOfficeId" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_TrialBalanceCriteriaBean" : {
      "type" : "object",
      "title" : "TrialBalanceCriteriaBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeTo" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasTo" : {
"description" : "",
"type" : "string"
            },
            "organizationNameFrom" : {
"description" : "",
"type" : "string"
            },
            "statementCycleTo" : {
"description" : "",
"type" : "string"
            },
            "sortBy" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "dateType" : {
"description" : "",
"type" : "string"
            },
            "threadCustomerChunkSize" : {
"description" : "",
"type" : "number"
            },
            "statementCycleFrom" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "subLedger" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "openClosedStatus" : {
"description" : "",
"type" : "string"
            },
            "organizationNameTo" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "threadPoolSize" : {
"description" : "",
"type" : "number"
            },
            "salesRepresentative" : {
"description" : "",
"type" : "string"
            },
            "fromDate" : {
"description" : "",
"type" : "string"
            },
            "chunkThresholdSize" : {
"description" : "",
"type" : "number"
            },
            "organizationAliasFrom" : {
"description" : "",
"type" : "string"
            },
            "toDate" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_TrialBalanceMainBean_artrialbalance" : {
      "type" : "object",
      "title" : "TrialBalanceMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
          "properties" : {
            "listOfTrialBalanceResultBean" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_TrialBalanceResultBean"
}
}
            },
            "trialBalanceCriteriaBean" : {
"description" : "",
"$ref" : "#/definitions/json_TrialBalanceCriteriaBean"
            },
            "listOfTrialBalanceTotalResultBean" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_TrialBalanceResultBean"
}
}
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_TrialBalanceMainBean" : {
      "type" : "object",
      "title" : "TrialBalanceMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
          "properties" : {
            "reportCriteria" : {
"description" : "",
"$ref" : "#/definitions/json_TrialBalanceReportBean"
            },
            "reportResult" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_TrialBalanceReportResultBean"
}
}
            },
            "beginingBalance" : {
"description" : "",
"type" : "object"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_TrialBalanceReportBean" : {
      "type" : "object",
      "title" : "TrialBalanceReportBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "vendorNameFrom" : {
"description" : "",
"type" : "string"
            },
            "vendorType" : {
"description" : "",
"type" : "string"
            },
            "sort" : {
"description" : "",
"type" : "string"
            },
            "vendorTypeValue" : {
"description" : "",
"type" : "string"
            },
            "vendorCycleTo" : {
"description" : "",
"type" : "string"
            },
            "vendorNameTo" : {
"description" : "",
"type" : "string"
            },
            "dateType" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "sourceFrom" : {
"description" : "",
"type" : "string"
            },
            "sourceTo" : {
"description" : "",
"type" : "string"
            },
            "dateFrom" : {
"description" : "",
"type" : "string"
            },
            "vendorCodeTo" : {
"description" : "",
"type" : "string"
            },
            "trialBalancestatus" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "vendorCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "dateTo" : {
"description" : "",
"type" : "string"
            },
            "vendorCycleFrom" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_TrialBalanceReportResultBean" : {
      "type" : "object",
      "title" : "TrialBalanceReportResultBean",
          "properties" : {
            "expenseAmountlocal" : {
"description" : "",
"type" : "number"
            },
            "division" : {
"description" : "",
"type" : "string"
            },
            "vendorCode" : {
"description" : "",
"type" : "string"
            },
            "balanceBeginingOfPeriod" : {
"description" : "",
"type" : "string"
            },
            "vendorType" : {
"description" : "",
"type" : "string"
            },
            "glDate" : {
"description" : "",
"type" : "string"
            },
            "fileNumber" : {
"description" : "",
"type" : "string"
            },
            "voucherCurrency" : {
"description" : "",
"type" : "string"
            },
            "chargeCategory" : {
"description" : "",
"type" : "string"
            },
            "fileDirection" : {
"description" : "",
"type" : "string"
            },
            "glNo" : {
"description" : "",
"type" : "string"
            },
            "voucherBalancelocal" : {
"description" : "",
"type" : "string"
            },
            "periodActivityPayments" : {
"description" : "",
"type" : "string"
            },
            "foreignAmountDetail" : {
"description" : "",
"type" : "number"
            },
            "vendorCycle" : {
"description" : "",
"type" : "string"
            },
            "invDate" : {
"description" : "",
"type" : "string"
            },
            "paymentDate" : {
"description" : "",
"type" : "string"
            },
            "localAmountDetail" : {
"description" : "",
"type" : "number"
            },
            "voucherNumber" : {
"description" : "",
"type" : "string"
            },
            "voucherAmountForeign" : {
"description" : "",
"type" : "number"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "vendorCountry" : {
"description" : "",
"type" : "string"
            },
            "applyTo" : {
"description" : "",
"type" : "string"
            },
            "voucherCurrencyDetail" : {
"description" : "",
"type" : "string"
            },
            "vendorAlias" : {
"description" : "",
"type" : "string"
            },
            "originalShipmentRefType" : {
"description" : "",
"type" : "string"
            },
            "shipmentRefNumber" : {
"description" : "",
"type" : "string"
            },
            "source" : {
"description" : "",
"type" : "string"
            },
            "balanceAtEndOfPeriod" : {
"description" : "",
"type" : "string"
            },
            "sub" : {
"description" : "",
"type" : "string"
            },
            "invoiceDate" : {
"description" : "",
"type" : "string"
            },
            "expectedVendorCode" : {
"description" : "",
"type" : "string"
            },
            "originalShipmentReference" : {
"description" : "",
"type" : "string"
            },
            "paymentType" : {
"description" : "",
"type" : "string"
            },
            "periodActivityVouchers" : {
"description" : "",
"type" : "string"
            },
            "department" : {
"description" : "",
"type" : "string"
            },
            "originalFileNumber" : {
"description" : "",
"type" : "string"
            },
            "balanceAmountDetail" : {
"description" : "",
"type" : "number"
            },
            "typeOfMove" : {
"description" : "",
"type" : "string"
            },
            "shipmentRefType" : {
"description" : "",
"type" : "string"
            },
            "paymentReference" : {
"description" : "",
"type" : "string"
            },
            "vendorName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_TrialBalanceResultBean" : {
      "type" : "object",
      "title" : "TrialBalanceResultBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "fileNumber" : {
"description" : "",
"type" : "string"
            },
            "paymentReference" : {
"description" : "",
"type" : "string"
            },
            "countOfTransactions" : {
"description" : "",
"type" : "number"
            },
            "invoiceSource" : {
"description" : "",
"type" : "string"
            },
            "organizationAlias" : {
"description" : "",
"type" : "string"
            },
            "statementCycle" : {
"description" : "",
"type" : "string"
            },
            "gl" : {
"description" : "",
"type" : "string"
            },
            "division" : {
"description" : "",
"type" : "string"
            },
            "sourceCode" : {
"description" : "",
"type" : "string"
            },
            "invoiceLocalAmount" : {
"description" : "",
"type" : "number"
            },
            "invoiceType" : {
"description" : "",
"type" : "string"
            },
            "shipmentReference" : {
"description" : "",
"type" : "string"
            },
            "fileDirection" : {
"description" : "",
"type" : "string"
            },
            "applyTo" : {
"description" : "",
"type" : "string"
            },
            "paymentDate" : {
"description" : "",
"type" : "string"
            },
            "invoiceForeignAmount" : {
"description" : "",
"type" : "number"
            },
            "glDate" : {
"description" : "",
"type" : "string"
            },
            "invoiceNumber" : {
"description" : "",
"type" : "string"
            },
            "invoiceTotal" : {
"description" : "",
"type" : "number"
            },
            "customerReference" : {
"description" : "",
"type" : "string"
            },
            "invoiceBalanceRepDt" : {
"description" : "",
"type" : "number"
            },
            "organizationCountry" : {
"description" : "",
"type" : "string"
            },
            "organizationType" : {
"description" : "",
"type" : "string"
            },
            "organizationName" : {
"description" : "",
"type" : "string"
            },
            "salesRep" : {
"description" : "",
"type" : "string"
            },
            "sub" : {
"description" : "",
"type" : "string"
            },
            "organizationCode" : {
"description" : "",
"type" : "string"
            },
            "typeOfMove" : {
"description" : "",
"type" : "string"
            },
            "invoiceBalanceSysDt" : {
"description" : "",
"type" : "number"
            },
            "invoiceDate" : {
"description" : "",
"type" : "string"
            },
            "department" : {
"description" : "",
"type" : "string"
            },
            "beginBalance" : {
"description" : "",
"type" : "number"
            },
            "closingBal" : {
"description" : "",
"type" : "number"
            },
            "paymentType" : {
"description" : "",
"type" : "string"
            },
            "invoiceCurrency" : {
"description" : "",
"type" : "string"
            },
            "originalFileNumber" : {
"description" : "",
"type" : "string"
            },
            "arBatch" : {
"description" : "",
"type" : "string"
            },
            "paymentTotal" : {
"description" : "",
"type" : "number"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ValidateInputBean" : {
      "type" : "object",
      "title" : "ValidateInputBean",
          "properties" : {
            "customer" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "validationType" : {
"description" : "",
"$ref" : "#/definitions/json_RateExceptionType"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "includeTimeZoneCompany" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            }
          },
      "description" : ""
    }
    ,
    "json_ValidateRateMainBean" : {
      "type" : "object",
      "title" : "ValidateRateMainBean",
          "properties" : {
            "company" : {
"description" : "",
"type" : "string"
            },
            "totalRatesExpired" : {
"description" : "",
"type" : "number"
            },
            "customer" : {
"description" : "",
"type" : "string"
            },
            "fobRates" : {
"description" : "",
"type" : "number"
            },
            "ofrRates" : {
"description" : "",
"type" : "number"
            },
            "plcRates" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_VendorListingCriteriaBean" : {
      "type" : "object",
      "title" : "VendorListingCriteriaBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "sortOption" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "vendorTypeMap" : {
"description" : "",
"type" : "object"
            },
            "vendorCodeTo" : {
"description" : "",
"type" : "string"
            },
            "countryName" : {
"description" : "",
"type" : "string"
            },
            "userCode" : {
"description" : "",
"type" : "string"
            },
            "countryCode" : {
"description" : "",
"type" : "string"
            },
            "vendorType" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "vendorCycle" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "allStatusSelected" : {
"description" : "",
"type" : "boolean"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "runOption" : {
"description" : "",
"type" : "string"
            },
            "vendorCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "vendorStatus" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_VendorListingReportMainBean" : {
      "type" : "object",
      "title" : "VendorListingReportMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
          "properties" : {
            "reportResult" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_VendorListingReportResultBean"
}
}
            },
            "reportCriteria" : {
"description" : "",
"$ref" : "#/definitions/json_VendorListingCriteriaBean"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_VendorListingReportResultBean" : {
      "type" : "object",
      "title" : "VendorListingReportResultBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "taxCode" : {
"description" : "",
"type" : "string"
            },
            "chargeCategory" : {
"description" : "",
"type" : "string"
            },
            "countryName" : {
"description" : "",
"type" : "string"
            },
            "terms" : {
"description" : "",
"type" : "string"
            },
            "city" : {
"description" : "",
"type" : "string"
            },
            "countryCode" : {
"description" : "",
"type" : "string"
            },
            "alias" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "vendorType" : {
"description" : "",
"type" : "string"
            },
            "vendor" : {
"description" : "",
"type" : "string"
            },
            "name2" : {
"description" : "",
"type" : "string"
            },
            "reportStatus" : {
"description" : "",
"type" : "string"
            },
            "einNumber" : {
"description" : "",
"type" : "string"
            },
            "contactName" : {
"description" : "",
"type" : "string"
            },
            "phone" : {
"description" : "",
"type" : "string"
            },
            "name1" : {
"description" : "",
"type" : "string"
            },
            "controlOffice" : {
"description" : "",
"type" : "string"
            },
            "address2" : {
"description" : "",
"type" : "string"
            },
            "reservationAccount" : {
"description" : "",
"type" : "string"
            },
            "type1099" : {
"description" : "",
"type" : "string"
            },
            "address1" : {
"description" : "",
"type" : "string"
            },
            "zip" : {
"description" : "",
"type" : "string"
            },
            "comments2" : {
"description" : "",
"type" : "string"
            },
            "state" : {
"description" : "",
"type" : "string"
            },
            "comments1" : {
"description" : "",
"type" : "string"
            },
            "billingType" : {
"description" : "",
"type" : "string"
            },
            "vendorCycle" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_VoucherPostingBean" : {
      "type" : "object",
      "title" : "VoucherPostingBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "userOffice" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "transmitBatchFrom" : {
"description" : "",
"type" : "string"
            },
            "ldapUserName" : {
"description" : "",
"type" : "string"
            },
            "office" : {
"description" : "",
"type" : "string"
            },
            "threadPoolSize" : {
"description" : "",
"type" : "number"
            },
            "threadThreshold" : {
"description" : "",
"type" : "number"
            },
            "billingType" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "apPostedDateFrom" : {
"description" : "",
"type" : "string"
            },
            "apPostedDateTo" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "runOption" : {
"description" : "",
"type" : "string"
            },
            "voucherNoTo" : {
"description" : "",
"type" : "string"
            },
            "userCode" : {
"description" : "",
"type" : "string"
            },
            "voucherNoFrom" : {
"description" : "",
"type" : "string"
            },
            "billingTypeName" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "sourceCodeTo" : {
"description" : "",
"type" : "string"
            },
            "apBatch" : {
"description" : "",
"type" : "string"
            },
            "transmitBatchTo" : {
"description" : "",
"type" : "string"
            },
            "threadChunkSize" : {
"description" : "",
"type" : "number"
            },
            "userCompany" : {
"description" : "",
"type" : "string"
            },
            "userName" : {
"description" : "",
"type" : "string"
            },
            "sourceCodeFrom" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_VoucherPostingMainBean" : {
      "type" : "object",
      "title" : "VoucherPostingMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_ARInvoiceAgingReportCriteriaBean" : {
      "type" : "object",
      "title" : "ARInvoiceAgingReportCriteriaBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "reportOnDate" : {
"description" : "",
"type" : "string"
            },
            "typeDownload" : {
"description" : "",
"type" : "string"
            },
            "typeReportDetails" : {
"description" : "",
"type" : "string"
            },
            "includeNotes" : {
"description" : "",
"type" : "string"
            },
            "userCompany" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket3" : {
"description" : "",
"type" : "string"
            },
            "amountRangeFrom" : {
"description" : "",
"type" : "string"
            },
            "issuingOfficeFrom" : {
"description" : "",
"type" : "string"
            },
            "sortByText" : {
"description" : "",
"type" : "string"
            },
            "sortBy" : {
"description" : "",
"type" : "string"
            },
            "issuingOfficeTo" : {
"description" : "",
"type" : "string"
            },
            "debugMode" : {
"description" : "",
"type" : "string"
            },
            "autoStatementEnabled" : {
"description" : "",
"type" : "string"
            },
            "creditOnImport" : {
"description" : "",
"type" : "string"
            },
            "overdueByDays" : {
"description" : "",
"type" : "string"
            },
            "statementCycleTo" : {
"description" : "",
"type" : "string"
            },
            "creditHold" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket5" : {
"description" : "",
"type" : "string"
            },
            "organizationTypeText" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket1" : {
"description" : "",
"type" : "string"
            },
            "organizationNameTo" : {
"description" : "",
"type" : "string"
            },
            "organizationNameFrom" : {
"description" : "",
"type" : "string"
            },
            "runUser" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket2" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket6" : {
"description" : "",
"type" : "string"
            },
            "reportOnDateText" : {
"description" : "",
"type" : "string"
            },
            "invoiceTypeText" : {
"description" : "",
"type" : "string"
            },
            "invoiceType" : {
"description" : "",
"type" : "string"
            },
            "invoiceStatus" : {
"description" : "",
"type" : "string"
            },
            "invoiceStatusText" : {
"description" : "",
"type" : "string"
            },
            "schemaId" : {
"description" : "",
"type" : "string"
            },
            "agingIntervalsBucket4" : {
"description" : "",
"type" : "string"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasTo" : {
"description" : "",
"type" : "string"
            },
            "ageBy" : {
"description" : "",
"type" : "string"
            },
            "amountRangeTo" : {
"description" : "",
"type" : "string"
            },
            "disputedInvoicesText" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasFrom" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeTo" : {
"description" : "",
"type" : "string"
            },
            "organizationType" : {
"description" : "",
"type" : "string"
            },
            "disputedInvoices" : {
"description" : "",
"type" : "string"
            },
            "asOfDate" : {
"description" : "",
"type" : "string"
            },
            "statementCycleFrom" : {
"description" : "",
"type" : "string"
            },
            "salesRepresentative" : {
"description" : "",
"type" : "string"
            },
            "ageByText" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_ARInvoiceAgingReportMainBean" : {
      "type" : "object",
      "title" : "ARInvoiceAgingReportMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_AwbRequestBean" : {
      "type" : "object",
      "title" : "AwbRequestBean",
          "properties" : {
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "referenceNo" : {
"description" : "",
"type" : "string"
            },
            "locale" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "string"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : "Request bean for incoming eAWB request"
    }
    ,
    "json_CashReceiptsJournalBean" : {
      "type" : "object",
      "title" : "CashReceiptsJournalBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "organizationCodeFrom" : {
"description" : "",
"type" : "string"
            },
            "timeZone" : {
"description" : "",
"type" : "string"
            },
            "postedToAR" : {
"description" : "",
"type" : "string"
            },
            "organizationNameFrom" : {
"description" : "",
"type" : "string"
            },
            "organizationNameTo" : {
"description" : "",
"type" : "string"
            },
            "showCurrency" : {
"description" : "",
"type" : "string"
            },
            "dateFrom" : {
"description" : "",
"type" : "string"
            },
            "dateTo" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasTo" : {
"description" : "",
"type" : "string"
            },
            "organizationAliasFrom" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "subLedger" : {
"description" : "",
"type" : "string"
            },
            "organizationCodeTo" : {
"description" : "",
"type" : "string"
            },
            "accountReceivableBatchFrom" : {
"description" : "",
"type" : "string"
            },
            "localCurrency" : {
"description" : "",
"type" : "string"
            },
            "collectionOffice" : {
"description" : "",
"type" : "string"
            },
            "companyName" : {
"description" : "",
"type" : "string"
            },
            "accountReceivableBatchTo" : {
"description" : "",
"type" : "string"
            },
            "fileType" : {
"description" : "",
"type" : "string"
            },
            "paymentRefTo" : {
"description" : "",
"type" : "string"
            },
            "paymentType" : {
"description" : "",
"type" : "string"
            },
            "paymentRefFrom" : {
"description" : "",
"type" : "string"
            },
            "statementCycleFrom" : {
"description" : "",
"type" : "string"
            },
            "bankCode" : {
"description" : "",
"type" : "string"
            },
            "statementCycleTo" : {
"description" : "",
"type" : "string"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_CashReceiptsJournalMainBean" : {
      "type" : "object",
      "title" : "CashReceiptsJournalMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_GenerateReportMainBean"
        },
        {
        }
      ],
      "description" : ""
    }
    ,
    "json_CommonBean" : {
      "type" : "object",
      "title" : "CommonBean",
          "properties" : {
            "inputUserFullname" : {
"description" : "",
"type" : "string"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "updateUserFullname" : {
"description" : "",
"type" : "string"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "number"
            },
            "userSchemaID" : {
"description" : "",
"type" : "number"
            },
            "inputLdapUser" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "updateUser" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "companyId" : {
"description" : "",
"type" : "number"
            },
            "updateDate" : {
"description" : "",
"type" : "string"
            },
            "id" : {
"description" : "",
"type" : "number"
            },
            "locale" : {
"description" : "",
"type" : "string"
            },
            "updateLdapUser" : {
"description" : "",
"type" : "string"
            },
            "decimalAllowed" : {
"description" : "",
"type" : "boolean"
            },
            "officeTimezone" : {
"description" : "",
"type" : "string"
            },
            "updateUserOffice" : {
"description" : "",
"type" : "string"
            },
            "recordOverflow" : {
"description" : "",
"type" : "boolean"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "maxNumberOfRows" : {
"description" : "",
"type" : "number"
            },
            "inputUserOffice" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_CommonServiceParamBean" : {
      "type" : "object",
      "title" : "CommonServiceParamBean",
          "properties" : {
            "module" : {
"description" : "Jul 3, 2015",
"$ref" : "#/definitions/json_Module"
            },
            "serviceCode" : {
"description" : "Jul 3, 2015",
"type" : "string"
            },
            "officeId" : {
"description" : "Jul 3, 2015",
"type" : "number"
            }
          },
      "description" : "<p>\r\nParameters that required to call to call service layer dynamically.\r\n<\/p>"
    }
    ,
    "json_DownloadRateInputBean" : {
      "type" : "object",
      "title" : "DownloadRateInputBean",
          "properties" : {
            "customer" : {
"description" : "",
"type" : "string"
            },
            "company" : {
"description" : "",
"type" : "string"
            },
            "inputDate" : {
"description" : "",
"type" : "string"
            },
            "fileId" : {
"description" : "",
"type" : "string"
            },
            "downloadType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_FieldsBean" : {
      "type" : "object",
      "title" : "FieldsBean",
          "properties" : {
            "fieldAliasName" : {
"description" : "Gets the field alias name.",
"type" : "string"
            },
            "fieldId" : {
"description" : "Gets the field id.",
"type" : "number"
            },
            "sheetId" : {
"description" : "Gets the sheet id.",
"type" : "number"
            },
            "fieldName" : {
"description" : "Gets the field name.",
"type" : "string"
            },
            "fieldMappedCode" : {
"description" : "Gets the field mapped code.",
"type" : "string"
            }
          },
      "description" : "The Class FieldsBean."
    }
    ,
    "json_GenerateExcelInputBean" : {
      "type" : "object",
      "title" : "GenerateExcelInputBean",
          "properties" : {
            "standardRateExcluded" : {
"description" : "",
"type" : "boolean"
            },
            "ratingSearchMainBean" : {
"description" : "",
"$ref" : "#/definitions/json_RatingSearchMainBean"
            },
            "inputUser" : {
"description" : "",
"type" : "string"
            },
            "tariffDownload" : {
"description" : "",
"type" : "boolean"
            },
            "fileId" : {
"description" : "",
"type" : "number"
            },
            "fileName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_GenerateReportMainBean" : {
      "type" : "object",
      "title" : "GenerateReportMainBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "dataJobQueue" : {
"description" : "",
"$ref" : "#/definitions/json_JobQueueBean"
            },
            "criteria" : {
"description" : "",
"$ref" : "#/definitions/json_CommonBean"
            },
            "reportJobQueue" : {
"description" : "",
"$ref" : "#/definitions/json_JobQueueBean"
            }
          }
        }
      ],
      "description" : ""
    }
    ,
    "json_GlChartBean" : {
      "type" : "object",
      "title" : "GlChartBean",
      "allOf" : [
        {
          "$ref" : "#/definitions/json_CommonBean"
        },
        {
          "properties" : {
            "description" : {
"description" : "",
"type" : "string"
            },
            "callForMP" : {
"description" : "",
"type" : "boolean"
            },
            "totalLevel" : {
"description" : "",
[...]
