{
  "swagger": "2.0",
  "info" : {
    "description" : "<h1>phoenix-framework<\/h1>",
    "version" : "1.0",
    "title" : "phoenix-framework"
  },
  "host" : "shipco.phxcloud.io",
  "basePath" : "/phoenix/1.0",
  "schemes" : [],
  "tags" : [
    {
      "name" : "BusinessRuleResource"
    }
    ,
    {
      "name" : "CommonSendDocumentsResource"
    }
    ,
    {
      "name" : "ExecuteReportWebResource"
      ,
      "description" : "Execute Report Web Resource."
    }
    ,
    {
      "name" : "FileNumberAutoGenerateResource"
    }
    ,
    {
      "name" : "LoginResource"
      ,
      "description" : "Added for PHX-20326 - Web service to get loginbean."
    }
    ,
    {
      "name" : "LoginResource"
    }
    ,
    {
      "name" : "OfficeSettingResource"
      ,
      "description" : "Added by smahajan:PHX-19299\r\nAs Phoenix user, Third Party events must show correct time format as per office setting."
    }
    ,
    {
      "name" : "OrganizationSearchResource"
      ,
      "description" : "This class is web service implementation for organization search."
    }
  ],
  "definitions" : {
    "json_BusinessRuleRequestBean" : {
      "type" : "object",
      "title" : "BusinessRuleRequestBean",
          "properties" : {
            "shipmentStatusUpdateBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipmentStatusUpdateBean"
            },
            "objectMap" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_ExecuteReportRequestBean" : {
      "type" : "object",
      "title" : "ExecuteReportRequestBean",
          "properties" : {
            "userOfficeID" : {
"description" : "",
"type" : "number"
            },
            "userSchemaName" : {
"description" : "",
"type" : "string"
            },
            "perlReportBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PerlReportBean"
}
}
            },
            "userID" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_GenDefinesBean" : {
      "type" : "object",
      "title" : "GenDefinesBean",
          "properties" : {
            "globalUrl" : {
"description" : "",
"type" : "string"
            },
            "jasperUrlPath" : {
"description" : "",
"type" : "string"
            },
            "jspBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "phpBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "phpShellPath" : {
"description" : "",
"type" : "string"
            },
            "urlPath" : {
"description" : "",
"type" : "string"
            },
            "formHome" : {
"description" : "",
"type" : "string"
            },
            "phpBaseurl" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUserName" : {
"description" : "",
"type" : "string"
            },
            "formBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "oracleEnv" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUrl" : {
"description" : "",
"type" : "string"
            },
            "perlBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "perlHome" : {
"description" : "",
"type" : "string"
            },
            "dataSource" : {
"description" : "",
"type" : "string"
            },
            "biBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "definesID" : {
"description" : "",
"type" : "number"
            },
            "phpHome" : {
"description" : "",
"type" : "string"
            },
            "configuration" : {
"description" : "",
"type" : "string"
            },
            "tempDirPath" : {
"description" : "",
"type" : "string"
            },
            "ecommercePassword" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PerlReportBean" : {
      "type" : "object",
      "title" : "PerlReportBean",
          "properties" : {
            "passkey11" : {
"description" : "",
"type" : "string"
            },
            "passkey3" : {
"description" : "",
"type" : "string"
            },
            "counter" : {
"description" : "",
"type" : "number"
            },
            "passkey4" : {
"description" : "",
"type" : "string"
            },
            "printerName" : {
"description" : "",
"type" : "string"
            },
            "passkey9" : {
"description" : "",
"type" : "string"
            },
            "passkey13" : {
"description" : "",
"type" : "string"
            },
            "passkey6" : {
"description" : "",
"type" : "string"
            },
            "argumentListMap" : {
"description" : "",
"type" : "object"
            },
            "tag" : {
"description" : "",
"type" : "string"
            },
            "passkey20" : {
"description" : "",
"type" : "string"
            },
            "argumentMap" : {
"description" : "",
"type" : "object"
            },
            "passkey21" : {
"description" : "",
"type" : "string"
            },
            "passkey19" : {
"description" : "",
"type" : "string"
            },
            "passkey12" : {
"description" : "",
"type" : "string"
            },
            "passkey15" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "passkey17" : {
"description" : "",
"type" : "string"
            },
            "passkey" : {
"description" : "",
"type" : "string"
            },
            "phoenixSystemUserBean" : {
"description" : "",
"$ref" : "#/definitions/json_PhoenixSystemUserBean"
            },
            "passkey7" : {
"description" : "",
"type" : "string"
            },
            "passkey10" : {
"description" : "",
"type" : "string"
            },
            "passkey5" : {
"description" : "",
"type" : "string"
            },
            "key" : {
"description" : "",
"type" : "string"
            },
            "passkey23" : {
"description" : "",
"type" : "string"
            },
            "passkey16" : {
"description" : "",
"type" : "string"
            },
            "passkey2" : {
"description" : "",
"type" : "string"
            },
            "passkey14" : {
"description" : "",
"type" : "string"
            },
            "perlscriptName" : {
"description" : "",
"type" : "string"
            },
            "passkey22" : {
"description" : "",
"type" : "string"
            },
            "passkey18" : {
"description" : "",
"type" : "string"
            },
            "passkey1" : {
"description" : "",
"type" : "string"
            },
            "executeVia" : {
"description" : "",
"type" : "string"
            },
            "passkey8" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PhoenixSystemUserBean" : {
      "type" : "object",
      "title" : "PhoenixSystemUserBean",
          "properties" : {
            "officeSettingMap" : {
"description" : "",
"type" : "object"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "userEmail" : {
"description" : "",
"type" : "string"
            },
            "userFullName" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "genDefinesBean" : {
"description" : "",
"$ref" : "#/definitions/json_GenDefinesBean"
            },
            "debugMode" : {
"description" : "",
"type" : "string"
            },
            "companyGroupName" : {
"description" : "",
"type" : "string"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "ldapUserName" : {
"description" : "",
"type" : "string"
            },
            "userName" : {
"description" : "",
"type" : "string"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "companyCode" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "number"
            },
            "userPassword" : {
"description" : "",
"type" : "string"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "customer" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "success" : {
"description" : "",
"type" : "number"
            },
            "result" : {
"description" : "",
"type" : "object"
            },
            "errorCode" : {
"description" : "",
"type" : "string"
            },
            "message" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusEventBean" : {
      "type" : "object",
      "title" : "ShipmentStatusEventBean",
          "properties" : {
            "commentParams" : {
"description" : "",
"type" : "object"
            },
            "eventName" : {
"description" : "",
"type" : "string"
            },
            "comment" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusUpdateBean" : {
      "type" : "object",
      "title" : "ShipmentStatusUpdateBean",
          "properties" : {
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "objectCode" : {
"description" : "",
"type" : "string"
            },
            "relatedRerefence" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "shipmentType" : {
"description" : "",
"type" : "string"
            },
            "deletedReference" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "eventList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShipmentStatusEventBean"
}
}
            },
            "deletedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "notesShownOnCodes" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "relatedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "shipmentId" : {
"description" : "",
"type" : "string"
            },
            "userSchemaId" : {
"description" : "",
"type" : "number"
            },
            "documentHistoryId" : {
"description" : "",
"type" : "number"
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "publicPrivateType" : {
"description" : "",
"type" : "string"
            },
            "clausesText" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_BusinessRuleRequestBean" : {
      "type" : "object",
      "title" : "BusinessRuleRequestBean",
          "properties" : {
            "objectMap" : {
"description" : "",
"type" : "object"
            },
            "shipmentStatusUpdateBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipmentStatusUpdateBean"
            }
          },
      "description" : ""
    }
    ,
    "json_ExecuteReportRequestBean" : {
      "type" : "object",
      "title" : "ExecuteReportRequestBean",
          "properties" : {
            "userOfficeID" : {
"description" : "",
"type" : "number"
            },
            "userID" : {
"description" : "",
"type" : "number"
            },
            "perlReportBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PerlReportBean"
}
}
            },
            "userSchemaName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_GenDefinesBean" : {
      "type" : "object",
      "title" : "GenDefinesBean",
          "properties" : {
            "globalUrl" : {
"description" : "",
"type" : "string"
            },
            "urlPath" : {
"description" : "",
"type" : "string"
            },
            "phpBaseurl" : {
"description" : "",
"type" : "string"
            },
            "jasperUrlPath" : {
"description" : "",
"type" : "string"
            },
            "phpBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "oracleEnv" : {
"description" : "",
"type" : "string"
            },
            "tempDirPath" : {
"description" : "",
"type" : "string"
            },
            "perlBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "perlHome" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUrl" : {
"description" : "",
"type" : "string"
            },
            "jspBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUserName" : {
"description" : "",
"type" : "string"
            },
            "definesID" : {
"description" : "",
"type" : "number"
            },
            "phpShellPath" : {
"description" : "",
"type" : "string"
            },
            "dataSource" : {
"description" : "",
"type" : "string"
            },
            "biBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "ecommercePassword" : {
"description" : "",
"type" : "string"
            },
            "formBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "phpHome" : {
"description" : "",
"type" : "string"
            },
            "configuration" : {
"description" : "",
"type" : "string"
            },
            "formHome" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PerlReportBean" : {
      "type" : "object",
      "title" : "PerlReportBean",
          "properties" : {
            "argumentListMap" : {
"description" : "",
"type" : "object"
            },
            "passkey11" : {
"description" : "",
"type" : "string"
            },
            "counter" : {
"description" : "",
"type" : "number"
            },
            "passkey18" : {
"description" : "",
"type" : "string"
            },
            "passkey13" : {
"description" : "",
"type" : "string"
            },
            "passkey14" : {
"description" : "",
"type" : "string"
            },
            "passkey17" : {
"description" : "",
"type" : "string"
            },
            "passkey8" : {
"description" : "",
"type" : "string"
            },
            "passkey" : {
"description" : "",
"type" : "string"
            },
            "perlscriptName" : {
"description" : "",
"type" : "string"
            },
            "passkey19" : {
"description" : "",
"type" : "string"
            },
            "passkey21" : {
"description" : "",
"type" : "string"
            },
            "printerName" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "passkey23" : {
"description" : "",
"type" : "string"
            },
            "key" : {
"description" : "",
"type" : "string"
            },
            "passkey1" : {
"description" : "",
"type" : "string"
            },
            "passkey12" : {
"description" : "",
"type" : "string"
            },
            "passkey9" : {
"description" : "",
"type" : "string"
            },
            "passkey2" : {
"description" : "",
"type" : "string"
            },
            "argumentMap" : {
"description" : "",
"type" : "object"
            },
            "passkey10" : {
"description" : "",
"type" : "string"
            },
            "passkey4" : {
"description" : "",
"type" : "string"
            },
            "passkey15" : {
"description" : "",
"type" : "string"
            },
            "passkey5" : {
"description" : "",
"type" : "string"
            },
            "phoenixSystemUserBean" : {
"description" : "",
"$ref" : "#/definitions/json_PhoenixSystemUserBean"
            },
            "passkey20" : {
"description" : "",
"type" : "string"
            },
            "passkey16" : {
"description" : "",
"type" : "string"
            },
            "passkey7" : {
"description" : "",
"type" : "string"
            },
            "passkey22" : {
"description" : "",
"type" : "string"
            },
            "executeVia" : {
"description" : "",
"type" : "string"
            },
            "tag" : {
"description" : "",
"type" : "string"
            },
            "passkey3" : {
"description" : "",
"type" : "string"
            },
            "passkey6" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PhoenixSystemUserBean" : {
      "type" : "object",
      "title" : "PhoenixSystemUserBean",
          "properties" : {
            "companyCode" : {
"description" : "",
"type" : "string"
            },
            "ldapUserName" : {
"description" : "",
"type" : "string"
            },
            "userName" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "userId" : {
"description" : "",
"type" : "number"
            },
            "userEmail" : {
"description" : "",
"type" : "string"
            },
            "userFullName" : {
"description" : "",
"type" : "string"
            },
            "companyGroupName" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "officeSettingMap" : {
"description" : "",
"type" : "object"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "userPassword" : {
"description" : "",
"type" : "string"
            },
            "customer" : {
"description" : "",
"type" : "string"
            },
            "debugMode" : {
"description" : "",
"type" : "string"
            },
            "genDefinesBean" : {
"description" : "",
"$ref" : "#/definitions/json_GenDefinesBean"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "errorCode" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "result" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusEventBean" : {
      "type" : "object",
      "title" : "ShipmentStatusEventBean",
          "properties" : {
            "eventName" : {
"description" : "",
"type" : "string"
            },
            "commentParams" : {
"description" : "",
"type" : "object"
            },
            "comment" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusUpdateBean" : {
      "type" : "object",
      "title" : "ShipmentStatusUpdateBean",
          "properties" : {
            "deletedReference" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "notesShownOnCodes" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "userSchemaId" : {
"description" : "",
"type" : "number"
            },
            "eventList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShipmentStatusEventBean"
}
}
            },
            "relatedRerefence" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "documentHistoryId" : {
"description" : "",
"type" : "number"
            },
            "shipmentType" : {
"description" : "",
"type" : "string"
            },
            "shipmentId" : {
"description" : "",
"type" : "string"
            },
            "relatedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "clausesText" : {
"description" : "",
"type" : "string"
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "publicPrivateType" : {
"description" : "",
"type" : "string"
            },
            "objectCode" : {
"description" : "",
"type" : "string"
            },
            "deletedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            }
          },
      "description" : ""
    }
  },
  "paths": {
    "\/businessRule/callBusinessRule" : {
      "post" : {
        "tags" : [ "BusinessRuleResource" ],
        "description" : "",
        "operationId" : "resource_BusinessRuleResource_callBusinessRules_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_BusinessRuleRequestBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/documents/get_email_template" : {
      "post" : {
        "tags" : [ "CommonSendDocumentsResource" ],
        "description" : "",
        "operationId" : "resource_CommonSendDocumentsResource_getEmailTemplate_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/documents/send" : {
      "post" : {
        "tags" : [ "CommonSendDocumentsResource" ],
        "description" : "",
        "operationId" : "resource_CommonSendDocumentsResource_sendDocuments_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "customer",
            "in" : "query",
            "type" : "string",
            "description" : ""
          },
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/execute_report/execute_perl_report" : {
      "post" : {
        "tags" : [ "ExecuteReportWebResource" ],
        "summary" : "Execute Perl Report.",
        "description" : "Execute Perl Report",
        "operationId" : "resource_ExecuteReportWebResource_executePerlReport_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ExecuteReportRequestBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/file/autogenerate" : {
      "post" : {
        "tags" : [ "FileNumberAutoGenerateResource" ],
        "description" : "",
        "operationId" : "resource_FileNumberAutoGenerateResource_autogenerateImportFileNumber_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "file"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/loginbean/fetch" : {
      "post" : {
        "tags" : [ "LoginResource" ],
        "description" : "",
        "operationId" : "resource_LoginResource_fetchLoginBean_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "file"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/login/authenticateUser" : {
      "post" : {
        "tags" : [ "LoginResource" ],
        "summary" : "This is done For PHX-22414\r\nCustomer search service validation\r\nbased on user authentication.",
        "description" : "This is done For PHX-22414\r\nCustomer search service validation\r\nbased on user authentication",
        "operationId" : "resource_LoginResource_webservice_authenticateUser_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/login/getLoginBean" : {
      "post" : {
        "tags" : [ "LoginResource" ],
        "description" : "",
        "operationId" : "resource_LoginResource_webservice_getLoginBean_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/office/office_settings" : {
      "get" : {
        "tags" : [ "OfficeSettingResource" ],
        "description" : "",
        "operationId" : "resource_OfficeSettingResource_callBusinessRules_GET",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "officeCode",
            "in" : "query",
            "type" : "string",
            "description" : ""
          }
        ],
        "responses" : {
          "200" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/fetch/orgdata/json" : {
      "post" : {
        "tags" : [ "OrganizationSearchResource" ],
        "description" : "",
        "operationId" : "resource_OrganizationSearchResource_fetchOrgDataJson_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/fetch/orgdata/xml" : {
      "post" : {
        "tags" : [ "OrganizationSearchResource" ],
        "description" : "",
        "operationId" : "resource_OrganizationSearchResource_fetchOrgDataxml_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
  }
}
