{
  "swagger": "2.0",
  "info" : {
    "description" : "<h1>phoenix-air<\/h1>",
    "version" : "1.0",
    "title" : "phoenix-air"
  },
  "host" : "scan-it.phxcloud.io",
  "basePath" : "/phoenix/1.0",
  "schemes" : [],
  "tags" : [
    {
      "name" : "BookingClassificationResource"
      ,
      "description" : "Booking Classification Web Service."
    }
    ,
    {
      "name" : "BusinessRuleResource"
    }
    ,
    {
      "name" : "CommonSendDocumentsResource"
    }
    ,
    {
      "name" : "ExecuteReportWebResource"
      ,
      "description" : "Execute Report Web Resource."
    }
    ,
    {
      "name" : "FileNumberAutoGenerateResource"
    }
    ,
    {
      "name" : "LoginResource"
      ,
      "description" : "Added for PHX-20326 - Web service to get loginbean."
    }
    ,
    {
      "name" : "LoginResource"
    }
    ,
    {
      "name" : "OfficeSettingResource"
      ,
      "description" : "Added by smahajan:PHX-19299\r\nAs Phoenix user, Third Party events must show correct time format as per office setting."
    }
    ,
    {
      "name" : "OrganizationContactResource"
      ,
      "description" : "This Rest Service is designed for Organization Contact Maintenance page."
    }
    ,
    {
      "name" : "OrganizationSearchResource"
      ,
      "description" : "This class is web service implementation for organization search."
    }
    ,
    {
      "name" : "WarehouseInventoryResource"
      ,
      "description" : "Web service for warehouse inventory report."
    }
  ],
  "definitions" : {
    "json_BookingClassificationParamBean" : {
      "type" : "object",
      "title" : "BookingClassificationParamBean",
          "properties" : {
            "yearComparative" : {
"description" : "",
"type" : "boolean"
            },
            "deliveryMethod" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "monthly" : {
"description" : "",
"type" : "boolean"
            },
            "reportOutputType" : {
"description" : "",
"type" : "string"
            },
            "mode" : {
"description" : "",
"type" : "string"
            },
            "jobType" : {
"description" : "",
"type" : "string"
            },
            "monthlyComparative" : {
"description" : "",
"type" : "boolean"
            },
            "weight" : {
"description" : "",
"type" : "string"
            },
            "customerDetailMap" : {
"description" : "",
"type" : "object"
            },
            "reportName" : {
"description" : "",
"type" : "string"
            },
            "emailFrom" : {
"description" : "",
"type" : "string"
            },
            "accumulatedYear" : {
"description" : "",
"type" : "boolean"
            },
            "emailTo" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_BusinessRuleRequestBean" : {
      "type" : "object",
      "title" : "BusinessRuleRequestBean",
          "properties" : {
            "shipmentStatusUpdateBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipmentStatusUpdateBean"
            },
            "objectMap" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_ExecuteReportRequestBean" : {
      "type" : "object",
      "title" : "ExecuteReportRequestBean",
          "properties" : {
            "userSchemaName" : {
"description" : "",
"type" : "string"
            },
            "userID" : {
"description" : "",
"type" : "number"
            },
            "perlReportBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PerlReportBean"
}
}
            },
            "userOfficeID" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_GenDefinesBean" : {
      "type" : "object",
      "title" : "GenDefinesBean",
          "properties" : {
            "configuration" : {
"description" : "",
"type" : "string"
            },
            "formHome" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUrl" : {
"description" : "",
"type" : "string"
            },
            "jasperUrlPath" : {
"description" : "",
"type" : "string"
            },
            "perlBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "phpHome" : {
"description" : "",
"type" : "string"
            },
            "phpBaseurl" : {
"description" : "",
"type" : "string"
            },
            "oracleEnv" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUserName" : {
"description" : "",
"type" : "string"
            },
            "phpShellPath" : {
"description" : "",
"type" : "string"
            },
            "perlHome" : {
"description" : "",
"type" : "string"
            },
            "phpBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "definesID" : {
"description" : "",
"type" : "number"
            },
            "jspBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "biBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "formBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "dataSource" : {
"description" : "",
"type" : "string"
            },
            "urlPath" : {
"description" : "",
"type" : "string"
            },
            "ecommercePassword" : {
"description" : "",
"type" : "string"
            },
            "globalUrl" : {
"description" : "",
"type" : "string"
            },
            "tempDirPath" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactBean" : {
      "type" : "object",
      "title" : "OrganizationContactBean",
          "properties" : {
            "customerName" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "contactReference" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "contactDocumentBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_OrganizationContactDocumentBean"
}
}
            },
            "customerId" : {
"description" : "",
"type" : "number"
            },
            "contactDetailBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_OrganizationContactDetailBean"
}
}
            },
            "contactName" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactDetailBean" : {
      "type" : "object",
      "title" : "OrganizationContactDetailBean",
          "properties" : {
            "status" : {
"description" : "",
"type" : "boolean"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "contactType" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "userCreate" : {
"description" : "",
"type" : "string"
            },
            "customerContactId" : {
"description" : "",
"type" : "number"
            },
            "contactValue" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactDocumentBean" : {
      "type" : "object",
      "title" : "OrganizationContactDocumentBean",
          "properties" : {
            "documentID" : {
"description" : "",
"type" : "number"
            },
            "documentContactId" : {
"description" : "",
"type" : "number"
            },
            "documentCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactSearchBean" : {
      "type" : "object",
      "title" : "OrganizationContactSearchBean",
          "properties" : {
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "customerName" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_PerlReportBean" : {
      "type" : "object",
      "title" : "PerlReportBean",
          "properties" : {
            "passkey20" : {
"description" : "",
"type" : "string"
            },
            "passkey18" : {
"description" : "",
"type" : "string"
            },
            "passkey5" : {
"description" : "",
"type" : "string"
            },
            "passkey6" : {
"description" : "",
"type" : "string"
            },
            "passkey4" : {
"description" : "",
"type" : "string"
            },
            "passkey9" : {
"description" : "",
"type" : "string"
            },
            "passkey15" : {
"description" : "",
"type" : "string"
            },
            "passkey16" : {
"description" : "",
"type" : "string"
            },
            "passkey" : {
"description" : "",
"type" : "string"
            },
            "perlscriptName" : {
"description" : "",
"type" : "string"
            },
            "counter" : {
"description" : "",
"type" : "number"
            },
            "phoenixSystemUserBean" : {
"description" : "",
"$ref" : "#/definitions/json_PhoenixSystemUserBean"
            },
            "passkey2" : {
"description" : "",
"type" : "string"
            },
            "executeVia" : {
"description" : "",
"type" : "string"
            },
            "passkey14" : {
"description" : "",
"type" : "string"
            },
            "passkey21" : {
"description" : "",
"type" : "string"
            },
            "passkey19" : {
"description" : "",
"type" : "string"
            },
            "passkey1" : {
"description" : "",
"type" : "string"
            },
            "passkey23" : {
"description" : "",
"type" : "string"
            },
            "printerName" : {
"description" : "",
"type" : "string"
            },
            "passkey7" : {
"description" : "",
"type" : "string"
            },
            "passkey3" : {
"description" : "",
"type" : "string"
            },
            "passkey17" : {
"description" : "",
"type" : "string"
            },
            "argumentMap" : {
"description" : "",
"type" : "object"
            },
            "passkey13" : {
"description" : "",
"type" : "string"
            },
            "passkey12" : {
"description" : "",
"type" : "string"
            },
            "passkey8" : {
"description" : "",
"type" : "string"
            },
            "key" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            },
            "tag" : {
"description" : "",
"type" : "string"
            },
            "passkey11" : {
"description" : "",
"type" : "string"
            },
            "passkey22" : {
"description" : "",
"type" : "string"
            },
            "argumentListMap" : {
"description" : "",
"type" : "object"
            },
            "passkey10" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PhoenixSystemUserBean" : {
      "type" : "object",
      "title" : "PhoenixSystemUserBean",
          "properties" : {
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "companyGroupName" : {
"description" : "",
"type" : "string"
            },
            "customer" : {
"description" : "",
"type" : "string"
            },
            "ldapUserName" : {
"description" : "",
"type" : "string"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "debugMode" : {
"description" : "",
"type" : "string"
            },
            "companyCode" : {
"description" : "",
"type" : "string"
            },
            "officeSettingMap" : {
"description" : "",
"type" : "object"
            },
            "genDefinesBean" : {
"description" : "",
"$ref" : "#/definitions/json_GenDefinesBean"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "userFullName" : {
"description" : "",
"type" : "string"
            },
            "userName" : {
"description" : "",
"type" : "string"
            },
            "userPassword" : {
"description" : "",
"type" : "string"
            },
            "userEmail" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "userId" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "errorCode" : {
"description" : "",
"type" : "string"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "result" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson_beans" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "errorCode" : {
"description" : "",
"type" : "string"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "result" : {
"description" : "",
"type" : "object"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusEventBean" : {
      "type" : "object",
      "title" : "ShipmentStatusEventBean",
          "properties" : {
            "commentParams" : {
"description" : "",
"type" : "object"
            },
            "eventName" : {
"description" : "",
"type" : "string"
            },
            "comment" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusUpdateBean" : {
      "type" : "object",
      "title" : "ShipmentStatusUpdateBean",
          "properties" : {
            "objectCode" : {
"description" : "",
"type" : "string"
            },
            "documentHistoryId" : {
"description" : "",
"type" : "number"
            },
            "relatedRerefence" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "publicPrivateType" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "deletedReference" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "deletedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "userSchemaId" : {
"description" : "",
"type" : "number"
            },
            "shipmentType" : {
"description" : "",
"type" : "string"
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "relatedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "eventList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShipmentStatusEventBean"
}
}
            },
            "notesShownOnCodes" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "clausesText" : {
"description" : "",
"type" : "string"
            },
            "shipmentId" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_WarehouseInventoryBean" : {
      "type" : "object",
      "title" : "WarehouseInventoryBean",
          "properties" : {
            "deliveryMethod" : {
"description" : "",
"type" : "string"
            },
            "ccEmail" : {
"description" : "",
"type" : "string"
            },
            "consigneeCode" : {
"description" : "",
"type" : "string"
            },
            "reportOptionString" : {
"description" : "",
"type" : "string"
            },
            "referenceNo" : {
"description" : "",
"type" : "string"
            },
            "subject" : {
"description" : "",
"type" : "string"
            },
            "fromActivityDate" : {
"description" : "",
"type" : "string"
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "emailBody" : {
"description" : "",
"type" : "string"
            },
            "reportOption" : {
"description" : "",
"type" : "string"
            },
            "bccEmail" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "number"
            },
            "shipperAliasCode" : {
"description" : "",
"type" : "string"
            },
            "fromEmail" : {
"description" : "",
"type" : "string"
            },
            "warehouseCode" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "toEmail" : {
"description" : "",
"type" : "string"
            },
            "currentSchema" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "mesurement" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "toActivityDate" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_BookingClassificationParamBean" : {
      "type" : "object",
      "title" : "BookingClassificationParamBean",
          "properties" : {
            "reportName" : {
"description" : "",
"type" : "string"
            },
            "customerDetailMap" : {
"description" : "",
"type" : "object"
            },
            "monthlyComparative" : {
"description" : "",
"type" : "boolean"
            },
            "yearComparative" : {
"description" : "",
"type" : "boolean"
            },
            "emailTo" : {
"description" : "",
"type" : "string"
            },
            "weight" : {
"description" : "",
"type" : "string"
            },
            "accumulatedYear" : {
"description" : "",
"type" : "boolean"
            },
            "emailFrom" : {
"description" : "",
"type" : "string"
            },
            "reportOutputType" : {
"description" : "",
"type" : "string"
            },
            "reportType" : {
"description" : "",
"type" : "string"
            },
            "jobType" : {
"description" : "",
"type" : "string"
            },
            "deliveryMethod" : {
"description" : "",
"type" : "string"
            },
            "mode" : {
"description" : "",
"type" : "string"
            },
            "monthly" : {
"description" : "",
"type" : "boolean"
            }
          },
      "description" : ""
    }
    ,
    "json_BusinessRuleRequestBean" : {
      "type" : "object",
      "title" : "BusinessRuleRequestBean",
          "properties" : {
            "objectMap" : {
"description" : "",
"type" : "object"
            },
            "shipmentStatusUpdateBean" : {
"description" : "",
"$ref" : "#/definitions/json_ShipmentStatusUpdateBean"
            }
          },
      "description" : ""
    }
    ,
    "json_ExecuteReportRequestBean" : {
      "type" : "object",
      "title" : "ExecuteReportRequestBean",
          "properties" : {
            "userSchemaName" : {
"description" : "",
"type" : "string"
            },
            "userOfficeID" : {
"description" : "",
"type" : "number"
            },
            "userID" : {
"description" : "",
"type" : "number"
            },
            "perlReportBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_PerlReportBean"
}
}
            }
          },
      "description" : ""
    }
    ,
    "json_GenDefinesBean" : {
      "type" : "object",
      "title" : "GenDefinesBean",
          "properties" : {
            "urlPath" : {
"description" : "",
"type" : "string"
            },
            "formHome" : {
"description" : "",
"type" : "string"
            },
            "phpShellPath" : {
"description" : "",
"type" : "string"
            },
            "formBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "definesID" : {
"description" : "",
"type" : "number"
            },
            "jspBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "phpBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "biBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "tempDirPath" : {
"description" : "",
"type" : "string"
            },
            "configuration" : {
"description" : "",
"type" : "string"
            },
            "globalUrl" : {
"description" : "",
"type" : "string"
            },
            "jasperUrlPath" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUrl" : {
"description" : "",
"type" : "string"
            },
            "dataSource" : {
"description" : "",
"type" : "string"
            },
            "phpHome" : {
"description" : "",
"type" : "string"
            },
            "perlBaseUrl" : {
"description" : "",
"type" : "string"
            },
            "ecommercePassword" : {
"description" : "",
"type" : "string"
            },
            "perlHome" : {
"description" : "",
"type" : "string"
            },
            "ecommerceUserName" : {
"description" : "",
"type" : "string"
            },
            "oracleEnv" : {
"description" : "",
"type" : "string"
            },
            "phpBaseurl" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactBean" : {
      "type" : "object",
      "title" : "OrganizationContactBean",
          "properties" : {
            "customerName" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "contactDocumentBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_OrganizationContactDocumentBean"
}
}
            },
            "customerId" : {
"description" : "",
"type" : "number"
            },
            "contactName" : {
"description" : "",
"type" : "string"
            },
            "contactReference" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "contactDetailBeans" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_OrganizationContactDetailBean"
}
}
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactDetailBean" : {
      "type" : "object",
      "title" : "OrganizationContactDetailBean",
          "properties" : {
            "customerContactId" : {
"description" : "",
"type" : "number"
            },
            "userCreate" : {
"description" : "",
"type" : "string"
            },
            "status" : {
"description" : "",
"type" : "boolean"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "contactValue" : {
"description" : "",
"type" : "string"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "contactType" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactDocumentBean" : {
      "type" : "object",
      "title" : "OrganizationContactDocumentBean",
          "properties" : {
            "documentID" : {
"description" : "",
"type" : "number"
            },
            "documentContactId" : {
"description" : "",
"type" : "number"
            },
            "documentCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_OrganizationContactSearchBean" : {
      "type" : "object",
      "title" : "OrganizationContactSearchBean",
          "properties" : {
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "customerCode" : {
"description" : "",
"type" : "string"
            },
            "customerName" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_PerlReportBean" : {
      "type" : "object",
      "title" : "PerlReportBean",
          "properties" : {
            "passkey19" : {
"description" : "",
"type" : "string"
            },
            "passkey13" : {
"description" : "",
"type" : "string"
            },
            "passkey3" : {
"description" : "",
"type" : "string"
            },
            "passkey16" : {
"description" : "",
"type" : "string"
            },
            "passkey" : {
"description" : "",
"type" : "string"
            },
            "passkey22" : {
"description" : "",
"type" : "string"
            },
            "passkey17" : {
"description" : "",
"type" : "string"
            },
            "passkey18" : {
"description" : "",
"type" : "string"
            },
            "perlscriptName" : {
"description" : "",
"type" : "string"
            },
            "passkey2" : {
"description" : "",
"type" : "string"
            },
            "passkey11" : {
"description" : "",
"type" : "string"
            },
            "passkey23" : {
"description" : "",
"type" : "string"
            },
            "passkey15" : {
"description" : "",
"type" : "string"
            },
            "executeVia" : {
"description" : "",
"type" : "string"
            },
            "phoenixSystemUserBean" : {
"description" : "",
"$ref" : "#/definitions/json_PhoenixSystemUserBean"
            },
            "passkey9" : {
"description" : "",
"type" : "string"
            },
            "key" : {
"description" : "",
"type" : "string"
            },
            "passkey21" : {
"description" : "",
"type" : "string"
            },
            "passkey10" : {
"description" : "",
"type" : "string"
            },
            "passkey8" : {
"description" : "",
"type" : "string"
            },
            "passkey1" : {
"description" : "",
"type" : "string"
            },
            "passkey5" : {
"description" : "",
"type" : "string"
            },
            "counter" : {
"description" : "",
"type" : "number"
            },
            "printerName" : {
"description" : "",
"type" : "string"
            },
            "passkey6" : {
"description" : "",
"type" : "string"
            },
            "argumentMap" : {
"description" : "",
"type" : "object"
            },
            "passkey12" : {
"description" : "",
"type" : "string"
            },
            "passkey4" : {
"description" : "",
"type" : "string"
            },
            "passkey7" : {
"description" : "",
"type" : "string"
            },
            "tag" : {
"description" : "",
"type" : "string"
            },
            "argumentListMap" : {
"description" : "",
"type" : "object"
            },
            "passkey14" : {
"description" : "",
"type" : "string"
            },
            "passkey20" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_PhoenixSystemUserBean" : {
      "type" : "object",
      "title" : "PhoenixSystemUserBean",
          "properties" : {
            "userEmail" : {
"description" : "",
"type" : "string"
            },
            "companyGroupName" : {
"description" : "",
"type" : "string"
            },
            "userPassword" : {
"description" : "",
"type" : "string"
            },
            "userName" : {
"description" : "",
"type" : "string"
            },
            "officeCode" : {
"description" : "",
"type" : "string"
            },
            "debugMode" : {
"description" : "",
"type" : "string"
            },
            "genDefinesBean" : {
"description" : "",
"$ref" : "#/definitions/json_GenDefinesBean"
            },
            "userId" : {
"description" : "",
"type" : "number"
            },
            "alternateCityName" : {
"description" : "",
"type" : "string"
            },
            "companyCode" : {
"description" : "",
"type" : "string"
            },
            "userFullName" : {
"description" : "",
"type" : "string"
            },
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "ldapUserName" : {
"description" : "",
"type" : "string"
            },
            "officeSettingMap" : {
"description" : "",
"type" : "object"
            },
            "schemaName" : {
"description" : "",
"type" : "string"
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "timezone" : {
"description" : "",
"type" : "string"
            },
            "customer" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "message" : {
"description" : "",
"type" : "string"
            },
            "errorCode" : {
"description" : "",
"type" : "string"
            },
            "result" : {
"description" : "",
"type" : "object"
            },
            "success" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_ResultJson_beans" : {
      "type" : "object",
      "title" : "ResultJson",
          "properties" : {
            "result" : {
"description" : "",
"type" : "object"
            },
            "message" : {
"description" : "",
"type" : "string"
            },
            "success" : {
"description" : "",
"type" : "number"
            },
            "errorCode" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusEventBean" : {
      "type" : "object",
      "title" : "ShipmentStatusEventBean",
          "properties" : {
            "commentParams" : {
"description" : "",
"type" : "object"
            },
            "eventName" : {
"description" : "",
"type" : "string"
            },
            "comment" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
    ,
    "json_ShipmentStatusUpdateBean" : {
      "type" : "object",
      "title" : "ShipmentStatusUpdateBean",
          "properties" : {
            "eventList" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_ShipmentStatusEventBean"
}
}
            },
            "deletedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "officeId" : {
"description" : "",
"type" : "number"
            },
            "objectCode" : {
"description" : "",
"type" : "string"
            },
            "publicPrivateType" : {
"description" : "",
"type" : "string"
            },
            "notesShownOnCodes" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "referenceNumber" : {
"description" : "",
"type" : "string"
            },
            "documentHistoryId" : {
"description" : "",
"type" : "number"
            },
            "deletedReference" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "relatedType" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "clausesText" : {
"description" : "",
"type" : "string"
            },
            "shipmentType" : {
"description" : "",
"type" : "string"
            },
            "relatedRerefence" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "shipmentId" : {
"description" : "",
"type" : "string"
            },
            "userSchemaId" : {
"description" : "",
"type" : "number"
            }
          },
      "description" : ""
    }
    ,
    "json_WarehouseInventoryBean" : {
      "type" : "object",
      "title" : "WarehouseInventoryBean",
          "properties" : {
            "siteId" : {
"description" : "",
"type" : "number"
            },
            "subject" : {
"description" : "",
"type" : "string"
            },
            "toActivityDate" : {
"description" : "",
"type" : "string"
            },
            "userId" : {
"description" : "",
"type" : "number"
            },
            "shipperAliasCode" : {
"description" : "",
"type" : "string"
            },
            "deliveryMethod" : {
"description" : "",
"type" : "string"
            },
            "fromEmail" : {
"description" : "",
"type" : "string"
            },
            "referenceNo" : {
"description" : "",
"type" : "string"
            },
            "toEmail" : {
"description" : "",
"type" : "string"
            },
            "bccEmail" : {
"description" : "",
"type" : "string"
            },
            "dischargePortCode" : {
"description" : "",
"type" : "string"
            },
            "destinationCode" : {
"description" : "",
"type" : "string"
            },
            "mesurement" : {
"description" : "",
"type" : "string"
            },
            "reportOption" : {
"description" : "",
"type" : "string"
            },
            "currentSchema" : {
"description" : "",
"type" : "string"
            },
            "emailBody" : {
"description" : "",
"type" : "string"
            },
            "warehouseCode" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "type" : "string"
}
}
            },
            "shipperCode" : {
"description" : "",
"type" : "string"
            },
            "consigneeCode" : {
"description" : "",
"type" : "string"
            },
            "ccEmail" : {
"description" : "",
"type" : "string"
            },
            "fromActivityDate" : {
"description" : "",
"type" : "string"
            },
            "reportOptionString" : {
"description" : "",
"type" : "string"
            }
          },
      "description" : ""
    }
  },
  "paths": {
    "\/bookingclassification/mail" : {
      "post" : {
        "tags" : [ "BookingClassificationResource" ],
        "description" : "",
        "operationId" : "resource_BookingClassificationResource_sendMail_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_BookingClassificationParamBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/businessRule/callBusinessRule" : {
      "post" : {
        "tags" : [ "BusinessRuleResource" ],
        "description" : "",
        "operationId" : "resource_BusinessRuleResource_callBusinessRules_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_BusinessRuleRequestBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/documents/get_email_template" : {
      "post" : {
        "tags" : [ "CommonSendDocumentsResource" ],
        "description" : "",
        "operationId" : "resource_CommonSendDocumentsResource_getEmailTemplate_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/documents/send" : {
      "post" : {
        "tags" : [ "CommonSendDocumentsResource" ],
        "description" : "",
        "operationId" : "resource_CommonSendDocumentsResource_sendDocuments_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "customer",
            "in" : "query",
            "type" : "string",
            "description" : ""
          },
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/execute_report/execute_perl_report" : {
      "post" : {
        "tags" : [ "ExecuteReportWebResource" ],
        "summary" : "Execute Perl Report.",
        "description" : "Execute Perl Report",
        "operationId" : "resource_ExecuteReportWebResource_executePerlReport_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ExecuteReportRequestBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/file/autogenerate" : {
      "post" : {
        "tags" : [ "FileNumberAutoGenerateResource" ],
        "description" : "",
        "operationId" : "resource_FileNumberAutoGenerateResource_autogenerateImportFileNumber_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "file"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/loginbean/fetch" : {
      "post" : {
        "tags" : [ "LoginResource" ],
        "description" : "",
        "operationId" : "resource_LoginResource_fetchLoginBean_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "file"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/login/authenticateUser" : {
      "post" : {
        "tags" : [ "LoginResource" ],
        "summary" : "This is done For PHX-22414\r\nCustomer search service validation\r\nbased on user authentication.",
        "description" : "This is done For PHX-22414\r\nCustomer search service validation\r\nbased on user authentication",
        "operationId" : "resource_LoginResource_webservice_authenticateUser_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/login/getLoginBean" : {
      "post" : {
        "tags" : [ "LoginResource" ],
        "description" : "",
        "operationId" : "resource_LoginResource_webservice_getLoginBean_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/office/office_settings" : {
      "get" : {
        "tags" : [ "OfficeSettingResource" ],
        "description" : "",
        "operationId" : "resource_OfficeSettingResource_callBusinessRules_GET",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "officeCode",
            "in" : "query",
            "type" : "string",
            "description" : ""
          }
        ],
        "responses" : {
          "200" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/organizationContact/remove" : {
      "post" : {
        "tags" : [ "OrganizationContactResource" ],
        "summary" : "Rest Service path /organizationContact/remove.",
        "description" : "Rest Service path /organizationContact/remove",
        "operationId" : "resource_OrganizationContactResource_removeData_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_OrganizationContactBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson_beans"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/organizationContact/save" : {
      "post" : {
        "tags" : [ "OrganizationContactResource" ],
        "summary" : "Rest Service path /organizationContact/save.",
        "description" : "Rest Service path /organizationContact/save",
        "operationId" : "resource_OrganizationContactResource_saveData_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_OrganizationContactBean"
}
}
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson_beans"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/organizationContact/search" : {
      "post" : {
        "tags" : [ "OrganizationContactResource" ],
        "summary" : "Rest Service path /organizationContact/search.",
        "description" : "Rest Service path /organizationContact/search",
        "operationId" : "resource_OrganizationContactResource_searchData_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_OrganizationContactSearchBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson_beans"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/organizationContact/update" : {
      "post" : {
        "tags" : [ "OrganizationContactResource" ],
        "summary" : "Rest Service path /organizationContact/update.",
        "description" : "Rest Service path /organizationContact/update",
        "operationId" : "resource_OrganizationContactResource_updateData_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "array",
"items" : {
"type" : "array",
"items" : {
  "$ref" : "#/definitions/json_OrganizationContactBean"
}
}
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson_beans"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/fetch/orgdata/json" : {
      "post" : {
        "tags" : [ "OrganizationSearchResource" ],
        "description" : "",
        "operationId" : "resource_OrganizationSearchResource_fetchOrgDataJson_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/fetch/orgdata/xml" : {
      "post" : {
        "tags" : [ "OrganizationSearchResource" ],
        "description" : "",
        "operationId" : "resource_OrganizationSearchResource_fetchOrgDataxml_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/warehouseinventory/cargoData" : {
      "post" : {
        "tags" : [ "WarehouseInventoryResource" ],
        "description" : "",
        "operationId" : "resource_WarehouseInventoryResource_getWarehouseInventory_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"type" : "string"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
    ,
    "\/warehouseinventory/mail" : {
      "post" : {
        "tags" : [ "WarehouseInventoryResource" ],
        "description" : "",
        "operationId" : "resource_WarehouseInventoryResource_sendWarehouseInventoryReport_POST",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_WarehouseInventoryBean"
            },
            "description" : ""
          }
        ],
        "responses" : {
          "201" : {
            "schema" : {
"description" : "",
"$ref" : "#/definitions/json_ResultJson"
            },
            "headers" : {
            },
            "description" : "Success"
          },
          "default" : {
            "description" : "Unexpected error."
          }
        }
      }
    }
  }
}
